  <h3 class="ui center aligned icon header" style="font-size:20px;margin:10px 0 10px 0;">
    <div class="content">商品留言</div>
  </h3>
<div class="infinite-table">
  <table id="payments_table" class="site-font ui sortable selectable teal table">
    <thead>
      <tr>
        <th>編號</th>
        <th>商品名稱</th>
        <th>使用者名稱</th>
        <th>日期</th>
        <th>是否回覆</th>
        <th style="margin: 0 10px 0 10px;">功能</th>
      </tr>
    </thead>
    <tbody>
      <% @messages.each do |message| %>
      <tr>
        <td><%= message.id%></td>
        <td><%= message.product.name%></td>
        <td><%= message.account_name %></td>
        <td><%= message.created_at.strftime("%Y-%m-%d") %></td>
        <td>
        <% if message.status == 1 %>
          已回覆

        <% else %>

          未回覆

        <% end %>
        </td>
 
        <td class="collapsing">
          <button class="ui brown basic button product_message_content" data-value="<%= message.id %>">回覆</button>
          <%= link_to message, class: 'ui orange basic button message_del', method: :delete, data:{id: message.id} do %>
            刪除
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <p class="pagination">
    <%= link_to_next_page @messages, 'Next Page', :params => {:filter => @search_param}%>
  </p>
</div>