<div class="global-wrapper clearfix" id="global-wrapper">
        <%= render "common/theboxheader" %>

<div class="container">

<div class="row pull-left">
<div id="sidebar" class="span3">

<div class="well well-small">
  <ul class="nav nav-list">
  <div class="ui center aligned icon header" style="font-size:18px;margin:20px 0 22px 0;">
  <li> 留言總數： <%= number_with_delimiter(@messages_size, :delimiter => ',') %></li>
  <li><br></li>
    <li><a style="color:black;" href="/messages">一般留言</a></li>
    <li><a style="color:black;" href="/messages?product=1">商品留言</a></li>
    <li><a style="color:black;" href="/messages?order=1">訂單留言</a></li>
    </div>
  </ul>
</div>

  </div>
<!-- 
Body Section 
-->
<div class="span9">
  <h1 class="ui center aligned icon header" style="font-size:28px;margin:20px 0 16px 0;">
    <div class="content">留言管理</div>
  </h1>

    <% if @messages.present? %>
      <% if @messages.size != 0 %>
        <% if params[:order].present? %>
        <%= render :partial => 'order_messages', :object => @messages %>
        <%elsif params[:product].present? %>
        <%= render :partial => 'product_messages', :object => @messages %>
        <% else %>
          <%= render :partial => 'messages', :object => @messages %>
        <% end %>       
      <% else %>
        <h3>未建立！</h3>
      <% end %>
    <% end %>
    
</div>
</div>


</div>


  <div class="gap"></div>
    <%= render "common/footerbar" %>
</div>