<div class="global-wrapper clearfix" id="global-wrapper">
        <%= render "common/theboxheader" %>

<div class="container">

<h1 class="ui center aligned icon header" style="font-size:28px;margin:20px 0 22px 0;">
 
    <div class="content">
      留言版
    </div>
  </h1>
  <%= form_for(@message) do |f| %>
  <div class="ui stackable one column centered grid">
    <div class="fourteen wide column">
      <div class="ui large form" style="text-align:left;">
      <div class="required field">
        <label>主旨 Title：</label>
        <%= f.text_field :title, placeholder: "請輸入主旨" %>
      </div>
      <div class="required field">
        <label>內容 Content：</label>
        <%= f.text_area :content, placeholder: "請輸入內容" %>
      </div>
      </div>
    <br>
    <div class="ui divider"></div>
    <% if @current_user.present? && @current_user.role == 2 %>
    <button id="message_form_submit" class="ui teal basic button">
      <i class="write icon"></i>送出
    </button>
    <% else %>
    <h1 class="ui center aligned icon header">
    <a class="ui red button" style="text-align:center;"  href="/consoles/login">請先登入會員</a>
    </h1>
    <% end %>
    </div>
    </div>
    <% end %>


</div>


  <div class="gap"></div>
    <%= render "common/footerbar" %>
</div>

 <script type="text/javascript">
$(function(){

  $('form').submit(function() {
    var valuesToSubmit = $(this).serialize();
    $("#to_message").addClass("loading");
    console.log($(this).attr('action'));
    $.ajax({
        url: $(this).attr('action'), //sumbits it to the given url of the form
        type: 'POST',
        processData: false,
        contentType: false,
        data: new FormData(this)
    }).success(function(upload_result){
        console.log(upload_result);
        if(upload_result == "success" ){
          window.location.replace("http://"+location.host+"/messages/");
        }
    }).fail(function(e) {
        console.log(e);
    }).done(function(){
      $("#to_message").removeClass("loading");
    });
    return false; // prevents normal behaviour
  });
});

</script>

 <style type="text/css">
.box1{                           
 position:absolute;    
 bottom: 0px;              
}
.box2{                            
 height: 480px;               
 position: relative;
}
</style>