<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <title>GermanySky 德心應手</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap styles -->
    <!-- <link href="assets/css/bootstrap.css" rel="stylesheet"/> -->
    <!-- Customize styles -->
    <!-- <link href="style.css" rel="stylesheet"/> -->
    <!-- font awesome styles -->
	<!-- <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet"> -->
		<!--[if IE 7]>
			<link href="css/font-awesome-ie7.min.css" rel="stylesheet">
		<![endif]-->

		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

	<!-- Favicons -->
    <link rel="shortcut icon" href="<%= asset_path 'ico/favicon.ico' %>">
  </head>
<body style="background:url('<%= asset_path("white_leather.png") %>') repeat 0 0;">
<!-- 
	Upper Header Section 
-->
<%= render "common/topbar" %>

<!--
Lower Header Section 
-->
<div class="container">
<%= render "common/header" %>
<%= render "common/leftmenu" %>
<!-- 
Body Section 
-->
<div class="span9">
<h1 class="ui center aligned icon header" style="font-size:28px;margin:20px 0 22px 0;">
 
    <div class="content">
      留言版
    </div>
  </h1>
  <%= form_for(@message) do |f| %>
  <div class="ui stackable one column centered grid">
    <div class="fourteen wide column">
      <div class="ui large form" style="text-align:left;">
      <div class="required field">
        <label>主旨 Title：</label>
        <%= f.text_field :title, placeholder: "請輸入主旨" %>
      </div>
      <div class="required field">
        <label>內容 Content：</label>
        <%= f.text_area :content, placeholder: "請輸入內容" %>
      </div>
      </div>
    <br>
    <div class="ui divider"></div>
    <% if @current_user.present? && @current_user.role == 2 %>
    <button id="message_form_submit" class="ui teal basic button">
      <i class="write icon"></i>送出
    </button>
    <% else %>
    <a class="ui grey inverted segment" style="text-align:center;" href="/consoles/login">
      <label >請先登入會員</label>
    </a>
    <% end %>
    </div>
    </div>
    <% end %>
</div>
</div>
<!-- 
Clients 
-->
<!--
Footer
-->
<%= render "common/footerbar" %>

  </body>

 <script type="text/javascript">
$(function(){

  $('form').submit(function() {
    var valuesToSubmit = $(this).serialize();
    $("#to_message").addClass("loading");
    console.log($(this).attr('action'));
    $.ajax({
        url: $(this).attr('action'), //sumbits it to the given url of the form
        type: 'POST',
        processData: false,
        contentType: false,
        data: new FormData(this)
    }).success(function(upload_result){
        console.log(upload_result);
        if(upload_result == "success" ){
          window.location.replace("http://"+location.host+"/messages/");
        }
    }).fail(function(e) {
        console.log(e);
    }).done(function(){
      $("#to_message").removeClass("loading");
    });
    return false; // prevents normal behaviour
  });
});

</script>

 <style type="text/css">
.box1{                           
 position:absolute;    
 bottom: 0px;              
}
.box2{                            
 height: 480px;               
 position: relative;
}
</style>