<div style = "width:0px;height:0px">
<img class="ui fluid image" src="<%= asset_path 'hcolorlink.png' %>" alt="">
</div>
<div style = "margin-top:15px; ">
</div>
<div class="ui center aligned grid">
<div class="row" style ="padding:0">
  <div class="nine wide column" style ="padding:0">
    <img class="ui fluid image" src="<%= asset_path 'h_banner.png' %>" alt="">
  </div>
</div>

<div class="row" >
<div class="nine wide column">
<div class="ui two column grid">
<div class="column" style ="padding:1px 1px 1px 1px">
<a href="/hcolors/">
 <img class="ui fluid image" src="<%= asset_path 'btn_k_active.png' %>" alt="">
</a>
  </div>
<div class="column" style ="padding:1px 1px 1px 1px">
<a href="/hcolors/zhongxiao">
 <img class="ui fluid image" src="<%= asset_path 'btn_z.png' %>" alt="">
  </a>
  </div>
  </div>
</div>
</div>

<div class="row" style ="padding:0">
  <div class="nine wide column" style ="padding:0">
    <img class="ui fluid image" src="<%= asset_path 't_hairstylist.png' %>" alt="">
  </div>
</div>

<div class="row" style ="padding:0">
  <div class="nine wide column" style ="padding:0">
    <img class="ui fluid image" src="<%= asset_path 'hcolor04.jpg' %>" alt="">
  </div>
</div>

<div class="row" >
<div class="nine wide column">
<div class="ui two column grid">
<div class="column" style ="padding:0">
<a href="https://goo.gl/Zd3oVC">
 <img class="ui fluid image" src="<%= asset_path 'hcolor_b.png' %>" alt="">
</a>
  </div>
<div class="column" style ="padding:0">
<a href="https://www.facebook.com/media/set/?set=a.724555281017980.1073741832.578899515583558&type=1&l=dddef209bf">
 <img class="ui fluid image" src="<%= asset_path 'hcolor_g.png' %>" alt="">
  </a>
  </div>
  </div>
</div>
</div>


<div class="row" style ="padding:0">
  <div class="nine wide column" style ="padding:0">
    <img class="ui fluid image" src="<%= asset_path 'hcolor03.jpg' %>" alt="">
  </div>
</div>

<div class="row" >
<div class="nine wide column">
<div class="ui two column grid">
<div class="column" style ="padding:0">
<a href="https://goo.gl/Zd3oVC">
 <img class="ui fluid image" src="<%= asset_path 'hcolor_b.png' %>" alt="">
</a>
  </div>
<div class="column" style ="padding:0">
<a href="https://www.facebook.com/media/set/?set=a.724555454351296.1073741833.578899515583558&type=1&l=5520e419e7">
 <img class="ui fluid image" src="<%= asset_path 'hcolor_g.png' %>" alt="">
  </a>
  </div>
  </div>
</div>
</div>

<div class="row" style ="padding:0">
  <div class="nine wide column" style ="padding:0">
    <img class="ui fluid image" src="<%= asset_path 'hair_queen.png' %>" alt="">
  </div>
</div>

<div class="row" >
<div class="nine wide column">
<div class="ui two column grid">
<div class="column" style ="padding:0">
<a href="https://goo.gl/Zd3oVC">
 <img class="ui fluid image" src="<%= asset_path 'hcolor_b.png' %>" alt="">
</a>
  </div>
<div class="column" style ="padding:0">
<a href="https://www.facebook.com/media/set/?set=a.947553685384804.1073741839.578899515583558&type=1&l=9c5993c24d">
 <img class="ui fluid image" src="<%= asset_path 'hcolor_g.png' %>" alt="">
  </a>
  </div>
  </div>
</div>
</div>

<div class="row" style ="padding:0">
  <div class="nine wide column" style ="padding:0">
    <img class="ui fluid image" src="<%= asset_path 'hair_amo.png' %>" alt="">
  </div>
</div>

<div class="row" >
<div class="nine wide column">
<div class="ui two column grid">
<div class="column" style ="padding:0">
<a href="https://goo.gl/Zd3oVC">
 <img class="ui fluid image" src="<%= asset_path 'hcolor_b.png' %>" alt="">
</a>
  </div>
<div class="column" style ="padding:0">
<a href="https://www.facebook.com/media/set/?set=a.947552652051574.1073741837.578899515583558&type=1&l=32433e21bc">
 <img class="ui fluid image" src="<%= asset_path 'hcolor_g.png' %>" alt="">
  </a>
  </div>
  </div>
</div>
</div>

<div class="row" style ="padding:0">
  <div class="nine wide column" style ="padding:0">
    <img class="ui fluid image" src="<%= asset_path 'hair_pn.png' %>" alt="">
  </div>
</div>

<div class="row" >
<div class="nine wide column">
<div class="ui two column grid">
<div class="column" style ="padding:0">
<a href="https://goo.gl/Zd3oVC">
 <img class="ui fluid image" src="<%= asset_path 'hcolor_b.png' %>" alt="">
</a>
  </div>
<div class="column" style ="padding:0">
<a href="https://www.facebook.com/media/set/?set=a.947553448718161.1073741838.578899515583558&type=1&l=7ded6ef19f">
 <img class="ui fluid image" src="<%= asset_path 'hcolor_g.png' %>" alt="">
  </a>
  </div>
  </div>
</div>
</div>


<div class="row" style ="padding:0">
  <div class="nine wide column" style ="padding:0">
    <img class="ui fluid image" src="<%= asset_path 'hcolor06.jpg' %>" alt="">
  </div>
</div>
<div class="row" style ="padding:0">
  <div class="nine wide column" style ="padding:0">
    <img class="ui fluid image" src="<%= asset_path 'hcolor07.jpg' %>" alt="">
  </div>
</div>
<div class="row" style ="padding:0">
<div class="nine wide column">

<div class="ui six column grid">
<div class="column" style ="padding:0">
<a href="https://www.facebook.com/sandmhaircut">
 <img  class="ui fluid image" src="<%= asset_path 'hcolorbtn01.jpg' %>" alt="">
  </a>
  </div>
<div class="column" style ="padding:0">
<a href="https://goo.gl/maps/tpLGGfthQfn">
 <img  class="ui fluid image" src="<%= asset_path 'hcolorbtn02.jpg' %>" alt="">
  </a>
  </div><div class="column" style ="padding:0">
  <a href="https://www.facebook.com/578899515583558/photos/?tab=albums">
 <img  class="ui fluid image" src="<%= asset_path 'hcolorbtn03.jpg' %>" alt="">
  </a>
  </div><div class="column" style ="padding:0">
  <a href="https://goo.gl/Zd3oVC">
 <img  class="ui fluid image" src="<%= asset_path 'hcolorbtn04.jpg' %>" alt="">
  </a>
  </div><div class="column" style ="padding:0">
  <a href="http://m.me/sandmhaircut">
 <img  class="ui fluid image" src="<%= asset_path 'hcolorbtn05.jpg' %>" alt="">
  </a>
  </div><div class="column" style ="padding:0">
  <a href="https://www.facebook.com/sandmhaircut">
 <img  class="ui fluid image" src="<%= asset_path 'hcolorbtn06.jpg' %>" alt="">
  </a>
  </div>
  </div>
</div>
</div>

</div>
