<div style = "margin-top:15px; ">
</div>
<div class="ui center aligned grid">
<div class="row" style ="padding:0">
  <div class="nine wide column" style ="padding:0">
    <img class="ui fluid image" src="<%= asset_path 'h_banner.png' %>" alt="">
  </div>
</div>

<div class="row" >
<div class="nine wide column">
<div class="ui two column grid">
<div class="column" style ="padding:0">
<a href="/hcolors/">
 <img class="ui fluid image" src="<%= asset_path 'btn_k.png' %>" alt="">
 </a>
  </div>
<div class="column" style ="padding:0">
<a href="/hcolors/zhongxiao">
 <img class="ui fluid image" src="<%= asset_path 'btn_z_active.png' %>" alt="">
 </a>
  </div>
  </div>
</div>
</div>
<div class="row" style ="padding:0">
  <div class="nine wide column" style ="padding:0">
    <img src="<%= asset_path 't_hairstylist.png' %>" alt="">
  </div>
</div>

<div class="row" style ="padding:0">
  <div class="nine wide column" style ="padding:0">
    <img class="ui fluid image" src="<%= asset_path 'hcolor02.jpg' %>" alt="">
  </div>
</div>

<div class="row" style ="padding:0">
<div class="nine wide column" style ="padding:0">
<div style = "display:inline">
<div class="column" style = "display:inline">
<a href="https://www.facebook.com/sandmhaircut/photos/?tab=album&album_id=691600430980132">
 <img src="<%= asset_path 'booking.jpg' %>" align="right" >
 </a>
 <img src="<%= asset_path 'gallery.jpg' %>" align="right">
 </div>
  </div>
  </div>
  </div>

<div class="row" style ="padding:0">
  <div class="nine wide column" style ="padding:0">
    <img class="ui fluid image" src="<%= asset_path 'hcolor05.jpg' %>" alt="">
  </div>
</div>

<div class="row" style ="padding:0">
<div class="nine wide column" style ="padding:0">
<div style = "display:inline">
<div class="column" style = "display:inline">
<a href="https://goo.gl/Zd3oVC">
 <img src="<%= asset_path 'booking.jpg' %>" align="right" >
 </a>
 <a href="">
 <img src="<%= asset_path 'gallery.jpg' %>" align="right">
 </a>
 </div>
  </div>
  </div>
  </div>
<div class="row" style ="padding:0">
  <div class="nine wide column" style ="padding:0">
    <img class="ui fluid image" src="<%= asset_path 'hair_an.png' %>" alt="">
  </div>
</div>
<div class="row" style ="padding:0">
<div class="nine wide column" style ="padding:0">
<div style = "display:inline">
<div class="column" style = "display:inline">
<a href="https://www.facebook.com/sandmhaircut/photos/?tab=album&album_id=691600430980132">
 <img src="<%= asset_path 'booking.jpg' %>" align="right" >
 </a>
 <img src="<%= asset_path 'gallery.jpg' %>" align="right">
 </div>
  </div>
  </div>
  </div>
<div class="row" style ="padding:0">
  <div class="nine wide column" style ="padding:0">
    <img class="ui fluid image" src="<%= asset_path 'hair_yumi.png' %>" alt="">
  </div>
</div>
<div class="row" style ="padding:0">
<div class="nine wide column" style ="padding:0">
<div style = "display:inline">
<div class="column" style = "display:inline">
<a href="https://goo.gl/Zd3oVC">
 <img src="<%= asset_path 'booking.jpg' %>" align="right" >
 </a>
 <img src="<%= asset_path 'gallery.jpg' %>" align="right">
 </div>
  </div>
  </div>
  </div>
<div class="row" style ="padding:0">
  <div class="nine wide column" style ="padding:0">
    <img class="ui fluid image" src="<%= asset_path 'hair_bono.png' %>" alt="">
  </div>
</div>
<div class="row" style ="padding:0">
<div class="nine wide column" style ="padding:0">
<div style = "display:inline">
<div class="column" style = "display:inline">
<a href="https://goo.gl/Zd3oVC">
 <img src="<%= asset_path 'booking.jpg' %>" align="right" >
 </a>
 <a href="">
 <img src="<%= asset_path 'gallery.jpg' %>" align="right">
 </a>
 </div>
  </div>
  </div>
  </div>
<div class="row" style ="padding:0">
  <div class="nine wide column" style ="padding:0">
    <img class="ui fluid image" src="<%= asset_path 'hcolor06.jpg' %>" alt="">
  </div>
</div>
<div class="row" style ="padding:0">
  <div class="nine wide column" style ="padding:0">
    <img class="ui fluid image" src="<%= asset_path 'space.png' %>" alt="">
  </div>
</div>
<div class="row" style ="padding:0">
<div class="nine wide column">

<div class="ui six column grid">
<div class="column" style ="padding:0">
<a href="https://www.facebook.com/sandmhaircut">
 <img  class="ui fluid image" src="<%= asset_path 'hcolorbtn01.jpg' %>" alt="">
  </a>
  </div>
<div class="column" style ="padding:0">
<a href="https://goo.gl/maps/tpLGGfthQfn">
 <img  class="ui fluid image" src="<%= asset_path 'hcolorbtn02.jpg' %>" alt="">
  </a>
  </div><div class="column" style ="padding:0">
  <a href="https://www.facebook.com/578899515583558/photos/?tab=albums">
 <img  class="ui fluid image" src="<%= asset_path 'hcolorbtn03.jpg' %>" alt="">
  </a>
  </div><div class="column" style ="padding:0">
  <a href="https://goo.gl/Zd3oVC">
 <img  class="ui fluid image" src="<%= asset_path 'hcolorbtn04.jpg' %>" alt="">
  </a>
  </div><div class="column" style ="padding:0">
  <a href="http://m.me/sandmhaircut">
 <img  class="ui fluid image" src="<%= asset_path 'hcolorbtn05.jpg' %>" alt="">
  </a>
  </div><div class="column" style ="padding:0">
  <a href="https://www.facebook.com/sandmhaircut">
 <img  class="ui fluid image" src="<%= asset_path 'hcolorbtn06.jpg' %>" alt="">
  </a>
  </div>
  </div>
</div>
</div>

</div>
