<div style = "margin-top:15px; ">
</div>
<div class="ui center aligned grid">
<div class="row" style ="padding:0">
  <div class="nine wide column" style ="padding:0">
    <img class="ui fluid image" src="<%= asset_path 'h_banner.png' %>" alt="">
  </div>
</div>

<div class="row" >
<div class="nine wide column">
<div class="ui two column grid">
<div class="column" style ="padding:1px 1px 1px 1px">
<a href="/hcolors/">
 <img class="ui fluid image" src="<%= asset_path 'btn_k.png' %>" alt="">
 </a>
  </div>
<div class="column" style ="padding:1px 1px 1px 1px">
<a href="/hcolors/zhongxiao">
 <img class="ui fluid image" src="<%= asset_path 'btn_z_active.png' %>" alt="">
 </a>
  </div>
  </div>
</div>
</div>
<div class="row" style ="padding:0">
  <div class="nine wide column" style ="padding:0">
    <img class="ui fluid image" src="<%= asset_path 't_hairstylist.png' %>" alt="">
  </div>
</div>

<div class="row" style ="padding:0">
  <div class="nine wide column" style ="padding:0">
    <img class="ui fluid image" src="<%= asset_path 'hcolor02.jpg' %>" alt="">
  </div>
</div>

<div class="row" >
<div class="nine wide column">
<div class="ui two column grid">
<div class="column" style ="padding:0">
<a href="https://goo.gl/Zd3oVC">
 <img class="ui fluid image" src="<%= asset_path 'hcolor_b.png' %>" alt="">
</a>
  </div>
<div class="column" style ="padding:0">
<a href="https://www.facebook.com/media/set/?set=a.691600430980132.1073741831.578899515583558&type=1&l=70a6c82921">
 <img class="ui fluid image" src="<%= asset_path 'hcolor_g.png' %>" alt="">
  </a>
  </div>
  </div>
</div>
</div>


<div class="row" style ="padding:0">
  <div class="nine wide column" style ="padding:0">
    <img class="ui fluid image" src="<%= asset_path 'hcolor05.jpg' %>" alt="">
  </div>
</div>

<div class="row" >
<div class="nine wide column">
<div class="ui two column grid">
<div class="column" style ="padding:0">
<a href="https://goo.gl/Zd3oVC">
 <img class="ui fluid image" src="<%= asset_path 'hcolor_b.png' %>" alt="">
</a>
  </div>
<div class="column" style ="padding:0">
<a href="https://www.facebook.com/media/set/?set=a.808876722585835.1073741834.578899515583558&type=1&l=93b983b60a">
 <img class="ui fluid image" src="<%= asset_path 'hcolor_g.png' %>" alt="">
  </a>
  </div>
  </div>
</div>
</div>

<div class="row" style ="padding:0">
  <div class="nine wide column" style ="padding:0">
    <img class="ui fluid image" src="<%= asset_path 'hair_an.png' %>" alt="">
  </div>
</div>

<div class="row" >
<div class="nine wide column">
<div class="ui two column grid">
<div class="column" style ="padding:0">
<a href="https://goo.gl/Zd3oVC">
 <img class="ui fluid image" src="<%= asset_path 'hcolor_b.png' %>" alt="">
</a>
  </div>
<div class="column" style ="padding:0">
<a href="https://www.facebook.com/media/set/?set=a.947554095384763.1073741840.578899515583558&type=1&l=510ca439f2">
 <img class="ui fluid image" src="<%= asset_path 'hcolor_g.png' %>" alt="">
  </a>
  </div>
  </div>
</div>
</div>

<div class="row" style ="padding:0">
  <div class="nine wide column" style ="padding:0">
    <img class="ui fluid image" src="<%= asset_path 'hair_yumi.png' %>" alt="">
  </div>
</div>
<div class="row" >
<div class="nine wide column">
<div class="ui two column grid">
<div class="column" style ="padding:0">
<a href="https://goo.gl/Zd3oVC">
 <img class="ui fluid image" src="<%= asset_path 'hcolor_b.png' %>" alt="">
</a>
  </div>
<div class="column" style ="padding:0">
<a href="https://www.facebook.com/media/set/?set=a.947554622051377.1073741841.578899515583558&type=1&l=a6d497e302">
 <img class="ui fluid image" src="<%= asset_path 'hcolor_g.png' %>" alt="">
  </a>
  </div>
  </div>
</div>
</div>

<div class="row" style ="padding:0">
  <div class="nine wide column" style ="padding:0">
    <img class="ui fluid image" src="<%= asset_path 'hair_bono.png' %>" alt="">
  </div>
</div>

<div class="row" >
<div class="nine wide column">
<div class="ui two column grid">
<div class="column" style ="padding:0">
<a href="https://goo.gl/Zd3oVC">
 <img class="ui fluid image" src="<%= asset_path 'hcolor_b.png' %>" alt="">
</a>
  </div>
<div class="column" style ="padding:0">
<a href="https://www.facebook.com/media/set/?set=a.947555002051339.1073741842.578899515583558&type=1&l=545c27509a">
 <img class="ui fluid image" src="<%= asset_path 'hcolor_g.png' %>" alt="">
  </a>
  </div>
  </div>
</div>
</div>

<div class="row" style ="padding:0">
  <div class="nine wide column" style ="padding:0">
    <img class="ui fluid image" src="<%= asset_path 'hcolor06.jpg' %>" alt="">
  </div>
</div>
<div class="row" style ="padding:0">
  <div class="nine wide column" style ="padding:0">
    <img class="ui fluid image" src="<%= asset_path 'space.png' %>" alt="">
  </div>
</div>
<div class="row" style ="padding:0">
<div class="nine wide column">

<div class="ui six column grid">
<div class="column" style ="padding:0">
<a href="https://www.facebook.com/sandmhaircut">
 <img  class="ui fluid image" src="<%= asset_path 'hcolorbtn01.jpg' %>" alt="">
  </a>
  </div>
<div class="column" style ="padding:0">
<a href="https://goo.gl/maps/frKgfwcrNqR2">
 <img  class="ui fluid image" src="<%= asset_path 'hcolorbtn02.jpg' %>" alt="">
  </a>
  </div><div class="column" style ="padding:0">
  <a href="https://www.facebook.com/578899515583558/photos/?tab=albums">
 <img  class="ui fluid image" src="<%= asset_path 'hcolorbtn03.jpg' %>" alt="">
  </a>
  </div><div class="column" style ="padding:0">
  <a href="https://goo.gl/Zd3oVC">
 <img  class="ui fluid image" src="<%= asset_path 'hcolorbtn04.jpg' %>" alt="">
  </a>
  </div><div class="column" style ="padding:0">
  <a href="http://m.me/sandmhaircut">
 <img  class="ui fluid image" src="<%= asset_path 'hcolorbtn05.jpg' %>" alt="">
  </a>
  </div><div class="column" style ="padding:0">
  <a href="https://www.facebook.com/sandmhaircut">
 <img  class="ui fluid image" src="<%= asset_path 'hcolorbtn06.jpg' %>" alt="">
  </a>
  </div>
  </div>
</div>
</div>

</div>
