<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>GermanySky 德心應手</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap styles -->
    <!-- <link href="assets/css/bootstrap.css" rel="stylesheet"/> -->
    <!-- Customize styles -->
    <!-- <link href="style.css" rel="stylesheet"/> -->
    <!-- font awesome styles -->
	<!-- <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet"> -->
		<!--[if IE 7]>
			<link href="css/font-awesome-ie7.min.css" rel="stylesheet">
		<![endif]-->

		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

	<!-- Favicons -->
    <link rel="shortcut icon" href="<%= asset_path 'ico/favicon.ico' %>">
  </head>
<body style="background:url('<%= asset_path("white_leather.png") %>') repeat 0 0;">
<!-- 
	Upper Header Section 
-->
<%= render "common/topbar" %>

<!--
Lower Header Section 
-->
<div class="container">
<%= render "common/header" %>
<%= render "common/leftmenu" %>
<!-- 
Body Section 
-->
<div class="span9">
<h1 class="ui center aligned icon header" style="font-size:28px;margin:20px 0 22px 0;">
 
    <div class="content">
      關於我們
    </div>
  </h1>
  <div class="ui segments" >

<div class = "ui segment">
<div class="ui horizontal divider">About Us</div>
Weisu-germanysky 專業德國代購<br>
負責人: Weisu<br>
E-Mail :ge.sky7963@gmail.com<br>
負責人 Weisu<br>
師大中研所畢業   以前的職業是教師<br>
 weisu和先生常年定居德國   <br>
現在專門辦理德國代購 .團購服務<br>
<br>
代購服務秉持的信念是   對客戶認真負責   價格要求平實不浮誇 <br>
有跟過我們團的人都知道 <br>
所以會介紹親朋好友一起來購買-- 大家能以平時的價格  買到德國的好物<br>
沒有來過的  歡迎也來試試看喔<br>
<br>
weisu和所有的媽媽一樣   很重視孩子的教育和健康 <br>
 在德國重視自然健康的生活環境中  每每發現有益孩子教育和家人健康的事物<br>
很樂意推介出和大家分享  <br>
部落格中  我常常會有文章介紹  歡迎常來逛逛  您一定會有收穫喔<br>
</div>
</div>
</div>
</div>
<!-- 
Clients 
-->
<!--
Footer
-->
<%= render "common/footerbar" %>

  </body>
</html>
<script type="text/javascript">

$("#subscription").click(function(){
	email = document.getElementById("newsletter_email").value;
	if (email =="")
		{alert("請輸入郵件");}
	else{
    var request = "/consoles/subscription?email="+email;
    var aj = $.ajax({
        url: request,
        type: 'get',
        data: $(this).serialize(),
        dataType: 'text'
    }).done(function (data) {
     if (data="success"){
      alert( "訂閱成功");
  		}else{
  			alert("訂閱失敗");
  		}

    }).fail(function (data) {
      alert("此email已訂閱");
    });
	}
    });
 </script>
 <style type="text/css">
.box1{                           
 position:absolute;    
 bottom: 0px;              
}
.box2{                            
 height: 480px;               
 position: relative;
}
</style>