<%= javascript_include_tag 'application' %>
<div class="global-wrapper clearfix" id="global-wrapper">
<%= render "common/theboxheader" %>

    <div class="owl-carousel owl-loaded owl-nav-dots-inner" data-options='{"items":1,"loop":true}'>
        <div class="owl-item">
            <div class="slider-item" style="background-image:url(<%= asset_path '17.jpg' %>);">

                <div class="container">
                    <div class="slider-item-inner">
                        <div class="slider-item-caption-right slider-item-caption-white">
                            <h4 class="slider-item-caption-title">GermanySky</h4>
                            <p class="slider-item-caption-desc">專業德國代購、團購服務</p><a class="btn btn-lg btn-ghost btn-white" href="#">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-item">
            <div class="slider-item" style="background-image:url(<%= asset_path '1200x500.png' %>);">
                <div class="container">
                    <div class="slider-item-inner">
                        <div class="slider-item-caption-right slider-item-caption-white">
                            <h4 class="slider-item-caption-title">GermanySky</h4>
                            <p class="slider-item-caption-desc">德心應手</p><a class="btn btn-lg btn-ghost btn-white" href="#">Shop Now</a>
                        </div>
                        <img class="slider-item-img-left" src="<%= asset_path '2-i.png' %>" alt="Image Alternative text" title="Image Title" style="transform:translateY(-50%) rotate(14deg); width: 55%;" />
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-item">
            <div class="slider-item" style="background-color:#93282B;">
                <div class="container">
                    <div class="slider-item-inner">
                        <div class="slider-item-caption-left slider-item-caption-white">
                            <h4 class="slider-item-caption-title">全新促銷活動</h4>
                            <p class="slider-item-caption-desc">On Sale！Shop Right Now！</p><a class="btn btn-lg btn-ghost btn-white" href="#">Shop Now</a>
                        </div>
                        <img class="slider-item-img-right" src="<%= asset_path '3-i.png' %>" alt="text" title="Image Title" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-full" data-gutter="none">
        <div class="col-md-4">
            <div class="banner banner-o-hid banner-sqr" style="background-image:url(<%= asset_path '380x220.png' %>);">
                <a class="banner-link" href="#"></a>
                <div class="banner-caption-left">
                    <h5 class="banner-title">Discover The Mountains</h5>
                    <p class="banner-desc">Pro Backpacks 70% Off.</p>
                    <p class="banner-shop-now">Shop Now <i class="fa fa-caret-right"></i>
                    </p>
                </div>
                <img class="banner-img" src="<%= asset_path '16-i.png' %>" alt="Image Alternative text" title="Image Title" style="bottom: -68px; right: -32px; width: 200px;" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="banner banner-o-hid banner-sqr" style="background-image:url(<%= asset_path '660x500.png' %>);">
                <a class="banner-link" href="#"></a>
                <div class="banner-caption-left">
                    <h5 class="banner-title">iPhone 6s</h5>
                    <p class="banner-desc">The Only One</p>
                    <p class="banner-shop-now">Shop Now <i class="fa fa-caret-right"></i>
                    </p>
                </div>
                <img class="banner-img" src="<%= asset_path '27-i.png' %>" alt="Image Alternative text" title="Image Title" style="top: 10px; right: 20px; width: 120px;" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="banner banner-o-hid banner-sqr" style="background-image:url(<%= asset_path '450x200.png' %>);">
                <a class="banner-link" href="#"></a>
                <div class="banner-caption-left banner-caption-dark">
                    <h5 class="banner-title">Winter is Comming</h5>
                    <p class="banner-desc">Outwear Collection</p>
                    <p class="banner-shop-now">Shop Now <i class="fa fa-caret-right"></i>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="gap"></div>
    <div class="container">
        <div class="tabbable category-tabs">
            <ul class="nav nav-pills" id="myTab">
                <li class="active"><a href="#tab-1" data-toggle="tab">熱銷商品</a>
                </li>
                <li><a href="#tab-2" data-toggle="tab">最新上架</a>
                </li>
                <li><a href="#tab-3" data-toggle="tab">現貨商品</a>
                </li>
                <li><a href="#tab-4" data-toggle="tab">推薦分類</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab-1">
                    <% if @products.size > 0 %>
                    <% i = 1 %>
                    <% @products.each do |p|%>
                        <% surplus = 0%>
                        <% if p.product_options.size > 1 %>
                            <% price = [] %>
                            <% p.product_options.each do |o| %>
                            <% surplus += o.surplus %>
                            <% price << o.price %>
                            <%end%>
                        <% else %>
                            <% price = p.product_options.first.price %>
                            <% surplus  = p.product_options.first.surplus %>
                        <% end %>
                    <% if i%6 == 1%>
                    <div class="row" data-gutter="15">
                    <% end %>
                        <div class="col-md-2">
                            <div class="product product-sm ">
                                <div class="product-img-wrap">
                                    <img class="ui fluid image" style='height: 120px; width: 150px; object-fit: contain' src="<%begin%><%= asset_path p.productimages.first.phourl %><%rescue%><%=asset_path '100px.png' %><%end%>" alt="Shop Now" title="hot sales" />
                                </div>
                                <a class="product-link" href="/products/<%= p.id %>"></a>
                                <div class="product-caption">
                                    <ul class="product-caption-rating">
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                    </ul>
                                    <h5 class="product-caption-title"><%= p.name+i.to_s %></h5>
                                    <div class="product-caption-price"><span class="product-caption-price-new"><% if p.product_options.size>1 %>NT ＄ <%= price.min %>~<%=price.max %><%else%>NT ＄ <%= price %><%end%></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    <% if i%6 == 0 or i ==@products.size %>

                    </div>
                    <% end %>
                    <% i += 1%>
                    <%end%>
                    <%end%>
                </div>

                <div class="tab-pane fade" id="tab-2">
                    <% if @products.size > 0 %>
                    <% i = 1 %>
                    <% @products.each do |p|%>
                        <% surplus = 0%>
                        <% if p.product_options.size > 1 %>
                            <% price = [] %>
                            <% p.product_options.each do |o| %>
                            <% surplus += o.surplus %>
                            <% price << o.price %>
                            <%end%>
                        <% else %>
                            <% price = p.product_options.first.price %>
                            <% surplus  = p.product_options.first.surplus %>
                        <% end %>
                    <% if i%6 == 1%>
                    <div class="row" data-gutter="15">
                    <% end %>
                        <div class="col-md-2">
                            <div class="product product-sm ">
                                <div class="product-img-wrap">
                                    <img class="ui fluid image" style='height: 120px; width: 150px; object-fit: contain' src="<%begin%><%= asset_path p.productimages.first.phourl %><%rescue%><%=asset_path '100px.png' %><%end%>" alt="Shop Now" title="hot sales" />
                                </div>
                                <a class="product-link" href="/products/<%= p.id %>"></a>
                                <div class="product-caption">
                                    <ul class="product-caption-rating">
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                    </ul>
                                    <h5 class="product-caption-title"><%= p.name+i.to_s %></h5>
                                    <div class="product-caption-price"><span class="product-caption-price-new"><% if p.product_options.size>1 %>NT ＄ <%= price.min %>~<%=price.max %><%else%>NT ＄ <%= price %><%end%></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    <% if i%6 == 0 or i ==@products.size %>

                    </div>
                    <% end %>
                    <% i += 1%>
                    <%end%>
                    <%end%>
                </div>
                <div class="tab-pane fade" id="tab-3">
                    <% if @products.size > 0 %>
                    <% i = 1 %>
                    <% @products.each do |p|%>
                        <% surplus = 0%>
                        <% if p.product_options.size > 1 %>
                            <% price = [] %>
                            <% p.product_options.each do |o| %>
                            <% surplus += o.surplus %>
                            <% price << o.price %>
                            <%end%>
                        <% else %>
                            <% price = p.product_options.first.price %>
                            <% surplus  = p.product_options.first.surplus %>
                        <% end %>
                    <% if i%6 == 1%>
                    <div class="row" data-gutter="15">
                    <% end %>
                        <div class="col-md-2">
                            <div class="product product-sm ">
                                <div class="product-img-wrap">
                                    <img class="ui fluid image" style='height: 120px; width: 150px; object-fit: contain' src="<%begin%><%= asset_path p.productimages.first.phourl %><%rescue%><%=asset_path '100px.png' %><%end%>" alt="Shop Now" title="hot sales" />
                                </div>
                                <a class="product-link" href="/products/<%= p.id %>"></a>
                                <div class="product-caption">
                                    <ul class="product-caption-rating">
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                    </ul>
                                    <h5 class="product-caption-title"><%= p.name+i.to_s %></h5>
                                    <div class="product-caption-price"><span class="product-caption-price-new"><% if p.product_options.size>1 %>NT ＄ <%= price.min %>~<%=price.max %><%else%>NT ＄ <%= price %><%end%></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    <% if i%6 == 0 or i ==@products.size %>

                    </div>
                    <% end %>
                    <% i += 1%>
                    <%end%>
                    <%end%>
                </div>
                <div class="tab-pane fade" id="tab-4">
                    <% if @products.size > 0 %>
                    <% i = 1 %>
                    <% @products.each do |p|%>
                        <% surplus = 0%>
                        <% if p.product_options.size > 1 %>
                            <% price = [] %>
                            <% p.product_options.each do |o| %>
                            <% surplus += o.surplus %>
                            <% price << o.price %>
                            <%end%>
                        <% else %>
                            <% price = p.product_options.first.price %>
                            <% surplus  = p.product_options.first.surplus %>
                        <% end %>
                    <% if i%6 == 1%>
                    <div class="row" data-gutter="15">
                    <% end %>
                        <div class="col-md-2">
                            <div class="product product-sm ">
                                <div class="product-img-wrap">
                                    <img class="ui fluid image" style='height: 120px; width: 150px; object-fit: contain' src="<%begin%><%= asset_path p.productimages.first.phourl %><%rescue%><%=asset_path '100px.png' %><%end%>" alt="Shop Now" title="hot sales" />
                                </div>
                                <a class="product-link" href="/products/<%= p.id %>"></a>
                                <div class="product-caption">
                                    <ul class="product-caption-rating">
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                    </ul>
                                    <h5 class="product-caption-title"><%= p.name+i.to_s %></h5>
                                    <div class="product-caption-price"><span class="product-caption-price-new"><% if p.product_options.size>1 %>NT ＄ <%= price.min %>~<%=price.max %><%else%>NT ＄ <%= price %><%end%></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    <% if i%6 == 0 or i ==@products.size %>

                    </div>
                    <% end %>
                    <% i += 1%>
                    <%end%>
                    <%end%>
                </div>
            </div>
        </div>
        <div class="gap"></div>
        <div class="row" data-gutter="15">
            <div class="col-md-6">
                <div class="banner banner-o-hid" style="background-color:#D2D2D2;">
                    
                    <div class="banner-caption-left banner-caption-dark">
                        <h5 class="banner-title">最新消息</h5>
                         <% if @newsboards.present? %>
                            <% @newsboards.each do |n| %>
                            <div id="<%= n.id %>">
                            <p class="banner-desc"><i class="browser icon"></i><a href="/newsboards/<%=n.id%>"><%= n.title %></a>
                                <font size="0.1" ><%= n.created_at.strftime("%Y-%m-%d") %></font></p>
                            </div>
    </br>
    <%end%>
<%end%>
                        <p  class="banner-shop-now"><a href="/newsboards">查看更多 <i class="fa fa-caret-right"></i></a>
                        </p>
                    </div>
                    <img class="banner-img" src="<%=asset_path '28-i.png' %>" alt="Image Alternative text" title="Image Title" style="bottom: 0px; right: 0px; width: 240px;" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="banner banner-o-hid" style="background-color:#0290C7;">
                    <a class="banner-link" href="#"></a>
                    <div class="banner-caption-left">
                        <h5 class="banner-title">促銷活動放送中</h5>
                        <p class="banner-desc">多種促銷優惠組合買越多賺越多</p>
                        <p class="banner-shop-now">前往查看 <i class="fa fa-caret-right"></i>
                        </p>
                    </div>
                    <img class="banner-img" src="<%=asset_path '13-i.png' %>" alt="Image Alternative text" title="Image Title" style="bottom: -76px; right: 0; width: 238px;" />
                </div>
            </div>
        </div>
  
        
        <div class="gap"></div>
        <h3 class="widget-title">強打分類商品</h3>
        <div class="owl-carousel owl-loaded owl-nav-out" data-options='{"items":7,"loop":true,"nav":true}'>
        <% if @type_ones.size > 0 %>
        <% @type_ones.each do |t| %>
            <div class="owl-item">
                <a class="banner-category owl-item-slide" href="#">
                    <img class="banner-category-img-full" src="<%=asset_path '100px.png' %>" alt="Image Alternative text" title="Image Title" />
                    <h5 class="banner-category-title"><%= t.name%></h5>
                    <p class="banner-category-desc"><%= t.products.size%> products</p>
                </a>
            </div>
        <%end%>
        <%end%>
        </div>
    </div>
    <div class="gap"></div>

    <%= render "common/footerbar" %>
</div>
<%= javascript_include_tag 'application' %>