<style style="text/css">
a{text-decoration:none;}
a:hover{text-decoration:underline;}
</style>
<div class="ui container">
	<h1 class="ui center aligned icon header" style="font-size:28px;margin:20px 0 22px 0;">
 
	  <div class="content">
	    Germanysky 徳心應手
	  </div>
	</h1>
	<div class="ui two stackable cards" >
<div class="ui grey card">
  <div class="content">
	  <div class="ui big image">

      <img src="<%= asset_path 'mymytw.png' %>">

      </div>
  </div>

</div>

<div class="ui grey card">
  <div class="content" >
  <h2>最新消息</h2>
  <% if @newsboards.present? %>
  <% @newsboards.each do |n| %>
  <div id="<%= n.id %>">
   <i class="browser icon"></i><a href="/newsboards/<%=n.id%>"><%= n.title %></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size="0.5"  ><span class="float:right"><%= n.created_at.strftime("%Y-%m-%d") %></span></font>
    </div></br>
    <div class="divider"></div>
    <%end%>
  </div>
	<%end%>
</div>
</div>
<% if @product.present? %>
<div class="ui four stackable link cards" >
	<div id="first_card" class="card">
			<div class="content" >
				<div class="header">
	   				<h2 class="site-font ui blue header"><i class="shopping basket icon"></i><%= @product.first.name %></h2>
	      		</div>
	      	<div class="divider"></div>
			</div>
		
	    <div class="content">
	      <div class="center aligned description">
		      <div class="ui statistic">
					  <div class="item">
      				<img class="ui centered small image" src="<%= asset_path @product.first.productimages.first.phourl %>" style='height: 140px; width: 120px; object-fit: contain' >
    					</div>
				</div>

	      </div>
	    </div>
	    <a id="first_btn"  href="/products/<%= @product.first.id %>" class="large ui bottom attached blue button">
	      <i class="chevron circle right icon"></i>查看商品
	    </a>
	 </div>

	  <div id="second_card" class="card">
		  <div class="content">
		  	<div class="header">
	      	<h2 class="site-font ui orange header"><i class="shopping basket icon"></i><%= @product.second.name %></h2>
	      </div>
	      <div class="divider"></div>
		  </div>
	    <div class="content">
	    
	      <div class="center aligned description">
		      <div class="ui statistic">
					  <div class="item">
      <img class="ui centered small image" src="<%= asset_path @product.second.productimages.first.phourl %>" style='height: 140px; width: 120px; object-fit: contain'>
    </div>
					</div>

	      </div>
	    </div>
	    <a id="second_btn" href="/products/<%= @product.second.id %>" class="large ui bottom attached orange button">
	      <i class="chevron circle right icon"></i>
	      查看商品
	    </a>
	  </div>

	 <div id="third_card" class="card">
	  	<div class="content">
	  		<div class="header">
	  			<h2 class="site-font ui green header">
		  			<i class="shopping basket icon"></i>
			      
		       		<%= @product.third.name %>
		      
       		</h2>
				</div>
				<div class="divider"></div>
	  	</div>
	    <div class="content">
	    
	      <div class="center aligned description">
		      <div class="ui statistic">
					   <div class="item">
      <img class="ui centered small image" src="<%= asset_path @product.third.productimages.first.phourl %>" style='height: 140px; width: 120px; object-fit: contain'>
    </div>
</div>
	      </div>
	    </div>
	    <a id="third_btn" href="/products/<%= @product.third.id %>" class="large ui bottom attached green button">
	      <i class="chevron circle right icon"></i>
	      查看商品
	    </a>
	  </div>
	  
	  <div id="fourth_card" class="card">
	  	<div class="content">
	  		<div class="header">
	  			<h2 class="site-font ui yellow header">
		  			<i class="shopping basket icon"></i>
			      
		       		<%= @product.fourth.name %>
		      
       		</h2>
				</div>
				<div class="divider"></div>
	  	</div>
	    <div class="content">
	    
	      <div class="center aligned description">
		      <div class="ui statistic">
					   <div class="item">
      <img class="ui centered small image" src="<%= asset_path @product.fourth.productimages.first.phourl %>" style='height: 140px; width: 120px; object-fit: contain'>
    </div>
</div>
	      </div>
	    </div>
	    <a id="fourth_btn" href="/products/<%= @product.fourth.id %>" class="large ui bottom attached yellow button">
	      <i class="chevron circle right icon"></i>
	      查看商品
	    </a>
	  </div>
</div>
<%end%>
</div>
<script type="text/javascript">
$(function(){
	$("#first_card").click(function(){
		$('#first_btn')[0].click();
	});
	$("#second_card").click(function(){
		$('#second_btn')[0].click();
	});
	$("#third_card").click(function(){
		$('#third_btn')[0].click();
	});
	$("#fourth_card").click(function(){
		$('#fourth_btn')[0].click();
	});

	
});
</script>




