<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>GermanySky 德心應手</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap styles -->
    <!-- <link href="assets/css/bootstrap.css" rel="stylesheet"/> -->
    <!-- Customize styles -->
    <!-- <link href="style.css" rel="stylesheet"/> -->
    <!-- font awesome styles -->
	<!-- <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet"> -->
		<!--[if IE 7]>
			<link href="css/font-awesome-ie7.min.css" rel="stylesheet">
		<![endif]-->

		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

	<!-- Favicons -->
    <link rel="shortcut icon" href="<%= asset_path 'ico/favicon.ico' %>">
  </head>
<body style="background:url('<%= asset_path("white_leather.png") %>') repeat 0 0;">
<!-- 
	Upper Header Section 
-->
<%= render "common/topbar" %>

<!--
Lower Header Section 
-->
<div class="container">

<%= render "common/header" %>
<%= render "common/leftmenu" %>
<!-- 
Body Section 
-->
	<div class="span9">
	<div class="well np">
	<div id="abgneBlock">
		<ul class="list">
		<div id="myCarousel" class="carousel slide homCar">
            <div class="carousel-inner">
			  <li><div class="item active" style="height:330px;background:white">
                <img style='height: 330px; width:100%; object-fit: contain' src="<%= asset_path 'mymytw.png' %>" alt="germanysky shop">
                <div class="carousel-caption">
  				<div style="text-align:center;">
					<h4 >GermanySky德心應手</h4><br></br>
                      <p><span>專業德國代購、團購服務</span></p>
				</div>     
                </div>
              </div></li>
              <li>
			  <div class="item">
                <img style="width:100%;height:100%" src="<%= asset_path 'carousel1.png' %>" alt="bootstrap ecommerce templates">
               
              </div>
              </li>
              <li>
			  <div class="item">
                <img style="width:100%" src="<%= asset_path 'carousel3.png' %>" alt="bootstrap ecommerce templates">
                
              </div>
              </li>
              <li>
              <div class="item">
                <img style="width:100%" src="<%= asset_path 'bootstrap-templates.png' %>" alt="bootstrap templates">
                
              </div>
              </li>
            </div>
          </div>
        </div>
        </ul>
	</div>
<!--
New Products
-->
	<div class="well well-small">
	<h3>最新上架 </h3>
	<hr class="soften"/>
		<div class="row-fluid">
		<div id="newProductCar" class="carousel slide">
            <div class="carousel-inner">
			<div class="item active">
			  <ul class="thumbnails">
			  <% @new_products.each do |p|%>
				<li class="span3">
				<div class="thumbnail">
					<a class="zoomTool" href="/products/<%=p.id%>" title="add to cart"><i class="search icon"></i>前往商品</a>
					<a href="#" class="tag" style ="background:url('<%= asset_path("new.png") %>') no-repeat 0 0;"></a>
					<a href="/products/<%=p.id%>"><img style='height: 200px; width: 150px; object-fit: contain' src="<%begin%><%= asset_path p.productimages.first.phourl %><%rescue%><%=asset_path '100px.png' %><%end%>" alt="bootstrap-ring"></a>
				</div>
				</li>
				<%end%>
			  </ul>
			  </div>
		   <div class="item">
		  <ul class="thumbnails">
		  <% if @last_products.present? %>
		  <% @last_products.each do |p|%>
			<li class="span3">
			  <div class="thumbnail">
				<a class="zoomTool" href="/products/<%=p.id%>" title="add to cart"><i class="search icon"></i>前往商品</a>
				<a  href="/products/<%=p.id%>"><img style='height: 200px; width: 150px; object-fit: contain' src="<%begin%><%= asset_path p.productimages.first.phourl %><%rescue%><%=asset_path '100px.png' %><%end%>" alt=""></a>
			  </div>
			</li>
			<%end%>
			<%end%>
			
		  </ul>
		  </div>
		   </div>
		  <a class="left carousel-control" href="#newProductCar" data-slide="prev">&lsaquo;</a>
          <a class="right carousel-control" href="#newProductCar" data-slide="next">&rsaquo;</a>
		  </div>
		  </div>
		  <h3>熱銷商品</h3>
		<div class="row-fluid">
		  <ul class="thumbnails">
		  <% if @hotsale_products.present? %>
		<% @hotsale_products.each do |p|%>
		<% surplus = 0%>
		<% if p.product_options.size > 1 %>
    		<% price = [] %>
    		<% p.product_options.each do |o| %>
    			<% surplus += o.surplus %>
    			<% price << o.price %>
      		<%end%>
       	<% else %>
    		<% price = p.product_options.first.price %>
    		<% surplus  = p.product_options.first.surplus %>
    	<% end %>
			<li class="span4">
			  <div class="thumbnail">
				<a class="zoomTool" href="/products/<%=p.id%>" title="add to cart"><i class="search icon"></i>前往商品</a>
				<a href="/products/<%=p.id%>"><img style='height: 200px; width: 150px; object-fit: contain' src="<%= asset_path p.productimages.first.phourl %>" alt=""></a>
				<div class="caption cntr">
					<p><%= p.name %></p>
					<p><strong>庫存：<%= surplus %></br> 
					<% if p.product_options.size>1 %>
        				NT ＄ <%= price.min %>~<%=price.max %>
  					<%else%>
        				NT ＄ <%= price %>
  					<%end%></strong></p>
					
					<br class="clr">
				</div>
			  </div>
			</li>
		<%end%>
		<%end%>
		  </ul>
		</div>
	</div>
	<!--
	Featured Products
	-->
		<div class="well well-small">
		  <h3> 更多商品  </h3>
		  <hr class="soften"/>
		  <div class="row-fluid">
		  <ul class="thumbnails">
			<li class="span4">
			  <div class="thumbnail">
				<a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span>前往商品</a>
				<a  href="product_details.html"><img src="<%= asset_path 'a.jpg' %>" alt=""></a>
				<div class="caption">
				  <h5>測試商品</h5>
				  <h4>
					  <a class="defaultBtn" href="product_details.html" title="Click to view"><span class="icon-zoom-in"></span></a>
					  <a class="shopBtn" href="#" title="add to cart"><span class="icon-plus"></span></a>
					  <span class="pull-right">$99</span>
				  </h4>
				</div>
			  </div>
			</li>
			<li class="span4">
			  <div class="thumbnail">
				<a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span>前往商品</a>
				<a  href="product_details.html"><img src="<%= asset_path 'a.jpg' %>" alt=""></a>
				<div class="caption">
				  <h5>測試商品</h5>
				  <h4>
					  <a class="defaultBtn" href="product_details.html" title="Click to view"><span class="icon-zoom-in"></span></a>
					  <a class="shopBtn" href="#" title="add to cart"><span class="icon-plus"></span></a>
					  <span class="pull-right">$99</span>
				  </h4>
				</div>
			  </div>
			</li>
			<li class="span4">
			  <div class="thumbnail">
				<a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span>前往商品</a>
				<a  href="product_details.html"><img src="<%= asset_path 'a.jpg' %>" alt=""/></a>
				<div class="caption">
				  <h5>測試商品</h5>
				  <h4>
					  <a class="defaultBtn" href="product_details.html" title="Click to view"><span class="icon-zoom-in"></span></a>
					  <a class="shopBtn" href="#" title="add to cart"><span class="icon-plus"></span></a>
					  <span class="pull-right">$22.00</span>
				  </h4>
				</div>
			  </div>
			</li>
		  </ul>	
	</div>
	</div>
	
	
	<hr>
	
	</div>
	</div>
<!-- 
Clients 
-->
<!--
Footer
-->
<%= render "common/footerbar" %>

  </body>
</html>
<script type="text/javascript">


 </script>
 <style type="text/css">
.box1{                           
 position:absolute;    
 bottom: 0px;              
}
.box2{                            
 height: 480px;               
 position: relative;
}
</style>
<style type="text/css">
	#abgneBlock {
		width: 100%;
		height: 330px;
		position: relative;
		overflow: hidden;
		border: 1px solid #ccc;
	}
	#abgneBlock ul.list {
		padding: 0;
		margin: 0;
		list-style: none;
		position: absolute;
		width: 9999px;
		height: 100%;
	}
	#abgneBlock ul.list li {
		float: left;
		width: 655px;
		height: 100%;
	}
	#abgneBlock .list img{
		width: 100%;
		height: 100%;
		border: 0;
	}
	#abgneBlock ul.playerControl {
		margin: 0;
		padding: 0;
		list-style: none;
		position: absolute;
		bottom: 5px;
		right: 5px;
		height: 14px;
	}
	#abgneBlock ul.playerControl li {
		float: left;
		width: 10px;
		height: 10px;
		cursor: pointer;
		margin: 0px 2px;
		background: orange no-repeat -10px 0;
	}
	#abgneBlock ul.playerControl li.current { 
		background-position: 0 0;
	}
</style>
<script type="text/javascript">
	$(function(){
		// 先取得必要的元素並用 jQuery 包裝
		// 再來取得 $block 的高度及設定動畫時間
		var $block = $('#abgneBlock'),
			$slides = $('ul.list', $block),
			_width = $block.width(),
			$li = $('li', $slides),
			_animateSpeed = 600, 
			// 加入計時器, 輪播時間及控制開關
			timer, _showSpeed = 2500, _stop = false;

		// 產生 li 選項
		var _str = '';
		for(var i=0, j=$li.length;i<j;i++){
			// 每一個 li 都有自己的 className = playerControl_號碼
			_str += '<li class="playerControl_' + (i+1) + '"></li>';
		}

		// 產生 ul 並把 li 選項加到其中
		var $playerControl = $('<ul class="playerControl"></ul>').html(_str).appendTo($slides.parent()).css('left', function(){
			// 把 .playerControl 移到置中的位置
			// return (_width - $(this).width()) / 2;
			return
		});
		
		// 幫 li 加上 click 事件
		var $playerControlLi = $playerControl.find('li').click(function(){
			var $this = $(this);
			$this.addClass('current').siblings('.current').removeClass('current');

			clearTimeout(timer);
			// 移動位置到相對應的號碼
			$slides.stop().animate({
				left: _width * $this.index() * -1
			}, _animateSpeed, function(){
				// 當廣告移動到正確位置後, 依判斷來啟動計時器
				if(!_stop) timer = setTimeout(move, _showSpeed);
			});

			return false;
		}).eq(0).click().end();

		// 如果滑鼠移入 $block 時
		$block.hover(function(){
			// 關閉開關及計時器
			_stop = true;
			clearTimeout(timer);
		}, function(){
			// 如果滑鼠移出 $block 時
			// 開啟開關及計時器
			_stop = false;
			timer = setTimeout(move, _showSpeed);
		});
		
		// 計時器使用
		function move(){
			var _index = $('.current').index();
			$playerControlLi.eq((_index + 1) % $playerControlLi.length).click();
		}
	});
</script>