<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>GermanySky 德心應手</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap styles -->
    <!-- <link href="assets/css/bootstrap.css" rel="stylesheet"/> -->
    <!-- Customize styles -->
    <!-- <link href="style.css" rel="stylesheet"/> -->
    <!-- font awesome styles -->
	<!-- <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet"> -->
		<!--[if IE 7]>
			<link href="css/font-awesome-ie7.min.css" rel="stylesheet">
		<![endif]-->

		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

	<!-- Favicons -->
    <link rel="shortcut icon" href="<%= asset_path 'ico/favicon.ico' %>">
  </head>
<body style="background:url('<%= asset_path("white_leather.png") %>') repeat 0 0;">
<!-- 
	Upper Header Section 
-->
<%= render "common/topbar" %>

<!--
Lower Header Section 
-->
<div class="container">
<%= render "common/header" %>
<%= render "common/leftmenu" %>
<!-- 
Body Section 
-->
<div class="span9">
<h1 class="ui center aligned icon header" style="font-size:28px;margin:20px 0 22px 0;">
 
    <div class="content">
      注意事項
    </div>
  </h1>
  <div class="ui segments" >

<div class = "ui segment">
<div class="ui horizontal divider">Notice</div>
代購注意事項<br>
前言: 跟weisu代購往來的人都知道  對於代購物品損傷遺失  weisu都是採負責任的態度處理  決不會置之不理<br>
<br>
但是因目前尋求高價值大件物品代購的人越來越多  而大件商品因大而重  造成損壞機率較ㄧ般商品高  而且因價值高  若有損傷 賠償起來會讓人頭皮發麻   所以代購需知  變得很重要<br>
<br>
請要尋求代購者  先閱讀清楚  再下單喔<br>
<br>
<br>
*無論是空運或海運代購 請不急著到貨的客人才下單喔尤其要告知誤以為空運 下單後 2-3周就可拿到貨的客人 : 雖是空運 但隔洋代購 需經過 訂貨 等貨 空運時間 海關查驗--等重重過程 尤其合包的 還要等集貨 碰到大假日還會包裹大塞車喔<br>   
<br>
 ----空運代購  體積限制  120*60*60cm  重量限制20kg<br>
<br>
空運 :  代購價+空運費   關稅自行負擔  運程損壞 請自行向 DHL理賠 德國weisu  會道義從旁協助<br>
<br>
1.貨品進入台灣後  依台灣海關規定 超過3000NT  需被徵課關稅部份    需由客人自行吸收<br>
<br>
2. 空運部分 純代購  只酌收些需代購費  DHL運送途中如有破損或遺失<br>
    則須向DHL  申訴賠償  weisu這邊無法退費喔 抱歉..<br>
<br>
3. 經由DHL 空運  由德國這邊寄出後   DHL 8-12天會到貨  但郵政海關作業約要再加 7-10天 <br>
   寄出後 超過六星期  才能視為失蹤包裹  向DHL申請查詢 理賠等事項  <br>
<br>
4.玻璃.陶瓷易碎商品  不建議空運郵寄  若運程損壞  無法申請理賠喔(dhl 會拒絕理賠)  <br>
   若客人堅持要使用 並要求或我們認為需要加強包裝  我們有權利要求 5-10歐(視商品包裝所    需材料與包裝工時而定) <br>的加強包裝材料費<br>
<br>
5.國際小包 難以追蹤商品  損壞失蹤 幾乎得不到 理賠  貴重商品  不建議使用  <br>****************************************************************** 
-----海運代購  <br>
1.代購價都以直接報價為準   貨品進入台灣後  一律需經由海關驗關<br>
    海運 直接幫大家報關    幫大家吸收關稅  客人無需再額外給付關稅<br>
<br>
2.海運 運送過程中 需 45-60天  但如遇不克因素  如船班延誤 或通關緩滯 <br> 
  可能會延誤大家收貨時間<br>
  因此 海運是給不急的人訂購  如果無法等待 請勿下單    <br>
<br>
<br>
3 海運貨櫃寄送方式 都是由weisu同事們親自小心的堆疊貨物上櫃  做好安全措施   <br>
 但是海運過程  諸多不克因素  加上代購費低廉  所以 <br>
 自行 指定要求代購的商品(已Po出價格的團購商品 不在此列) 請加保 2%海運保險費  陶瓷或易碎商品(如碗盤 浴缸 浴盆)一律 3%   <br>
<br>
*自行連網指定購買商品  因賣家為請求代購者自行挑選  若商品有我們看不見的內在瑕疵  恕不負責(除非事先告知 <br> 否則我們都會保留原廠包裝 維持商品原始與完整性  所以商品送來  我們只能檢查外在肉眼可查覺的損傷) <br>
<br>
若不加保海運損傷險  商品有缺損時(原廠瑕疵或運送損壞) 等同空運代購處理方式  <br>
 (空運代購處理方式 :原廠瑕疵ㄧ幫忙處理要加收服務費  運送損壞 由買方自行向DHL 理賠)<br>
<br>
4.大型 昂貴物品  運送過程容易損傷  建議加買海運保險 會有較優理賠 <br>
  <br>
<br>
5.  商品抵台 (尤其是昂貴  或大型物件) <br>
    請在收到貨品時  ㄧ定當面檢查   遇有損傷  即刻向貨運行或郵局反映   <br>
  求取賠償  運送公司   有記錄  weisu才有辦法幫您申請理賠  否則要自行吸收損失 <br>
<br>
<br>
6.海運商品運載到台灣後 由台灣境內貨運 運送的運費  需由客人自行吸收...<br>
  <br>
   *****非常非常注意事項*****<br>
<br>
因為報關作業越來越困難嚴苛 海運費用增高上倍 加上客 人商品有問題或缺損時都要weisu幫忙處理 或要求退件  <br>weisu花很多時間幫客人處理商品問題   又花很多金錢讓客人退換貨  在代購利潤微薄  不堪負荷之下 <br>
 請自行指定要求代購的商品(已Po出價格的團購商品 不在此列) 加購 1%保險費   否則商品有缺損時(原廠瑕疵或運送損壞) 恕無法負責 <br>
 (空運代購處理方式 :原廠瑕疵ㄧ幫忙處理要加收8%服務費  運送損壞  無法理賠 也不接受退換貨)<br>
<br>
只有weisu買錯客人明確要求的品項時 才接受退換貨<br>
以上 請大家體諒<br>
<br>
 ..<br>
    <br>
--貨品運送過程漫長多轉駁點 <br>
weisu會盡量周全保護  但是無法保證 一定都完美無缺  毫無缺陷 <br>
這是代購公司  不是運輸行    在這些運送過程中  不是我能控制的(只能盡可能幫大家 做好保護)    您若擔心商品損傷  <br> 最好加保海運險  會得到ㄧ定金額的賠償或協助處理 <br>
<br>
以上無法接受者  切勿下單  請直接尋求 台灣代理商  以得到便最佳售後服務  謝謝<br>
</div>
</div>
</div>
</div>
<!-- 
Clients 
-->
<!--
Footer
-->
<%= render "common/footerbar" %>

  </body>
</html>
<script type="text/javascript">

$("#subscription").click(function(){
	email = document.getElementById("newsletter_email").value;
	if (email =="")
		{alert("請輸入郵件");}
	else{
    var request = "/consoles/subscription?email="+email;
    var aj = $.ajax({
        url: request,
        type: 'get',
        data: $(this).serialize(),
        dataType: 'text'
    }).done(function (data) {
     if (data="success"){
      alert( "訂閱成功");
  		}else{
  			alert("訂閱失敗");
  		}

    }).fail(function (data) {
      alert("此email已訂閱");
    });
	}
    });
 </script>
 <style type="text/css">
.box1{                           
 position:absolute;    
 bottom: 0px;              
}
.box2{                            
 height: 480px;               
 position: relative;
}
</style>