
    <div class="global-wrapper clearfix" id="global-wrapper">
        <%= render "common/theboxheader" %>

    <div class="container">
          <h1 class="ui center aligned icon header" style="font-size:28px;margin:20px 0 22px 0;">
    <div class="content">訂單管理</div>
  </h1>
  <div style="margin:0 auto;">

  <div class="ui center aligned icon header" style="font-size:18px;margin:10px 0 10px 0;">
 訂單總數： <%= number_with_delimiter(@orders_size, :delimiter => ',') %>
  <% if @current_user.role == 1 %>
    <button class="ui small orange button" id = "checkorder">建立檢貨單</button>
  <% end %>
    </div>
    </div>
<div style="margin:10px 0 10px 0;">
<select id = "p_status" name="p_status" >
  <option value="" disabled selected>付款狀態</option>
  <option value="1">未付款</option>
  <option value="2">已付款未確認</option>
  <option value="3">已確認付款</option>
  <option value="4">逾期未付款</option>
  <option value="5">貨到付款</option>
  <option value="6">訂單完成</option>
</select>
  <select id="d_status" name="d_status" >
  <option value="" disabled selected>出貨狀態</option>
  <option value="1">未出貨</option>
  <option value="2">已出貨</option>
  <option value="3">已確認取貨</option>
  <option value="4">逾期未取貨</option>
  <option value="5">訂單完成</option>
</select>
or
<input id="filterbar" type="text" placeholder="搜尋">
<button id="select_filter" class="ui blue tiny button select_filter">
  <i class="search icon"></i>確定
</button>
</div>
<% if @orders.present? %>
      <% if @orders.size != 0 %>
        <div class="infinite-table">
          <table id="orders_table" class="site-font ui sortable selectable teal table">
            <thead>
              <tr>
              <% if @current_user.role == 1 %>
              <th >
                  <div class="ui master checkbox">
                  <input type="checkbox">
                </div>
              </th>
              <%end%>
                <th>訂單編號</th>
                <th >總價</th>
                <th >付款狀態</th>
                <th >出貨狀態</th>
                <th >詳細資料</th>
                <th>建立日期</th>
                <th style="margin: 0 10px 0 10px;">功能</th>
              </tr>
            </thead>
            <tbody>
              <%= render :partial => 'orders', :object => @orders %>
            </tbody>
          </table>
          <p class="pagination">
            <%= link_to_next_page @orders, 'Next Page', :params => {:filter => @search_param}%>
          </p>
        </div>
      <% else %>
        <h3>未建立！</h3>
      <% end %>
    <% end %>


    </div>



        <div class="gap"></div>
       
        <%= render "common/footerbar" %>
    </div>

<div class="ui small modal edit-order" style="padding-top:0px;">
  <i class="close icon"></i>
  <div id="edit_from" style="padding:10px;">
  </div>
</div>

<div class="ui basic modal delete-check">
  <i class="close icon"></i>
  <div class="header">
    刪除訂單 <span class="primary-orange target_order"></span>
  </div>
  <div class="image content">
    <div class="image">
      <i class="announcement icon"></i>
    </div>
    <div class="description">
      <p>確定要刪除訂單<span class="primary-orange target_order"></span>嗎?</p>
    </div>
  </div>
  <div class="actions">
    <div class="two fluid ui inverted buttons">
      <div class="ui ok red basic inverted button">
        <i class="remove icon"></i>
        刪除
      </div>
      <div class="ui cancel blue basic inverted button">
        <i class="checkmark icon"></i>
        取消
      </div>
    </div>
  </div>
</div>

<div class="ui basic modal confirmpay-check">
  <i class="close icon"></i>
  <div class="header">
    確認匯款 <span class="primary-orange target_order"></span>
  </div>
  <div class="image content">
    <div class="image">
      <i class="announcement icon"></i>
    </div>
    <div class="description">
      <p>確定更改訂單<span class="primary-orange target_order"></span>狀態為已匯款？</p>
    </div>
  </div>
  <div class="actions">
    <div class="two fluid ui inverted buttons">
      <div class="ui ok red basic inverted button">
        <i class="checkmark icon"></i>
        確認
      </div>
      <div class="ui cancel blue basic inverted button">
        <i class="remove icon"></i>
        取消
      </div>
    </div>
  </div>
</div>

<div class="ui basic modal confirmdelivery-check">
  <i class="close icon"></i>
  <div class="header">
    確認出貨 <span class="primary-orange target_order"></span>
  </div>
  <div class="image content">
    <div class="image">
      <i class="announcement icon"></i>
    </div>
    <div class="description">
    <p>確定更改訂單<span class="primary-orange target_order"></span>狀態為已出貨？</p>
    </div>
  </div>
  <div class="actions">
    <div class="two fluid ui inverted buttons">
      <div class="ui ok red basic inverted button">
        <i class="checkmark icon"></i>
        確認
      </div>
      <div class="ui cancel blue basic inverted button">
        <i class="remove icon"></i>
        取消
      </div>
    </div>
  </div>
</div>

<div class="ui basic modal takeproduct-check">
  <i class="close icon"></i>
  <div class="header">
    確認取貨 <span class="primary-orange target_order"></span>
  </div>
  <div class="image content">
    <div class="image">
      <i class="announcement icon"></i>
    </div>
    <div class="description">
      <% if @current_user.role==1%>
    <p>確定更改訂單<span class="primary-orange target_order"></span>狀態為已取貨？(此步驟為消費者功能項，請再次確認是否執行此操作。</p>
    <%else%>
    <p>確定更改訂單<span class="primary-orange target_order"></span>狀態為已取貨？</p>
    <%end%>
    </div>
  </div>
  <div class="actions">
    <div class="two fluid ui inverted buttons">
      <div class="ui ok red basic inverted button">
        <i class="checkmark icon"></i>
        確認
      </div>
      <div class="ui cancel blue basic inverted button">
        <i class="remove icon"></i>
        取消
      </div>
    </div>
  </div>
</div>

<div class="ui basic modal orderdone-check">
  <i class="close icon"></i>
  <div class="header">
    確認訂單完成 <span class="primary-orange target_order"></span>
  </div>
  <div class="image content">
    <div class="image">
      <i class="announcement icon"></i>
    </div>
    <div class="description">
      <p>確定更改訂單<span class="primary-orange target_order"></span>狀態為完成狀態？</p>
    </div>
  </div>
  <div class="actions">
    <div class="two fluid ui inverted buttons">
      <div class="ui ok red basic inverted button">
        <i class="checkmark icon"></i>
        確認
      </div>
      <div class="ui cancel blue basic inverted button">
        <i class="remove icon"></i>
        取消
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

$(function(){


  $('.master.checkbox')
    .checkbox({
      // check all children
      onChecked: function() {
        $('.child.checkbox').checkbox('check').closest('tr').addClass("active");
      },
      // uncheck all children
      onUnchecked: function() {
        $('.child.checkbox').checkbox('uncheck').closest('tr').removeClass("active");
      }
    })
  ;
  $('body').on('click','.order-setting',function(){
    $rowCheckbox = $(this).siblings('.order-setting').find('.child.checkbox');
    $rowCheckbox.checkbox('toggle');
    $(this).closest('tr').toggleClass("active");
  });
  // $('#orders_table').tablesort();

 $("#checkorder").click(function(){
    selected_data_array = [];
    var is_empty = true;
    $( ".child.checkbox" ).find("input").each(function( index ) {
      var checkbox_value = $(this).val();
      var is_checked = $(this).is(":checked");
      if (is_checked) {
        selected_data_array.push(checkbox_value);
        is_empty = false;
      }
    });
    if(is_empty){
      $('#checkorder').popup('show');
      setTimeout(function(){
        $('#checkorder').popup('hide');
      }, 2000);
    }else{
      var newWindow = window.open("/orders/checkorder?data="+String(selected_data_array));

    }
  });

  $('body').on('click','.order_edit',function(){
    $('.ui.dimmer.main').dimmer('show');

    var row_id = $(this).data("value");
    $.get( "/orders/"+row_id+"/edit", function(html) {
      $("#edit_from").empty();
      $("#edit_from").append(html);
      $('.ui.dimmer.main').dimmer('hide');

      $('.ui.modal.edit-order').modal({
        observeChanges: true
      }).modal('refresh').modal('show');

    }).fail(function() {
      $('.ui.dimmer.main').dimmer('hide');
      alert( "error" );
    });
  });

  $('body').on('click', '.order_del',function(){
    var href = this.href;
    var orign_link = $(this);
    var order_id = $(this).data("id");
    console.log(order_id);

    $(".target_id").text(order_id);

    $('.delete-check').modal({
        onApprove : function() {
          $.ajax({
            type: "delete",
            method: "delete",
            url: href
          });
          $('.ui.dimmer.main').dimmer('show');
          location.reload();
        }
      }).modal('refresh').modal('show');

    return false;
  });

    $('body').on('click', '.confirmpay',function(){
    var order_id = $(this).data("id");
    var row_id = $(this).data("value");
    var request ="/orders/confirmpay?id="+row_id
    console.log(order_id);

    $(".target_id").text(order_id);

    $('.confirmpay-check').modal({
        onApprove : function() {
          $.ajax({
            type: "get",
            url: request,
            data: $(this).serialize()
          });
          $('.ui.dimmer.main').dimmer('show');
          location.reload();
        }
      }).modal('refresh').modal('show');
    return false;
  });
    $('body').on('click', '.confirmdelivery',function(){
    var order_id = $(this).data("id");
    var row_id = $(this).data("value");
    var request ="/orders/confirmdelivery?id="+row_id
    console.log(order_id);

    $(".target_id").text(order_id);

    $('.confirmdelivery-check').modal({
        onApprove : function() {
          $.ajax({
            type: "get",
            url: request,
            data: $(this).serialize()
          });
          $('.ui.dimmer.main').dimmer('show');
          location.reload();
        }
      }).modal('refresh').modal('show');
    return false;
  });

  $('body').on('click', '.takeproduct',function(){
    var order_id = $(this).data("id");
    var row_id = $(this).data("value");
    var request ="/orders/takeproduct?id="+row_id
    console.log(order_id);

    $(".target_id").text(order_id);

    $('.takeproduct-check').modal({
        onApprove : function() {
          $.ajax({
            type: "get",
            url: request,
            data: $(this).serialize()
          });
          $('.ui.dimmer.main').dimmer('show');
          location.reload();
        }
      }).modal('refresh').modal('show');
    return false;
  });


    $('body').on('click','.usercheckpay',function(){
    $('.ui.dimmer.main').dimmer('show');

    var row_id = $(this).data("value");
    $.get( "/orders/usercheckpay?id="+row_id, function(html) {
      $("#edit_from").empty();
      $("#edit_from").append(html);
      $('.ui.dimmer.main').dimmer('hide');

      $('.ui.modal.edit-order').modal({
        observeChanges: true
      }).modal('refresh').modal('show');

    }).fail(function() {
      $('.ui.dimmer.main').dimmer('hide');
      alert( "error" );
    });
  });

    $('body').on('click','.orderdone',function(){
    $('.ui.dimmer.main').dimmer('show');

    var row_id = $(this).data("value");
    $.get( "/orders/orderdone?id="+row_id, function(html) {
      $("#edit_from").empty();
      $("#edit_from").append(html);
      $('.ui.dimmer.main').dimmer('hide');

      $('.ui.modal.edit-order').modal({
        observeChanges: true
      }).modal('refresh').modal('show');

    }).fail(function() {
      $('.ui.dimmer.main').dimmer('hide');
      alert( "error" );
    });
  });

    $('body').on('click','.order_detail',function(){
    $('.ui.dimmer.main').dimmer('show');

    var row_id = $(this).data("value");
    $.get( "/orders/orderdetail?id="+row_id, function(html) {
      $("#edit_from").empty();
      $("#edit_from").append(html);
      $('.ui.dimmer.main').dimmer('hide');

      $('.ui.modal.edit-order').modal({
        observeChanges: true
      }).modal('refresh').modal('show');

    }).fail(function() {
      $('.ui.dimmer.main').dimmer('hide');
      alert( "error" );
    });
  });

  $("#btn_new_order").click(function(){
    $("#btn_new_order").addClass("loading");
    $.get( "/orders/new", function(html) {
      $("#edit_from").empty();
      $("#edit_from").append(html);
      $("#btn_new_order").removeClass("loading");

      $('.ui.modal.edit-order').modal({
        observeChanges: true
      }).modal('refresh').modal('show');

    }).fail(function() {
      $("#btn_new_payment").removeClass("loading");
      alert( "error" );
    });

  });
    $("#select_filter").click(function(){
    d_status = "d_status="+document.getElementById("d_status").value;
    p_status = "p_status="+document.getElementById("p_status").value;
    filter = "filter="+$("#filterbar").val();
    window.location.replace("http://"+location.host+"/orders?"+d_status+"&"+p_status+"&"+filter);

  });
  $("#checktest").click(function(){
     $('.child.checkbox').checkbox('check').closest('tr').addClass("active");

  });


});
</script>