  <div class="ui container">
  <h1 class="ui center aligned icon header" style="font-size:28px;margin:20px 0 20px 0;">
    <div class="content">
      訂單資料
    </div>
  </h1>
  <input type="hidden" id="order_id" value="<%=@order.id%>">
  <div class="ui horizontal divider">order detail</div>
   <%case status = @order.pay_status %>
    <% when @order.pay_status = 1%>
      <a class="ui red tag label" style="width:84px;text-align:center;">
        未付款
        </a>
    <% when status = 2%>
      <a class="ui teal tag label" style="width:140px;text-align:center;">
        已付款店家未確認
        </a>
    <% when @order.pay_status = 3%>
      <a class="ui green tag label" style="width:140px;text-align:center;">
        已確認付款
        </a>
    <% when @order.pay_status = 4%>
      <a class="ui red tag label" style="width:140px;text-align:center;">
        逾期未付款
        </a>
    <% when @order.pay_status = 5%>
      <a class="ui teal tag label" style="width:140px;text-align:center;">
        貨到付款
        </a>
    <% when @order.pay_status = 6%>
      <a class="ui green tag label" style="width:140px;text-align:center;">
        訂單完成
        </a>
    <% end %>
    <%case @order.delivery_status %>
    <% when @order.delivery_status = 1%>
      <a class="ui red tag label" style="width:84px;text-align:center;">
        未出貨
        </a>
    <% when @order.delivery_status = 2%>
      <a class="ui teal tag label" style="width:140px;text-align:center;">
        已出貨
        </a>
    <% when @order.delivery_status = 3%>
      <a class="ui green tag label" style="width:140px;text-align:center;">
        已確認取貨
        </a>
    <% when @order.delivery_status = 4%>
      <a class="ui red tag label" style="width:140px;text-align:center;">
        逾期未取貨
        </a>
    <% when @order.delivery_status = 5%>
      <a class="ui teal tag label" style="width:140px;text-align:center;">
        訂單完成
        </a>
    <% end %>
    <br></br>
    <div></div>

<div class="ui top attached tabular menu">
  <a class="item active" data-tab="first">訂單資料</a>
  <a class="item" data-tab="second">付款資料</a>
  <a class="item" data-tab="third">收件資料</a>
  <a class="item" data-tab="fourth">訂單留言</a>
  </div>
  <div class="ui bottom attached tab segment active" data-tab="first">
 
 <% if @order.order_products.present? %>
      <% if @order.order_products.size != 0 %>
        <div class="infinite-table">
          <table id="order_table" class="ui celled table" style="table-layout:fixed">
            
            <thead>
              <tr>
                <th>商品名稱</th>
                <th>單價</th>
                <th>數量</th>
                <th>總價</th>
              </tr>
            </thead>
            <tbody>
            <%price = 0%>
            <% @order.order_products.each do |p| %>
<tr>
  <td><%= p.product_name %><br>規格：<%= p.option_name %></td>
  <td>$<%= p.single_price%></td>
  <td><div  id="selectsum">
      <%= p.sum %>
      </div></td>
  <td>$<%= p.sum_price %></td>
  <%price += p.sum_price%>
  
</tr>

<% end %>
<tr>
<td align="center" colspan="4" ><label>商品小計：</label><b id='product_price'><%= price%></b></td>
</tr>
<tr>
<td colspan="2">

          <label>付款方式：</label>
        
     <%=@order.payment %>
        </td>
<td colspan="2"> 
          <label>運送方式：</label>
          <%=@order.delivery%>
        </select>
     
        </td>
        </tr>
        <tr>
        <td colspan="4" >
    <input type="hidden" id="total_price_hide" name="order[total_price]" value="<%= @order_price%>" />
  <label>總金額：</label><b id='total_price' ><%= @order.total_price%></b>
        </td>
        </tr>
        </tbody>
        </table>
        </div>
                  <% else %>
<h3 class="ui center aligned icon header">沒有訂單！</h3>
<% end %>

  </div>

  <div class="ui bottom attached tab segment" data-tab="second">
   <div class="ui horizontal divider">Pay Info</div>
   <% if @order.order_products.present? %>
    <table class="ui celled table" style="table-layout:fixed">
    <tr>
    <td colspan="4">
    請將款項匯至：00000000000 戶名：種馬
    </td>
    </tr>
    <tr>
    <td colspan="2" >
  <label>帳戶末五碼：</label>
  <% if @order.lastfivepay.present? %>
  <%= @order.lastfivepay %>
  <% else %>
  尚未匯款
  <%end%>
    </td>
    <td colspan="2" >
  <label>匯款金額：</label>
    <% if @order.paidprice.present? %>
    <%= @order.paidprice %>
    <% else %>
    尚未匯款
    <%end%>
    </td>
    </table>

      <% else %>
        <h3>沒有訂單。</h3>
      <% end %>
<% else %>
<h3 class="ui center aligned icon header">沒有訂單！</h3>
<% end %>
  </div>

  <div class="ui bottom attached tab segment" data-tab="third">
     <% if @order.order_products.present? %>
        <div class="ui horizontal divider">Receiver Info</div>
<table class="ui celled table" style="table-layout:fixed">
      <tr>
        <td colspan="1" >
  <label>姓名：</label><%= @order.receiver_name %>
        </td>
        <td colspan="1" >
  <label>電話：</label><%= @order.receiver_phone %>
        </td>
        <td colspan="2" >
  <label>收貨地址：</label><%= @order.receiver_address %>
        </td>
        </tr>
        <tr>
        <td colspan="4" >
  <label>備註：</label><%= @order.note %>
        </td>
        </tr>
            </tbody>
          </table>
          <% else %>
<h3 class="ui center aligned icon header">沒有訂單！</h3>
<% end %>
    
</div>
<div class="ui bottom attached tab segment" data-tab="fourth">

  <% if @messages.size > 0 %>
  <div class="comment">
    <% @messages.each do |r| %>
    <div class="ui graybg segment">
      <a class="author"><%if r.account.role == 1 %>管理員<%= r.account_name %><%else%><%= r.account_name %><%end%></a>
      
        <div class="date"><%= r.created_at.strftime("%Y-%m-%d") %></div>
      
      <div class="text">
        <%= r.content %>
      </div>
    </div>
    <% end %>
  </div>
  <%else%>
  目前沒有留言
  <% end %>
  <br></br>
  <div class="divider"></div>
<div class="form-check">
  <%= form_for @message ,:html =>{:class => "ui reply form"}, :url => new_order_message_path, method: :post do |f| %>
    <div class="field">
      <textarea id="content" name = "content" rows="3"></textarea>
    </div>
    <div id="reply-btn" class="ui primary labeled icon button reply-btn">
      <i class="icon edit"></i> 留言
    </div>
<% end %>
</div>


</div>
<script type="text/javascript">
function ValidateNumber(e, pnumber)
{
    if (!/^\d+$/.test(pnumber))
    {
        $(e).val(/^\d+/.exec($(e).val()));
    }
    if(pnumber.length>5)
    {
      alert("輸入大於5碼");
    }

    return false;
}
$('.form-check form').on('click','.reply-btn',function(){
    var order_id = document.getElementById("order_id").value;
    var replycontent = document.getElementById("content").value;
    var request = "/order_messages";

      var aj = $.ajax({
          url: request,
          type: 'post',
          data:{
             order_id: order_id,
             replycontent: replycontent
           },
          dataType: 'json'
        }).success(function(upload_result) {
          if(upload_result == "success" ){
            window.location.reload();
          }
        }).fail(function(data) {
       $.get( "/orders/orderdetail?id="+order_id, function(html) {
      $("#edit_from").empty();
      $("#edit_from").append(html);
      $('.ui.dimmer.main').dimmer('hide');

      $('.ui.modal.edit-order').modal({
        observeChanges: true
      }).modal('refresh').modal('show');

    }).fail(function() {
      $('.ui.dimmer.main').dimmer('hide');
      alert( "error" );
    });
        });
    return false; // prevents normal behaviour
  });
</script>
  <script type="text/javascript">
  $('.menu .item')
  .tab()
;
</script>