<div class="global-wrapper clearfix" id="global-wrapper">
        <%= render "common/theboxheader" %>

<div class="container">
<input type="hidden" id="find_newsboard" value="<%= @specialoffer_info %>">
 <header class="page-header" style="padding:0">

            </header>
           <div class="row row-col-border" data-gutter="60">
           
                <div class="col-md-3">
  					  <ul class="nav nav-list">
  						<div class="ui center aligned icon header" style="font-size:18px;margin:20px 0 22px 0;">
  						<li> 活動總數： <%= number_with_delimiter(@specialoffers_size, :delimiter => ',') %></li>
  						<li><br></li>
  						<%if @current_user && @current_user.role == 1 %>
    					<li><button class="ui orange basic button btn_new_offer" id = "btn_new_offer">新增促銷</button></li>
    					<%end%>
    					</div>
  					</ul>
                </div>
                <div class="col-md-9">
    				<h1 class="ui center aligned icon header" style="font-size:28px;margin:20px 0 22px 0;">
 
    <div class="content">
      促銷活動
    </div>
  </h1>
  <div class="ui horizontal divider">Special Offers</div>
<% if @specialoffers.present? %>
      <% if @specialoffers.size != 0 %>
        <div class="infinite-table">
          <table id="specialoffers_table" class="site-font ui sortable selectable table">
            <thead>
              <tr>
                <th>圖片</th>
                <th>名稱</th>
                <th>類型</th>
                <th>內容</th>
                <th>商品數</th>
                <% if @current_user.present? && @current_user.role == 1 %>
                <th style="margin: 0 10px 0 10px;">Function</th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <%= render :partial => 'specialoffers', :object => @specialoffers %>
            </tbody>
          </table>
          <p class="pagination">
            <%= link_to_next_page @specialoffers, 'Next Page', :params => {:filter => @search_param}%>
          </p>
        </div>
      <% else %>
        <h3>未建立！</h3>
      <% end %>
    <% end %>

				  </div>

			</div>





</div>


  <div class="gap"></div>
    <%= render "common/footerbar" %>
</div>