<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>GermanySky 德心應手</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap styles -->
    <!-- <link href="assets/css/bootstrap.css" rel="stylesheet"/> -->
    <!-- Customize styles -->
    <!-- <link href="style.css" rel="stylesheet"/> -->
    <!-- font awesome styles -->
	<!-- <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet"> -->
		<!--[if IE 7]>
			<link href="css/font-awesome-ie7.min.css" rel="stylesheet">
		<![endif]-->

		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

	<!-- Favicons -->
    <link rel="shortcut icon" href="<%= asset_path 'ico/favicon.ico' %>">
  </head>
<body style="background:url('<%= asset_path("white_leather.png") %>') repeat 0 0;">
<!-- 
	Upper Header Section 
-->
<%= render "common/topbar" %>

<!--
Lower Header Section 
-->
<div class="container">
<%= render "common/header" %>
<%= render "common/leftmenu" %>
<!-- 
Body Section 
-->
<div class="span9">
<!-- 
New Products
-->
<h1 class="ui center aligned icon header" style="font-size:28px;margin:20px 0 22px 0;">
 
    <div class="content">
      <%= @specialoffer.name %>
    </div>
  </h1>
  <input type="hidden" id = "productcount_limit" name="productcount_limit" value="<%=@specialoffer.productcount%>">
  <h2 class="ui center aligned icon header" style="font-size:20px;margin:20px 0 22px 0;">
    <div class="content">
      <% if @specialoffer.offertype == "1" %>
      任選<%=@specialoffer.productcount%>項以上，每項NT ＄ <%= @specialoffer.saleprice %>元。
      <%elsif @specialoffer.offertype == "2" %>
      任選<%=@specialoffer.productcount%>項以上，每項打<%= @specialoffer.discount %>折。
      <%end%>
    </div>
  </h2>
  <%= form_for @specialoffer , :url => add_to_salecart_specialoffers_path,:html => { :onsubmit => "return ValidateSize();" }, method: :post do |f| %>
    <input type="hidden" name="specialoffer_id" value="<%=@specialoffer.id%>">
      <div class="well alert alert-error">
      已選 <div id="productcount" style="display:inline;">0</div> 樣商品 ｜ 原價 <div id="originalprice" style="display:inline;">0</div> 元 ｜ 折扣價 <div id="saleprice" style="display:inline;">0</div> 元
          <p>多種促銷組合優惠！！ <br></p>
               <table>
               <div id="select">您已選擇：</div>
              </table>
                <% if @current_user%>
                <button id="select_form_submit" class="ui red button" style="float:right">
                <i class="shopping basket icon"></i>訂購
                </button>
                <%else%>
                <a class="ui red button" style="float:right"  href="/consoles/login">登入會員</a>
                <%end%>
              <br>
              <br>
    </div>
    <%end%>
	<div class="well well-small">	
 	<% if @products.size > 0 %>
		<% i = 1 %>
		<% @products.each do |p|%>
		<% if i%3 == 1%>
		<div class="row-fluid">
		  <ul class="thumbnails">
		<% end%>
			<li class="span4">
			  <div class="thumbnail">
				<a href="/products/<%= p.id %>" class="overlay"></a>
				<a class="zoomTool" href="/products/<%= p.id %>" title="add to cart"><i class="search icon"></i>前往商品</a>
				<a href="/products/<%= p.id %>">

  <img class="ui centered small image" src="<%= asset_path p.product.productimages.first.phourl %>" style='height: 180px; width: 100%; object-fit: contain'>
</a>
				<div class="caption cntr">
					<p><strong><%= p.product.name %></strong></p>
          <p><%= p.option1%></p>
					<p>
					庫存：<%= p.surplus %></br> 
        	<s>NT ＄ <%= p.price %></s></br>
          <% if @specialoffer.offertype == "1" %>
          <font color="red"><b>NT ＄ <%= @specialoffer.saleprice %></b></font>
          <%elsif @specialoffer.offertype == "2" %>
          <font color="red"><b>NT ＄ <%if @specialoffer.discount>10%><%=(p.price*@specialoffer.discount/100.00).round%><%else%><%=(p.price*@specialoffer.discount/10.00).round%><%end%></b></font>
					<%end%>
          </p>
				<select id="sum<%=p.id%>" style="width:100%;">
                    <% for x in 1..p.surplus %>
                      <option value="<%=x%>" ><%=x%></option>
                    <%end%>
                </select>
                <br></br>
                <% if p.surplus==0 %>
                <div class="redShopBtn" style='cursor: pointer;'>已售完</div>
                <%else%>
            <% if @specialoffer.offertype == "1" %>
              <div class="shopBtn" style='cursor: pointer;' onClick="optionclick('<%=p.id%>','<%=p.product.name%>','<%=p.price%>','<%=@specialoffer.saleprice%>')">選購</div>
            <%elsif @specialoffer.offertype == "2" %>
               <div class="shopBtn" style='cursor: pointer;' onClick="optionclick('<%=p.id%>','<%=p.product.name%>','<%=p.price%>','<%if @specialoffer.discount>10%><%=(p.price*@specialoffer.discount/100.00).round%><%else%><%=(p.price*@specialoffer.discount/10.00).round%><%end%>')">選購</div>
            <%end%>
            <%end%>
				</div>
			  </div>
			</li>
		<% if i%3==0 %>
		  </ul>
		</div>
		<% end %>
		<% i += 1%>
		<% end %>
			</div>
		<%else%>
		<h1 class="ui center aligned icon header" style="font-size:28px;margin:20px 0 22px 0;">
 
    <div class="content">
      沒有商品
    </div>
  </h1>
		<%end%>
	</div>
	</div>
	</div>
<!-- 
Clients 
-->
<!--
Footer
-->
<%= render "common/footerbar" %>

  </body>
</html>
<script type="text/javascript">

      count=1;
function optionclick(id,name,orgprice,saleprice) {
        sum = document.getElementById("sum"+id).value;
        document.getElementById("originalprice").innerHTML=Number(document.getElementById("originalprice").innerHTML)+orgprice*sum;
        document.getElementById("saleprice").innerHTML=Number(document.getElementById("saleprice").innerHTML)+saleprice*sum;
        if (document.getElementById("fieldsum"+id)!=null)
        {
          document.getElementById("fieldsum"+id).innerHTML=Number(document.getElementById("fieldsum"+id).innerHTML)+Number(sum);
          document.getElementById("productcount").innerHTML = Number(document.getElementById("productcount").innerHTML)+Number(sum);
          document.getElementById("hiddenfieldsum"+id).value=Number(document.getElementById("fieldsum"+id).innerHTML)
        }
        else{
        document.getElementById("productcount").innerHTML = Number(document.getElementById("productcount").innerHTML)+Number(sum);
        var addto = "#select";
        var addRemove = "#field"+(id);
        var newIn = '<div id="field'+id+'" style="display:inline; value="1"><tr><td><div style="margin:0 auto;display:inline;" >'+name+'</div></td><td><div id="fieldsum'+id+'" style="display:inline;">'+sum+'</div>件</td><input type="hidden" name="[product][option'+id+'][id]" value="'+id+'"><input type="hidden" name="[product][option'+id+'][sum]" id="hiddenfieldsum'+id+'" value="'+sum+'"><input type="hidden" name="[product][option'+id+'][saleprice]" value="'+saleprice+'">';
        var newInput = $(newIn);
        var removeBtn = '<button id="remove' + id + '" class="btn btn-danger remove-me" >-</button></tr></br></div>';
        var removeButton = $(removeBtn);
        $(addto).after(newInput);
        $(addRemove).after(removeButton);
        $("#select").attr('data-source',$(addto).attr('data-source'));
        
            $('.remove-me').click(function(e){
                var fieldNum = this.id.charAt(this.id.length-1);
                var fieldID = "#field" + fieldNum;
                $(this).remove();
                $(fieldID).remove();
            });
          }
}
function ValidateSize()
{
    if (Number(document.getElementById("productcount").innerHTML)<Number(document.getElementById("productcount_limit").value))
    {
        alert("商品數量不符優惠限制");
        return false;
    }
}
 </script>
 <style type="text/css">
.box1{                           
 position:absolute;    
 bottom: 0px;              
}
.box2{                            
 height: 480px;               
 position: relative;
}
</style>