<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>GermanySky 德心應手</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="<%= asset_path 'ico/favicon.ico' %>">
  </head>
<body style="background:url('<%= asset_path("white_leather.png") %>') repeat 0 0;">
<!-- 
	Upper Header Section 
-->
<%= render "common/topbar" %>

<!--
Lower Header Section 
-->
<div class="container">
<%= render "common/header" %>
<div class="row pull-left">
<div id="sidebar" class="span3">

<div class="well well-small">
  <ul class="nav nav-list">
  <div class="ui center aligned icon header" style="font-size:18px;margin:20px 0 22px 0;">
  <li> 等級總數： <%= number_with_delimiter(@accountlevels_size, :delimiter => ',') %></li>
  <li><br></li>
    <li><button class="ui orange basic button" id = "btn_new_accountlevel">新增會員等級</button></li>
    </div>
  </ul>
</div>

  </div>
<!-- 
Body Section 
-->
<div class="span9">
  <h1 class="ui center aligned icon header" style="font-size:28px;margin:20px 0 22px 0;">
    <div class="content">會員等級管理</div>
  </h1>

<% if @accountlevels.present? %>
      <% if @accountlevels.size != 0 %>
        <div class="infinite-table">
          <table id="accountlevels_table" class="site-font ui sortable selectable teal table">
            <thead>
              <tr>
                <th>等級名稱</th>
                <th>優惠</th>
                <th>所需積分</th>
                <th style="margin: 0 10px 0 10px;">Function</th>
              </tr>
            </thead>
            <tbody>
              <%= render :partial => 'accountlevel', :object => @accountlevels %>
            </tbody>
          </table>
          <p class="pagination">
            <%= link_to_next_page @accountlevels, 'Next Page', :params => {:filter => @search_param}%>
          </p>
        </div>
      <% else %>
        <h3>未建立！</h3>
      <% end %>
    <% end %>
</div>
</div>
<!-- 
Clients 
-->
<!--
Footer
-->
<%= render "common/footerbar" %>
<div class="ui small modal edit-account" style="padding-top:0px;">
  <i class="close icon"></i>
  <div id="edit_from" style="padding:10px;">
  </div>
</div>

<div class="ui basic modal delete-check">
  <i class="close icon"></i>
  <div class="header">
    刪除會員等級 <span class="primary-orange target_accountlevel"></span>
  </div>
  <div class="image content">
    <div class="image">
      <i class="user icon"></i>
    </div>
    <div class="description">
      <p>確定要刪除<span class="primary-orange target_accountlevel"></span>嗎?</p>
    </div>
  </div>
  <div class="actions">
    <div class="two fluid ui inverted buttons">
      <div class="ui ok red basic inverted button">
        <i class="remove icon"></i>
        刪除
      </div>
      <div class="ui cancel blue basic inverted button">
        <i class="checkmark icon"></i>
        取消
      </div>
    </div>
  </div>
</div>
  </body>
</html>
<script type="text/javascript">

$("#subscription").click(function(){
	email = document.getElementById("newsletter_email").value;
	if (email =="")
		{alert("請輸入郵件");}
	else{
    var request = "/consoles/subscription?email="+email;
    var aj = $.ajax({
        url: request,
        type: 'get',
        data: $(this).serialize(),
        dataType: 'text'
    }).done(function (data) {
     if (data="success"){
      alert( "訂閱成功");
  		}else{
  			alert("訂閱失敗");
  		}

    }).fail(function (data) {
      alert("此email已訂閱");
    });
	}
    });
 </script>
 <script type="text/javascript">
$(function(){
  $('.ui.sticky.control-menu')
  .sticky({
    offset            : 81,
    observeChanges    : true,
    context: '#content_part'
  });

// search functions
  var search_msg = $('#filter')
    .popup({
      inline   : true,
      hoverable: false,
      position : 'top center',
      delay: {
        show: 100,
        hide: 800
      },
      on: 'manual'
    })
  ;

  $("#search_go").click(function(){
    start_search();
  });

  $(document).on('keypress', function(e) {
    if(e.which == 13) {
      start_search();
    }
  });

  $( "#filter" ).focus(function() {
    search_msg.popup('hide');
  });

  function start_search(){
    var search_string = $("#filter").val();
    if(search_string == ""){
      search_msg.popup('toggle');
    }else{
      var target_url = "";
      if(window.location.href == "http://"+location.host+""){
        target_url = window.location.href+"?filter="+search_string;
      }else if(window.location.href.indexOf('filter') > -1){
        target_url = "http://"+location.host+"/accountlevels?filter="+search_string;
      }else{
        target_url = window.location.href+"&filter="+search_string;
      }
      window.location.replace(target_url);
    }
  }
// search functions

  $('#accountlevels_table').tablesort();

  $('body').on('click','.accountlevel_edit',function(){
    $('.ui.dimmer.main').dimmer('show');

    var row_id = $(this).data("value");
    $.get( "/account_levels/"+row_id+"/edit", function(html) {
      $("#edit_from").empty();
      $("#edit_from").append(html);
      $('.ui.dimmer.main').dimmer('hide');

      $('.ui.modal.edit-account').modal({
        observeChanges: true
      }).modal('refresh').modal('show');

    }).fail(function() {
      $('.ui.dimmer.main').dimmer('hide');
      alert( "error" );
    });
  });

  $('body').on('click', '.accountlevel_del',function(){
    var href = this.href;
    var orign_link = $(this);
    var accountlevel_name = $(this).data("accountlevel_name");
    console.log(accountlevel_name);

    $(".target_accountlevel").text(accountlevel_name);

    $('.delete-check').modal({
        onApprove : function() {
          $.ajax({
            type: "get",
            method: "delete",
            url: href
          });
          $('.ui.dimmer.main').dimmer('show');
          location.reload();
        }
      }).modal('refresh').modal('show');

    return false;
  });

  $("#btn_new_accountlevel").click(function(){
    $("#btn_new_accountlevel").addClass("loading");
    $.get( "/account_levels/new", function(html) {
      $("#edit_from").empty();
      $("#edit_from").append(html);
      $("#btn_new_accountlevel").removeClass("loading");

      $('.ui.modal.edit-account').modal({
        observeChanges: true
      }).modal('refresh').modal('show');

    }).fail(function() {
      $("#btn_new_accountlevel").removeClass("loading");
      alert( "error" );
    });

  });



});
</script>
 <style type="text/css">
.box1{                           
 position:absolute;    
 bottom: 0px;              
}
.box2{                            
 height: 480px;               
 position: relative;
}
</style>