<% @newsboards.each do |newsboard| %>
<tr>
<td class="collapsing newsboard_info not-icon" data-value="<%= newsboard.id %>">
<%= newsboard.title %>
  </td>
  <td><%= newsboard.subtitle%></td>
  <td><%= newsboard.created_at.strftime("%Y-%m-%d") %></td>
 <% if @current_user.present? && @current_user.role == 1 %>
  <td class="collapsing">
    <button class="ui blue basic button newsboard_edit" data-value="<%= newsboard.id %>">修改</button>
    <%= link_to newsboard, class: 'ui orange basic button newsboard_del', method: :delete, data:{name: newsboard.title} do %>
      刪除
    <% end %>
  </td>
  <% end %>
</tr>
<% end %>
