<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>GermanySky 德心應手</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap styles -->
    <!-- <link href="assets/css/bootstrap.css" rel="stylesheet"/> -->
    <!-- Customize styles -->
    <!-- <link href="style.css" rel="stylesheet"/> -->
    <!-- font awesome styles -->
	<!-- <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet"> -->
		<!--[if IE 7]>
			<link href="css/font-awesome-ie7.min.css" rel="stylesheet">
		<![endif]-->

		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

	<!-- Favicons -->
    <link rel="shortcut icon" href="<%= asset_path 'ico/favicon.ico' %>">
  </head>
<body style="background:url('<%= asset_path("white_leather.png") %>') repeat 0 0;">
<input type="hidden" id="find_newsboard" value="<%= @newsboard_info %>">
<!-- 
	Upper Header Section 
-->
<%= render "common/topbar" %>

<!--
Lower Header Section 
-->
<div class="container">
<%= render "common/header" %>
<div class="row pull-left">
<div id="sidebar" class="span3">

<div class="well well-small">
  <ul class="nav nav-list">
  <div class="ui center aligned icon header" style="font-size:18px;margin:20px 0 22px 0;">
  <li> 文章總數： <%= number_with_delimiter(@newsboards_size, :delimiter => ',') %></li>
  <li><br></li>
    <li><button class="ui orange basic button" id = "btn_new_newsboard">新增最新消息</button></li>
    </div>
  </ul>
</div>

  </div>
<!-- 
Body Section 
-->
<div class="span9">
<div> </div>
<h2 class="site-font ui header">最新消息</h2>
    <% if @newsboards.present? %>
      <% if @newsboards.size != 0 %>
        <div class="infinite-table">
          <table id="newsboards_table" class="site-font ui sortable selectable orange table">
            <thead>
              <tr>
                <th>標題</th>
                <th>內容</th>
                <th>日期</th>
                <% if @current_user.present? && @current_user.role == 1 %>
                <th style="margin: 0 10px 0 10px;">Function</th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <%= render :partial => 'newsboards', :object => @newsboards %>
            </tbody>
          </table>
          <p class="pagination">
            <%= link_to_next_page @newsboards, 'Next Page', :params => {:filter => @search_param}%>
          </p>
        </div>
      <% else %>
        <h3>未建立！</h3>
      <% end %>
      <% else %>
      <h3>未建立！</h3>
      <% end %>
</div>

</div>
<!-- 
Clients 
-->
<!--
Footer
-->
<%= render "common/footerbar" %>
<div class="ui small modal edit-newsboard" style="padding-top:0px;">
  <i class="close icon"></i>
  <div id="edit_from" style="padding:10px;">
  </div>
</div>

<div class="ui basic modal delete-check">
  <i class="close icon"></i>
  <div class="header">
    刪除訊息 <span class="primary-orange target_newsboard"></span>
  </div>
  <div class="image content">
    <div class="image">
      <i class="user icon"></i>
    </div>
    <div class="description">
      <p>確定要刪除<span class="primary-orange target_newsboard"></span>嗎?</p>
    </div>
  </div>
  <div class="actions">
    <div class="two fluid ui inverted buttons">
      <div class="ui ok red basic inverted button">
        <i class="remove icon"></i>
        刪除
      </div>
      <div class="ui cancel blue basic inverted button">
        <i class="checkmark icon"></i>
        取消
      </div>
    </div>
  </div>
</div>
  </body>
</html>

 <script type="text/javascript">
$(function(){

  $(document).on('keypress', function(e) {
    if(e.which == 13) {
      start_search();
    }
  });

  $( "#filter" ).focus(function() {
    search_msg.popup('hide');
  });
  $('body').on('click','.newsboard_info',function(){
    var row_id = $(this).data("value");
    show_info(row_id);
  });
  function show_info(newsboard_id){
    
window.location.replace("http://"+location.host+"/newsboards/"+newsboard_id);
  }
  function start_search(){
    var search_string = $("#filter").val();
    if(search_string == ""){
      search_msg.popup('toggle');
    }else{
      var target_url = "";
      if(window.location.href == "http://"+location.host+"/newsboards"){
        target_url = window.location.href+"?filter="+search_string;
      }else if(window.location.href.indexOf('filter') > -1){
        target_url = "http://"+location.host+"/newsboards?filter="+search_string;
      }else{
        target_url = window.location.href+"&filter="+search_string;
      }
      window.location.replace(target_url);
    }
  }
// search functions

  $('#newsboards_table').tablesort();

  $('body').on('click','.newsboard_edit',function(){
    $('.ui.dimmer.main').dimmer('show');

    var row_id = $(this).data("value");
    $.get( "/newsboards/"+row_id+"/edit", function(html) {
      $("#edit_from").empty();
      $("#edit_from").append(html);
      $('.ui.dimmer.main').dimmer('hide');

      $('.ui.modal.edit-newsboard').modal({
        observeChanges: true
      }).modal('refresh').modal('show');

    }).fail(function() {
      $('.ui.dimmer.main').dimmer('hide');
      alert( "error" );
    });
  });

  $('body').on('click', '.newsboard_del',function(){
    var href = this.href;
    var orign_link = $(this);
    var newsboard_name = $(this).data("name");
    console.log(newsboard_name);

    $(".target_newsboard").text(newsboard_name);

    $('.delete-check').modal({
        onApprove : function() {
          $.ajax({
            type: "get",
            method: "delete",
            url: href
          });
          $('.ui.dimmer.main').dimmer('show');
          location.reload();
        }
      }).modal('refresh').modal('show');

    return false;
  });

  $("#btn_new_newsboard").click(function(){
    $("#btn_new_newsboard").addClass("loading");
    $.get( "/newsboards/new", function(html) {
      $("#edit_from").empty();
      $("#edit_from").append(html);
      $("#btn_new_newsboard").removeClass("loading");

      $('.ui.modal.edit-newsboard').modal({
        observeChanges: true
      }).modal('refresh').modal('show');

    }).fail(function() {
      $("#btn_new_newsboard").removeClass("loading");
      alert( "error" );
    });

  });



});
</script>
 <style type="text/css">
.box1{                           
 position:absolute;    
 bottom: 0px;              
}
.box2{                            
 height: 480px;               
 position: relative;
}
</style>