<% @brands.each do |brand| %>
<tr>
  <td>
  
  <div class="item">
      <img class="ui centered small image" src="<%begin%><%= asset_path brand.brandimage.phourl %><%rescue%><%= asset_path '100px.png' %><%end%>">
    </div>
    </td>
  <td><%= brand.name %></td>
  <td><%= brand.briefdescription%></td>
 
  <td class="collapsing">
    <button class="ui blue basic button brand_edit" data-value="<%= brand.id %>">修改</button>
    <%= link_to brand, class: 'ui orange basic button brand_del', method: :delete, data:{name: brand.name} do %>
      刪除
    <% end %>
  </td>
</tr>
<% end %>
