<div class="form-check">
<%= form_for @product,authenticity_token: true do |f| %>
<input id="option_size" type="hidden" value="<%= @product.product_options.size %>"/>
<div class="ui stackable one column centered grid">
  <div class="fourteen wide column">
    <div class="ui large form" style="text-align:left;">
      
      <div class="required field">
        <label>商品名稱 Name：</label>
        <%= f.text_field :name, placeholder: "請輸入商品名稱." %>
      </div>
      <div class="field">
          <label>商品品牌 Brand：</label>
          <%= f.select :brand_id, options_for_select(Brand.all.pluck(:name, :id),@product.brand_id), {:prompt => '請選擇品牌'}, class: "ui search dropdown", id: 'brand_select', :data => {validate:"brand_select"} %>
        </div>
            <div class="field">
          <label>庫存型態：</label>
          <%= f.select :producttype, options_for_select(Producttype.all.pluck(:name, :id),@product.producttype), {:prompt => '請選擇型態'}, class: "ui search dropdown", id: 'producttype_select', :data => {validate:"producttype_select"} %>
        </div>
      <div class="field">
          <label>商品分類：</label>
          <%= f.select :type_one_id, options_for_select(TypeOne.all.pluck(:name, :id),@product.type_one_id), {:prompt => '請選擇分類'}, class: "ui search dropdown", id: 'type_select', :data => {validate:"type_select"} %>
          
      <% if @product.type_two_id && @product.type_two_id != ""%>
      <div id="typetwo_field" class="field">
      <%= f.select :type_two_id, options_for_select(@product.type_one.type_twos.pluck(:name, :id),@product.type_two_id), {:prompt => '請先選擇上層'}, class: "ui search dropdown", id: 'typetwo_select', :data => {validate:"typetwo_select"} %>
      </div>
      <%else%>
      <div id="typetwo_field" class="disabled field">
      <select name="product[type_two_id]" id="typetwo_select" class="ui search dropdown" data-validate="typeone_select"><option value="">請先選擇上層</option><option value="0">無</option></select>
      </div>
      <%end%>
      <% if @product.type_three_id && @product.type_three_id != ""%>
      <div id="typethree_field" class="field">
        <%= f.select :type_three_id, options_for_select(@product.type_two.type_threes.pluck(:name, :id),@product.type_three_id), {:prompt => '請先選擇上層'}, class: "ui search dropdown", id: 'typethree_select', :data => {validate:"typethree_select"} %>
      </div>
      <%else%>
       <div id="typethree_field" class="disabled field">
      <select name="product[type_three_id]" id="typethree_select" class="ui search dropdown" data-validate="typethree_select"><option value="">請先選擇上層</option><option value="0">無</option></select>
     </div>
     <%end%>
      
        </div>
            <table id="option_table" class="site-font ui sortable selectable blue table">
            <thead>
              <tr>
                <th>規格</th>
                <th>價格</th>
                <th>數量</th>
                <th></th>
              </tr>
            </thead>
            <tbody>

<% @product.product_options.each_with_index do |o,index| %>
<tr id="row<%=index+1%>">
  <td><input id="optionname<%=index+1%>" name="product[options][option<%=index+1%>][optionname<%=index+1%>]" placeholder="名稱" type="text" value="<%= o.option1 %>" /></td>
  <td><input id="optionprice<%=index+1%>" name="product[options][option<%=index+1%>][optionprice<%=index+1%>]" placeholder="價錢" type="text" value="<%= o.price %>" /></td>
  <td><input id="optionsurplus<%=index+1%>" name="product[options][option<%=index+1%>][optionsurplus<%=index+1%>]" placeholder="庫存" type="text" value="<%= o.surplus %>"/></td>
  <td style="width:10px;">
  <input id="optionid<%=index+1%>" name="product[options][option<%=index+1%>][optionid]" type="hidden" value="<%= o.id %>"/>
  <% if index == 0 %>
  <%else%>
  <i class="close icon option-del" data-value="<%= o.id %>" data-rowid="<%=index+1%>"></i>
  <%end%>
  </td>
</tr>
<% end %>
      </tbody>
          </table>
<button id="addrow" type="button" class="ui basic red pull-right button">
      新增規格＋
    </button>

      <div class="required field">
        <label>紅利點數 point：</label>
        <%= f.text_field :point, placeholder: "請輸入可得紅利點數(單筆)" ,onkeyup: "return ValidateNumber($(this),value)"%>
      </div>
      <div class="required field">
        <label>簡短敘述 BriefDescription：</label>
        <%= f.text_field :briefdescription, placeholder: "請輸入簡短敘述" %>
      </div>
<!--       <div class="required field">
      <label>上傳圖片 Upload Photo</label>
          <div class="col-md-7">
            <%= f.file_field :upload, :id => 'image_file' %>
          </div>
          </div> -->
  <% if @product.productimages.present? %>
  <div class="ui four column centered grid" >
   <div class="row" style="padding-left:5px; padding-right:5px;">
       <% @product.productimages.each do |i| %>
          <% if i.phourl.present? %>
          <div class="column" id="image<%= i.id %>">
          <i class="close icon ins-del" data-value="<%= i.id %>"></i>
            <%= image_tag(i.phourl, size: "100" ,class: "ui centered rounded image") %>
            </div>
          <% end %>
        <%end%>
        </div>
        </div>
      <% end %>
    <input type="hidden" name="count" value="1" />
        <div class="control-group" id="fields">
        <div class="required field">
            <label for="field1">上傳圖片 Upload Photo</label>
            <div  id="fileprofs"> 
               
                    <div id="field" class="col-md-7"><input id="field1" name="product[files][file1]" type="file" /><button id="add-more" class="btn add-more" type="button">+</button></div>
                
            <br>
            </div>
            </div>

  </div>
      <div class="required field">
      <label>可用運送方式：</label>
        <%= f.select :delivery_ids, Delivery.all.collect {|x| [x.name, x.id]}, {},  :multiple => true, :id =>"delivery_ids",:data => {validate:"delivery_ids"} %>
      </div>

      <div class="required field">
      <label>可用付款方式：</label>
        <%= f.select :payment_ids, Payment.all.collect {|x| [x.name, x.id]}, {}, :multiple => true , :id =>"payment_ids",:data => {validate:"payment_ids"}%>
      </div>
      <script type="text/javascript">
$(document).ready(function() {
  $('#delivery_ids').multipleSelect();
  $('#payment_ids').multipleSelect();
  });
</script>

        <div class="field">
        <div class="ui horizontal segments">
    <div class="ui blue segment">
      <div class="ui toggle checkbox">
              <input type="checkbox" id="on_store" name="on_store" checked="checked">
              <label>是否上架</label>
            </div>
    </div>
    <div class="ui blue segment">
      <div class="ui toggle checkbox">
              <input type="checkbox" id="on_buy" name="on_buy" checked="checked">
              <label>是否開放購買</label>
            </div>
    </div>
  </div>
            
            
             
          </div>
    <div>
     <div class="required field">
     <label>內容 Content：</label>
 <div class="redactor_box">
  
</div>
<div><%= text_area_tag :content, @product.content, :class => "redactor", :rows => 20, :cols => 120 %></div>
    </div>
    </div>


    </div>

    <br>
    <div>
    <div class="ui divider"></div>
    <button id="product_form_submit" class="ui teal basic button">
      <i class="write icon"></i>送出
    </button>

  </div>
</div>



<% end %>
</div>
<script type="text/javascript">
  $('select.dropdown')
    .dropdown()
  ;
// $(function(){

//   $('form').submit(function() {
//     var valuesToSubmit = $(this).serialize();
//     $("#product_form_submit").addClass("loading");
//     console.log($(this).attr('action'));
//     $.ajax({
//         url: $(this).attr('action'), //sumbits it to the given url of the form
//         type: 'POST',
//         processData: false,
//         contentType: false,
//         data: new FormData(this)
//     }).success(function(upload_result){
//         console.log(upload_result);
//         if(upload_result == "success" ){
//           window.location.replace("http://"+location.host+"/products?recent=true");
//         }
//     }).fail(function(e) {
//         console.log(e);
//     }).done(function(){
//       $("#product_form_submit").removeClass("loading");
//     });
//     return false; // prevents normal behaviour
//   });
// });
  $('.form-check form')
    .form({
      fields: {
        producttype_select : {
          identifier: 'producttype_select',
          rules: [
            {
              type   : 'empty',
              prompt : '請至少選擇一個商品類別'
            }
          ]
        },
        delivery_select : {
          identifier: 'delivery_select',
          rules: [
            {
              type   : 'empty',
              prompt : '請至少選擇一個運送方式'
            }
          ]
        },
        payment_select : {
          identifier: 'payment_select',
          rules: [
            {
              type   : 'empty',
              prompt : '請至少選擇一個付款方式'
            }
          ]
        }      },
      inline : true,
      on     : 'submit'
    });
  $('.form-check form').submit(function() {
    var valuesToSubmit = $(this).serialize();
    var form_check = $('.form-check form').form("is valid");
    if(form_check){
      $("#product_form_submit").addClass("loading");
      $.ajax({
          url: $(this).attr('action'), //sumbits it to the given url of the form
          type: 'POST',
          processData: false,
          contentType: false,
          data: new FormData(this)
      }).success(function(upload_result){
          if(upload_result == "success" ){
            window.location.replace("//"+location.host+"/products/console_index");
          }
      }).fail(function(e) {
          console.log(e);
      });
    }
    return false; // prevents normal behaviour
  });
  function ValidateNumber(e, pnumber)
{
    if (!/^\d+$/.test(pnumber))
    {
        $(e).val(/^\d+/.exec($(e).val()));
    }
    return false;
}

//商品分類選擇
 $("#type_select").change(function(){
    console.log($(this).val());
    if($(this).val() != ""){
      $("#typetwo_field").removeClass("disabled");
    }
    $("#typetwo_select").dropdown('clear');
  });
  $("#typetwo_select").change(function(){
    console.log($(this).val());
    if($(this).val() != ""){
      $("#typethree_field").removeClass("disabled");
    }
    $("#typethree_select").dropdown('clear');
  });
$(document).on('change','#type_select', function () {
    $("#typetwo_select").val([]);
    $("#typetwo_select").empty();
    var typeone_id = $('#type_select').val();
    var request = "/type_ones/type_two_get?typeone_id="+ typeone_id;
    $.get(request, function(data) {
      $("#typetwo_select").append(//add in an option for each major
                $("<option></option>").attr("value", '').text('')
            );
       if(data.length != 0){
        for(i = 0;i<data.length;i++){
           $("#typetwo_select").append(//add in an option for each major
                $("<option></option>").attr("value", data[i].id).text(data[i].name)
            );
          }
    }
           
          });
});
$(document).on('change','#typetwo_select', function () {

    $("#typethree_select").val([]);
    $("#typethree_select").empty();
    var typetwo_id = $('#typetwo_select').val();
    var request = "/type_ones/type_three_get?typetwo_id="+ typetwo_id;
    $.get(request, function(data) {
      $("#typethree_select").append(//add in an option for each major
                $("<option></option>").attr("value", '').text('')
            );
       if(data.length != 0){
        for(i = 0;i<data.length;i++){
           $("#typethree_select").append(//add in an option for each major
                $("<option></option>").attr("value", data[i].id).text(data[i].name)
            );
          
          }
    }
           
          });
});


  $('body').on('click','.ins-del',function(){
    var this_image_id = $(this).data("value");


    $.post( "/products/upload_images_del", { "args": {image_id: this_image_id }})
    .success(function(data){
      $('#image'+this_image_id).empty();
    })
    .fail(function (xhr) {
      alert("圖片刪除失敗");
      console.log('AJAX request has FAILED');
    });

    return false;
  });
var id = document.getElementById("option_size").value;
  $("#addrow").click(function(){
   id +=1;

   var TabObj=document.all.option_table;
   var NewRow=option_table.insertRow();
   NewRow.id = "row"+id;
   var NewCell=NewRow.insertCell();
   NewCell.innerHTML='<input id="optionname'+id+'" name="product[options][option'+id+'][optionname'+id+']" placeholder="名稱" type="text" />';
   NewCell=NewRow.insertCell();
   NewCell.innerHTML='<input id="optionprice'+id+'" name="product[options][option'+id+'][optionprice'+id+']" placeholder="價錢" type="text" />';
   NewCell=NewRow.insertCell();
   NewCell.innerHTML='<input id="optionsurplus'+id+'" name="product[options][option'+id+'][optionsurplus'+id+']" placeholder="庫存" type="text" />';
   NewCell=NewRow.insertCell();
   NewCell.innerHTML='<i class="close icon option-del" data-value="" data-rowid="'+id+'"></i>';
   });

  $('body').on('click','.option-del',function(){
    var option_id = $(this).data("value");
    var rowid = $(this).data("rowid");
    $.post( "/products/option_del", { "args": {option_id: option_id }})
    .success(function(data){
      $('table#option_table tr#row'+rowid+'').remove();
    })
    .fail(function (xhr) {
      $('table#option_table tr#row'+rowid+'').remove();
      console.log('AJAX request has FAILED');
    });

    return false;
  });
</script>
