<% @products.each do |product| %>
<tr>
  <td class="not-icon"  style= "word-break:break-all;" data-value="<%= product.id %>"><div id="productname<%=product.id%>" onClick="name_click('<%=product.id%>','<%=product.name%>');"><%= product.name %></div><input id="productname_input<%=product.id%>" type="text" style="display:none;width:100px" value="<%=product.name%>" onfocusout="changenamedata('<%=product.id%>',this.value);" ></td>
  <td><div class="item">
  
<%begin%>
     <img class="ui centered tiny image" src="<%= asset_path product.productimages.first.phourl %>">
     <%rescue%>
     <img class="ui centered tiny image" src="<%= asset_path '100px.png' %>">
     <%end%>
    </div></td>
  <td class="product_info not-icon" style= "word-break:break-all; " data-value="<%= product.id %>">「<%= product.producttype.name %>」</br>「<%= product.type_one.name %>」</br>「<%=product.brand.name%>」</td>
  <td class="collapsing product_info not-icon" data-value="<%= product.id %>">
  <運送></br>
  <% product.deliveries.each_with_index do |d,index|%>
  <%= index+1%>.<%=d.name%></br>
  <%end%>
  <付款></br>
  <% product.payments.each_with_index do |p,index|%>
  <%= index+1%>.<%=p.name%></br>
  <%end%>
  </td>
   <td class="product_info not-icon" style= "word-break:break-all;" data-value="<%= product.id %>">
 <% if product.product_options.size > 1 %>
 <table border="0" width="100%">
 <% product.product_options.each_with_index do |o,index| %>
 <tr><td><%=index%>.<%= o.option1 %></br></td></tr>
<%end%>
</table>
 </td>
 <% else %>
  </br>
  1.<%= product.product_options.first.option1 %></td>
 <% end %>
 <td>
 <% if product.product_options.size > 1 %>
 <table border="0" width="100%">
 <% product.product_options.each do |o| %>
 <tr><td><%= o.price %></br></td></tr>
<%end%>
</table>
 </td>
 <% else %>
  </br>
 <%= product.product_options.first.price %></td>
 <% end %>
 <td> <% if product.product_options.size > 1 %>
  <table border="0" width="100%">
 <% product.product_options.each do |o| %>
 <tr><td><%= o.surplus %></br></td></tr>
<%end%>
</table>
 </td>
 <% else %>
 </br>
 <%= product.product_options.first.surplus %></td>
 <% end %>
  <td class="collapsing">
    <button class="ui blue basic button product_edit" data-value="<%= product.id %>">修改</button>
    </br>
    <%= link_to product, class: 'ui orange basic button product_del', method: :delete, data:{name: product.name} do %>
      刪除
    <% end %>
    </br>
    <button class="ui teal basic button product_copy" data-value="<%= product.id %>">複製</button>
  </td>
</tr>
<% end %>
<script type="text/javascript">
function name_click(id,name) {
  document.getElementById('productname'+id).style.display = 'none';
  document.getElementById('productname_input'+id).style.display = '';
  
}
function changenamedata(id,name) {
  if (document.getElementById('productname_input'+id).value != "")
  {
    $.get( "/products/edit_productname?id="+id+"&name="+name, function(html) {
      document.getElementById('productname'+id).innerHTML = name;
      document.getElementById('productname'+id).style.display = '';
      document.getElementById('productname_input'+id).style.display = 'none';
    }).fail(function() {
      document.getElementById('productname'+id).style.display = '';
      document.getElementById('productname_input'+id).style.display = 'none';
      document.getElementById('productname_input'+id).value = document.getElementById('productname').innerHTML; 
    });
}
  else
  {
    document.getElementById('productname'+id).style.display = '';
    document.getElementById('productname_input'+id).style.display = 'none';
    document.getElementById('productname_input'+id).value = document.getElementById('productname').innerHTML;
  }
  
}

</script>