<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>GermanySky 德心應手</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap styles -->
    <!-- <link href="assets/css/bootstrap.css" rel="stylesheet"/> -->
    <!-- Customize styles -->
    <!-- <link href="style.css" rel="stylesheet"/> -->
    <!-- font awesome styles -->
	<!-- <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet"> -->
		<!--[if IE 7]>
			<link href="css/font-awesome-ie7.min.css" rel="stylesheet">
		<![endif]-->

		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

	<!-- Favicons -->
    <link rel="shortcut icon" href="<%= asset_path 'ico/favicon.ico' %>">
  </head>
<body style="background:url('<%= asset_path("white_leather.png") %>') repeat 0 0;">
<!-- 
	Upper Header Section 
-->
<%= render "common/topbar" %>

<!--
Lower Header Section 
-->

<div class="container">
<%= render "common/header" %>


<!-- 
Body Section 
-->

  <h1 class="ui center aligned icon header" style="font-size:28px;margin:20px 0 22px 0;">
    <div class="content">商品管理</div>
  </h1>

<div style="width:550px;height:80px;margin:0 auto;">

  <div class="ui center aligned icon header" style="font-size:18px;margin:20px 0 22px 0;">
 商品總數： <%= number_with_delimiter(@products_size, :delimiter => ',') %>
  <br>
  <% if @current_user.role == 1 %>
    <button class="ui orange button" id = "btn_new_product">新增商品</button>
  <% end %>
    </div>
    </div>
<div style="width:800px;margin:0px auto;">
<select id = "type" name="type" >
  <option value="" disabled selected>分類</option>
  <% @type_ones.each do |t| %>
  <option value="<%=t.id%>"><%=t.name%></option>
  <%end%>
</select>
  <select id="brand" name="brand" >
  <option value="" disabled selected>品牌</option>
 <% @brands.each do |b| %>
  <option value="<%=b.id%>"><%=b.name%></option>
  <%end%>
</select>
or
<input id="filterbar" type="text" placeholder="搜尋">
<button id="select_filter" class="ui blue tiny button select_filter">
  <i class="search icon"></i>確定
</button>
</div>

<% if @products.present? %>
      <% if @products.size != 0 %>
        <div class="infinite-table">
          <table id="products_table" class="site-font ui sortable selectable teal table">
            <thead>
              <tr>
                <th class="AutoNewline" style="width:100px;" >名稱</th>
                <th>圖片</th>
                <th class="AutoNewline">分類資訊</th>
                <th class="AutoNewline">運送/付款</th>
                <th class="AutoNewline">規格</th>
                <th>售價</th>
                <th>庫存</th>

                <th style="margin: 0 10px 0 10px;">Function</th>
              </tr>
            </thead>
            <tbody>
              <%= render :partial => 'products', :object => @products %>
            </tbody>
          </table>
          <p class="pagination">
            <%= link_to_next_page @products, 'Next Page', :params => {:filter => @search_param}%>
          </p>
        </div>
      <% else %>
        <h3>未建立分類！</h3>
      <% end %>
    <% end %>
    
<!-- 
Clients 
-->
<!--
Footer
-->
<%= render "common/footerbar" %>
<div class="ui small modal edit-product" style="padding-top:0px;">
  <i class="close icon"></i>
  <div id="edit_from" style="padding:10px;">
  </div>
</div>

<div class="ui basic modal delete-check">
  <i class="close icon"></i>
  <div class="header">
    刪除商品 <span class="primary-orange target_product"></span>
  </div>
  <div class="image content">
    <div class="image">
      <i class="user icon"></i>
    </div>
    <div class="description">
      <p>確定要刪除<span class="primary-orange target_product"></span>嗎?</p>
    </div>
  </div>
  <div class="actions">
    <div class="two fluid ui inverted buttons">
      <div class="ui ok red basic inverted button">
        <i class="remove icon"></i>
        刪除
      </div>
      <div class="ui cancel blue basic inverted button">
        <i class="checkmark icon"></i>
        取消
      </div>
    </div>
  </div>
</div>
  </body>
</html>

<script type="text/javascript">
$(function(){

// search functions

  $('#products_table').tablesort();

  $('body').on('click','.product_edit',function(){
    $('.ui.dimmer.main').dimmer('show');

    var row_id = $(this).data("value");
    $.get( "/products/"+row_id+"/edit", function(html) {
      $("#edit_from").empty();
      $("#edit_from").append(html);
      $('.ui.dimmer.main').dimmer('hide');

      $('.ui.modal.edit-product').modal({
        observeChanges: true
      }).modal('refresh').modal('show');

    }).fail(function() {
      $('.ui.dimmer.main').dimmer('hide');
      alert( "error" );
    });
  });

  $('body').on('click', '.product_del',function(){
    var href = this.href;
    var orign_link = $(this);
    var product_name = $(this).data("name");
    console.log(product_name);

    $(".target_product").text(product_name);

    $('.delete-check').modal({
        onApprove : function() {
          $.ajax({
            type: "get",
            method: "delete",
            url: href
          });
          $('.ui.dimmer.main').dimmer('show');
          location.reload();
        }
      }).modal('refresh').modal('show');

    return false;
  });

    $('body').on('click','.product_copy',function(){
    var product_id = $(this).data("value");
    var request = "/products/copy?id="+product_id;
    var aj = $.ajax({
        url: request,
        type: 'get',
        data: $(this).serialize(),
        dataType: 'text'
    }).done(function (data) {
      window.location.reload();
         
    }).fail(function (data) {
        window.location.reload();
    });

  });
  //   $("#test").click(function(){
  //   var area_id = $('#area_select').val();
  //   var request = "/products/test?id=";
  //   var aj = $.ajax({
  //       url: request,
  //       type: 'get',
  //       data: $(this).serialize(),
  //       dataType: 'text'
  //   }).done(function (data) {
  //     alert( data );
  //        document.getElementById('test').innerHTML='abc';
  //   }).fail(function (data) {
  //     alert("ss");
  //        document.getElementById('test2').innerHTML='efg';
  //   });

  // });

  $("#btn_new_product").click(function(){
    $("#btn_new_product").addClass("loading");
    $.get( "/products/new", function(html) {
      $("#edit_from").empty();
      $("#edit_from").append(html);
      $("#btn_new_product").removeClass("loading");

      $('.ui.modal.edit-product').modal({
        observeChanges: true
      }).modal('refresh').modal('show');

    }).fail(function() {
      $("#btn_new_product").removeClass("loading");
      alert( "error" );
    });

  });
$('body').on('click','.product_info',function(){
    var row_id = $(this).data("value");
    show_info(row_id);
  });
  function show_info(product_id){
    
window.location="http://"+location.host+"/products/"+product_id;

  }


});
    $("#select_filter").click(function(){
    type = "type="+document.getElementById("type").value;
    brand = "brand="+document.getElementById("brand").value;
    filter = "filter="+$("#filterbar").val();
    window.location.replace("http://"+location.host+"/products/console_index?"+type+"&"+brand+"&"+filter);

  });
</script>
<style type="text/css">
.AutoNewline
{
word-break: break-all;/*必須*/
}
</style>