    <div class="global-wrapper clearfix" id="global-wrapper">
        <%= render "common/theboxheader" %>

<div class="container">
            <header class="page-header">
                <% if @type.present? %>
                <h1 class="page-title"><%=@type.name%></h1>
                <ol class="breadcrumb page-breadcrumb">
                    <li><a href="/products?type=<%=@type.id%>"><%=@type.name%></a>
                    </li>
                </ol>
                <% else %>
                <h1 class="page-title">All Products</h1>
                <% end %>
                
            </header>
            <div class="row">
                <div class="col-md-3">
                    <% if @type.present? %>
                    <aside class="category-filters">
                        <div class="category-filters-section">
                            <h3 class="widget-title-sm">分類</h3>
                            <ul class="cateogry-filters-list">
                                <% @type_ones.each do |t| %>
                                <li><a href="/products?type=<%=t.id%>"><%=t.name%></a>
                                </li>
                                    <% if @type == t%>
                                        <% @type.type_twos.each do |t2| %>
                                        <li><a href="/products?type2=<%=t2.id%>">&nbsp;<%=t2.name%></a>
                                        </li>
                                        <%end%>
                                    <% end %>
                                <% end %>
                            </ul>
                        </div>
                    </aside>
                    <%elsif @type2.present?%>
                    <aside class="category-filters">
                        <div class="category-filters-section">
                            <h3 class="widget-title-sm">分類</h3>
                            <ul class="cateogry-filters-list">
                                <% @type_ones.each do |t| %>
                                <li><a href="/products?type=<%=t.id%>"><%=t.name%></a>
                                </li>
                                    <% if @type2.type_one == t%>
                                        <% t.type_twos.each do |t2| %>
                                        <li><a href="/products?type2=<%=t2.id%>">&nbsp;<%=t2.name%></a>
                                        </li>
                                            <% if t2 == @type2%>
                                                <% t2.type_threes.each do |t3|%>
                                                    <li><a href="/products?type3=<%=t3.id%>">&nbsp;&nbsp;<%=t3.name%></a>
                                        </li>
                                                <%end%>
                                            <% end %>
                                        <%end%>
                                    <% end %>
                                <% end %>
                            </ul>
                        </div>
                    </aside>
                    <%else%>
                        <aside class="category-filters">
                        <div class="category-filters-section">
                            <h3 class="widget-title-sm">分類</h3>
                            <ul class="cateogry-filters-list">
                                <% @type_ones.each do |t| %>
                                <li><a href="/products?type=<%=t.id%>"><%=t.name%></a>
                                </li>
                                <% end %>
                            </ul>
                        </div>
                    </aside>
                    <% end %>
                </div>
                <div class="col-md-9">
                <% if @products.size > 0 %>
                  <% i = 1 %>
                  <% @products.each do |p|%>
                  <% surplus = 0%>
                  <% if p.product_options.size > 1 %>
                  <% price = [] %>
                  <% p.product_options.each do |o| %>
                  <% surplus += o.surplus %>
                  <% price << o.price %>
                  <%end%>
                <% else %>
                  <% price = p.product_options.first.price %>
                  <% surplus  = p.product_options.first.surplus %>
                <% end %>
                <% if i%3 == 1%>
                    <div class="row" data-gutter="15">
                <% end%>
                        <div class="col-md-4">
                            <div class="product product-sm-left ">
                                <ul class="product-labels"></ul>
                                <div class="product-img-wrap">
                                    <img class="product-img" src="<%= asset_path p.productimages.first.phourl %>"  alt="<%= p.name %>" title="<%= p.name %>" />
                                </div>
                                <a class="product-link" href="/products/<%= p.id %>"></a>
                                <div class="product-caption">
                                    <ul class="product-caption-rating">
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                    </ul>
                                    <h5 class="product-caption-title"><%= p.name %></h5>
                                    <div class="product-caption-price"><span class="product-caption-price-new"><% if p.product_options.size>1 %>
                                      NT ＄ <%= price.min %>~<%=price.max %>
                                      <%else%>
                                      NT ＄ <%= price %>
                                      <%end%></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% if i%3==0 || i==@products.size%>                
                    </div>
                    <% end %>
                    <% i += 1%>
                    <% end %>
                    <%else%>
                    <%end%>

                </div>
            </div>
        </div>


        <div class="gap"></div>
        <%= render "common/footerbar" %>
    </div>