<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>GermanySky 德心應手</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap styles -->
    <!-- <link href="assets/css/bootstrap.css" rel="stylesheet"/> -->
    <!-- Customize styles -->
    <!-- <link href="style.css" rel="stylesheet"/> -->
    <!-- font awesome styles -->
	<!-- <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet"> -->
		<!--[if IE 7]>
			<link href="css/font-awesome-ie7.min.css" rel="stylesheet">
		<![endif]-->

		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

	<!-- Favicons -->
    <link rel="shortcut icon" href="<%= asset_path 'ico/favicon.ico' %>">
  </head>
<body style="background:url('<%= asset_path("white_leather.png") %>') repeat 0 0;">
<!-- 
	Upper Header Section 
-->
<%= render "common/topbar" %>

<!--
Lower Header Section 
-->
<div class="container">
<%= render "common/header" %>
<%= render "common/leftmenu" %>
<!-- 
Body Section 
-->
<div class="span9">
<h1 class="ui center aligned icon header" style="font-size:28px;margin:20px 0 22px 0;">
 
    <div class="content">
      購物車
    </div>
  </h1>
<% if @shoppingcarts.size > 0 or @salecarts.size > 0%>
        <div class="infinite-table">
          <table id="products_table" class="ui celled table" style="table-layout:fixed">
            <thead>
              <tr>
                <th>商品名稱</th>
                <th>圖片</th>
                <th>單價</th>
                <th>數量</th>
                <th>紅利</th>
                <th>總價</th>
                <th>Function</th>
              </tr>
            </thead>
            <tbody>
            <% @shoppingcarts.each do |shoppingcart| %>
  <input type="hidden" id="surplus<%= shoppingcart.id%>" value="<%=shoppingcart.product_option.surplus %>">
  <input type="hidden" id="single_point<%= shoppingcart.id%>" value="<%=shoppingcart.product.point %>">
<% price = shoppingcart.product_option.price%>
<tr>
  <td><%= shoppingcart.product.name %><br>規格：<%= shoppingcart.product_option.option1 %></td>
  <td>
  <% begin %>
  <img class="ui centered mini image" src="<%= asset_path shoppingcart.product.productimages.first.phourl %>" style='height: 80px; width: 80px; object-fit: contain'>
  <%rescue%>
  <img class="ui centered mini image" src="<%= asset_path '100px.png' %>" style='height: 80px; width: 80px; object-fit: contain'>
  <%end%>
  </td>
  <td>$<%= price %></td>
  <td><div  id="selectsum">
       <span class="input-group-btn"><button id ="minus" type="button" class="btn btn-default btn-minus" data-id="<%= shoppingcart.id %>" data-price = "<%= price %>">－</button>  <div id = "sum<%= shoppingcart.id %>" type="text" name="lname" size="2" value ="<%= shoppingcart.sum %> "><%= shoppingcart.sum %></div>  <span class="input-group-btn"><button id = "plus" type="button" class="btn btn-default btn-plus" data-id="<%= shoppingcart.id %>" data-price = "<%= price %>">＋</button>
      </div></td>
      <td><div style="display: inline-block;" id ="get_point<%= shoppingcart.id %>"><%= shoppingcart.get_point%></div>點</td>
  <td><b id="option_total_price<%= shoppingcart.id %>">$<%= price*shoppingcart.sum %></b></td>
  <td>
    <button class="ui red basic button" id="cart_del" value="<%= shoppingcart.id %>">刪除</button>
     </td>
  
</tr>

<% end %>
<% if @salecarts.present?%>
<tr>
  <thead>
        <th colspan="7" >
    <label>
        促銷活動訂單(促銷活動之內容不可修改數量，欲修改請刪除並至促銷活動重新訂購)
    </label>
        </th>
        </thead>
</tr>
<%@salecarts.each do |carts|%>

<tr>
<td colspan="7">
促銷活動訂單<button class="ui red basic pull-right button" id="sellcart_del" value="<%= carts.id %>">刪除</button>
</td>
</tr>
<tr>
    <th>促銷活動</th>
    <th>商品名稱</th>
    <th>圖片</th>
    <th>單價</th>
    <th>數量</th>
    <th>紅利</th>
    <th>總價</th>
    </tr>
    <% carts.salecart_products.each do |cart|%>
<tr>
  <td><%=carts.specialoffer.name%></td>
  <td><%= cart.product.name %><br>規格：<%= cart.product_option.option1 %></td>
  <td>
  <% begin %>
  <img class="ui centered mini image" src="<%= asset_path cart.product.productimages.first.phourl %>" style='height: 80px; width: 80px; object-fit: contain'>
  <%rescue%>
  <img class="ui centered mini image" src="<%= asset_path '100px.png' %>" style='height: 80px; width: 80px; object-fit: contain'>
  <%end%>
  </td>
  <td><s>$<%= cart.originalprice %></s><br>$<%= cart.sellprice %></td>
  <td>
       <div id = "sum<%= cart.id %>" type="text" name="lname" size="2" value ="<%= cart.sum %> "><%= cart.sum %></div> 
  </td>
      <td><div style="display: inline-block;" id ="get_point<%= cart.id %>"><%= cart.get_point%></div>點</td>
  <td><b id="option_total_price<%= cart.id %>">$<%= cart.sellprice*cart.sum %></b></td>
  
</tr>
<%end%>
<%end%>
<% end %>
<tr>
<td align="center" colspan="7" ><label>商品小計：</label><b id='product_price'><%= @order_price%></b></td>
</tr>
        <tr>
        <td colspan="7" >
    
        <a id="to_order"  href="/orders/new" class="small ui bottom attached blue button">
        立即結帳！
      </a>
        </td>
        </tr>
            </tbody>
          </table>
          
        </div>

        <div class="divider"></div>
          

          
      <% else %>
        <h3 class="ui center aligned icon header">購物車是空的，快去選購吧！！</h3>
      <% end %>
    
</div>
</div>
<i class="ui arrow right icon"></i>
<!-- 
Clients 
-->
<!--
Footer
-->
<%= render "common/footerbar" %>

  </body>
</html>
 <script type="text/javascript">
$(function(){
  $('select.dropdown')
    .dropdown()
  ;
  $('form').submit(function() {
    var valuesToSubmit = $(this).serialize();
    $("#payment_form_submit").addClass("loading");
    console.log($(this).attr('action'));
    $.ajax({
        url: $(this).attr('action'), //sumbits it to the given url of the form
        type: 'POST',
        processData: false,
        contentType: false,
        data: new FormData(this)
    }).success(function(upload_result){
        console.log(upload_result);
        if(upload_result == "success" ){
          window.location.replace("http://"+location.host+"/payments?recent=true");
        }
    }).fail(function(e) {
        console.log(e);
    }).done(function(){
      $("#payment_form_submit").removeClass("loading");
    });
    return false; // prevents normal behaviour
  });
});

function ValidateNumber(e, pnumber)
{
    if (!/^\d+$/.test(pnumber))
    {
        $(e).val(/^\d+/.exec($(e).val()));
    }
    return false;
}
$("#cart_del").click(function(){
    var cart_id = $('#cart_del').val();
    var request = "/products/shoppingcart_del?id="+cart_id;
    var aj = $.ajax({
        url: request,
        type: 'get',
        data: $(this).serialize(),
        dataType: 'text'
    }).done(function (data) {
      window.location.replace("http://"+location.host+"/products/shoppingcart");
         
    }).fail(function (data) {
      alert(data);
         
    });

  });
$("#sellcart_del").click(function(){
    var cart_id = $('#sellcart_del').val();
    var request = "/products/sellcart_del?id="+cart_id;
    var aj = $.ajax({
        url: request,
        type: 'get',
        data: $(this).serialize(),
        dataType: 'text'
    }).done(function (data) {
      window.location.replace("http://"+location.host+"/products/shoppingcart");
         
    }).fail(function (data) {
      alert(data);
         
    });

  });

  
  $('body').on('click','.btn-minus',function(){
    var i = 0;
    if (i==0) 
    {
    i = 1;
    var cart_id = $(this).data("id");
    var price = $(this).data("price");
    var sum = Number(document.getElementById("sum"+cart_id).innerHTML);
    if (sum <= 1 )
    {
        alert("不得小於1");
        i=0;
    }

    else{
    $.get( "/products/shoppingcart_minus?cart_id="+cart_id, function(html) {
      document.getElementById("get_point"+cart_id).innerHTML = Number(document.getElementById("get_point"+cart_id).innerHTML)/sum*(sum-1)
      sum = sum-1;
      document.getElementById("sum"+cart_id).value = sum ;
      document.getElementById("sum"+cart_id).innerHTML = sum ;
      document.getElementById("option_total_price"+cart_id).innerHTML = "$"+sum*price;

      order_price = Number(document.getElementById("product_price").innerHTML);
      document.getElementById("product_price").innerHTML = order_price-price;
      i=0;
    }).fail(function() {

      alert( "error" );
      i=0
    });
      }
    }else
    {
      alert("稍候")
    }
  });
    $('body').on('click','.btn-plus',function(){
    var cart_id = $(this).data("id");
    var price = $(this).data("price");
    var sum = Number(document.getElementById("sum"+cart_id).innerHTML);
    if (sum == Number(document.getElementById("surplus"+cart_id).value)){
      alert("不得大於庫存");
    }else{
    $.get( "/products/shoppingcart_plus?cart_id="+cart_id, function(html) {
      if (sum != 0){
      document.getElementById("get_point"+cart_id).innerHTML = Number(document.getElementById("get_point"+cart_id).innerHTML)/sum*(sum+1);
    }else{
      document.getElementById("get_point"+cart_id).innerHTML = Number(document.getElementById("single_point"+cart_id).value)
      
    }
      sum = sum+1;
      document.getElementById("sum"+cart_id).value = sum ;
      document.getElementById("sum"+cart_id).innerHTML = sum ;
      document.getElementById("option_total_price"+cart_id).innerHTML = "$"+sum*price;
      order_price = Number(document.getElementById("product_price").innerHTML);
      document.getElementById("product_price").innerHTML = order_price+price;
    }).fail(function() {

      alert( "error" );
    });
    }
  });
</script>

 <style type="text/css">
.box1{                           
 position:absolute;    
 bottom: 0px;              
}
.box2{                            
 height: 480px;               
 position: relative;
}
</style>