<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>GermanySky 德心應手</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap styles -->
    <!-- <link href="assets/css/bootstrap.css" rel="stylesheet"/> -->
    <!-- Customize styles -->
    <!-- <link href="style.css" rel="stylesheet"/> -->
    <!-- font awesome styles -->
	<!-- <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet"> -->
		<!--[if IE 7]>
			<link href="css/font-awesome-ie7.min.css" rel="stylesheet">
		<![endif]-->

		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

	<!-- Favicons -->
    <link rel="shortcut icon" href="<%= asset_path 'ico/favicon.ico' %>">
  </head>
<body style="background:url('<%= asset_path("white_leather.png") %>') repeat 0 0;">
<!-- 
	Upper Header Section 
-->
<%= render "common/topbar" %>

<!--
Lower Header Section 
-->
<div class="container">
<%= render "common/header" %>
<%= render "common/leftmenu" %>
<!-- 
Body Section 
-->
<div class="span9">
<h1 class="ui center aligned icon header" style="font-size:28px;margin:20px 0 22px 0;">
 
    <div class="content">
      購買流程
    </div>
  </h1>
  <div class="ui segments" >

<div class = "ui segment">
<div class="ui horizontal divider">Shop Direction</div>
<div class="ui top attached blue message">
    <h3 class="site-font ui header">
      購買步驟
    </h3>
  </div>
  <div class="ui three bottom attached ordered steps">
    <a class="step">
      <div class="content">
        <div class="site-font yen title" style="font-size:16px;">瀏覽商品 </div>
        <div class="description">瀏覽商品，選擇商品規格並點選加入購物車</div>
      </div>
    </a>
   <a class="step">
      <div class="content">
        <div class="site-font yen title" style="font-size:16px;">加入購物車</div>
        <div class="description">隨時滑到購物車icon上觀看購物車內容，並在購物車修改數量</div>
      </div>
    </a>
   <a class="step">
      <div class="content">
        <div class="site-font yen title" style="font-size:16px;">建立訂單</div>
        <div class="description">選擇付款、收貨方式，填寫收件人資料</div>
      </div>
    </a>
  </div>
</div>
</div>
</div>
</div>
<!-- 
Clients 
-->
<!--
Footer
-->
<%= render "common/footerbar" %>

  </body>
</html>
 <style type="text/css">
.box1{                           
 position:absolute;    
 bottom: 0px;              
}
.box2{                            
 height: 480px;               
 position: relative;
}
</style>