<div class="ui grid content-section" style="margin-top:0px;padding-top:0px;">
  <div class="three wide column" style="margin-right:-15px;padding-top:0px;">
      <div id="control_panel" class="ui sticky control-menu">
        <div class="ui fluid vertical large menu">
          <div class="header item">
            <h3 class="site-font ui teal header">
              商品展示
            </h3>
          </div>
<!--            <div class="item">
              <button id="test" class="site-font fluid ui teal right labeled icon button" value="testtt">
                <i class="add icon"></i>
                <div id="test2">test</div>
              </button>
            </div> -->
          <div class="header item">
            搜尋
          </div>
          <div class="ui item">
            <div class="ui transparent icon input">
              <input id="filter" type="text" placeholder="Search...">
                <div id="empty_msg" class="ui popup transition hidden">
                  <span style="color:#db2828;">請輸入條件</span>
                </div>
              <i id="search_go" class="search link icon"></i>
            </div>
          </div>
           <div class="header item">
              <h4 class="site-font ui blue horizontal fitted divider header">
              <% if @current_user.present? && @current_user.role ==1 %>
              <a style="color:red;" href="/products/console_index">全部商品</a>
              <%else%>
                <a style="color:red;" href="/products">全部商品</a>
              <%end%>
              </h4>
            </div>
          <div class="header item">
            <h4 class="site-font ui blue horizontal fitted divider header">
              品牌
            </h4>
          </div>
          <% @brands.each do |b|%>
           <div class="item">
            <h4 class="ui header">
             <% if @current_user.present? && @current_user.role == 1%>
            <a style="color:black;" href="/products/console_index?brand=<%=b.id%>"><%= b.name%></a>
            <%else%>
              <a style="color:black;" href="/products?brand=<%=b.id%>"><%= b.name%></a>
            <%end%></h4>
          </div>
          <%end%>
          <div class="header item">
            <h4 class="site-font ui blue horizontal fitted divider header">
              分類
            </h4>
          </div>
          <% @type_ones.each do |t|%>
           <div class="item">
            <h4 class="ui header">
             <% if @current_user.present? && @current_user.role == 1%>
            <a style="color:black;" href="/products/console_index?type=<%=t.id%>"><%= t.name%></a>
            <%else%>
              <a  style="color:black;" href="/products?type=<%=t.id%>"><%= t.name%></a>
            <%end%>
            </h4>
          </div>
          <%end%>
          </div>
      </div>
  </div>
  <div id="content_part" class="thirteen wide column" style="margin-top:5px;">
    <div class="ui inverted dimmer main">
      <div class="ui text loader">讀取中</div>
    </div>

    <input type="hidden" id="product_id" value="<%=@product.id%>">
    <input type="hidden" id="option_size" value="<%=@product.product_options.size%>">
<div class="ui top attached button">GermanySky 德心應手</div>

<div class="ui grid">
  <div class="sixteen wide column"><div> </div><h2 class="site-font ui blue header"><%= @product.name %></h2></div>

<div class="eight wide column">
<div class="ui segments">
  <div class="ui segment">
    <p>簡介：<%= @product.briefdescription %></p>
  </div>
  <div class="ui segment">
    <p>分類：<%= @product.type_one.name %></p>
  </div>
  <% if @product.brand.present?%>
    <div class="ui segment">
    <p>品牌：<%= @product.brand.name %></p>
  </div>
  <%end%>
  <div class="ui segment">
    <p>單件可得點數：<%= @product.point %></p>
  </div>
    <% if @product.product_options.size > 1 %>
    <div class="ui segment">
    <input type="hidden" id="option_id" value="">
    選擇規格：
    <% @product.product_options.each do |o| %>
    <a  class="ui blue basic button to_position" tabindex="0" style="margin-left:10px;" onClick="optionclick('<%=o.price%>','<%=o.surplus%>','<%=o.id%>')">
          <div class="visible content"><%= o.option1 %></div>
        </a>
    <% end %>
    </div>
  
  <div class="ui segment">
    <div style="display:none" id="optionprice" value="<%=@product.price%>">售價：NT$<%= @product.price %></div>
  </div>
  <div class="ui segment">
    <div style="display:none" id="optionsurplus" value="<%=@product.surplus %>">庫存：<%= @product.surplus %></div>
  </div>
  <div class="ui segment">
    <div style="display:none" id="selectsum">
      選擇數量：
       <span class="input-group-btn"><button id ="minus" type="button" class="btn btn-default btn-add">－</button>  <d id = "sum" size="2" value ="1">1</d>  <span class="input-group-btn"><button id = "plus" type="button" class="btn btn-default btn-add">＋</button>
      </div>
  </div>
</div>
    <% else %>
    <input type="hidden" id="option_id" value="<%= @product.product_options.first.id %>">
    <input type="hidden" id="optionsurplus" value="<%= @product.product_options.first.surplus %>">

  <div class="ui segment">
    <p>售價：NT$<%= @product.product_options.first.price %></p>
  </div>
  <div class="ui segment">
    <p>庫存：<%= @product.product_options.first.surplus %></p>
  </div>
  <div class="ui segment">
  <% if @product.product_options.first.surplus == 0%>
  <p>選擇數量：無庫存，請進行<a id ="product_register" href="javascript: return false;" onclick="productregister(<%=@product.id%>,<%=@product.product_options.first.id%>);" class = "registerbtn" >缺貨登記</a></p>
  <%else%>
        <div id="selectsum">
      選擇數量：
       <span class="input-group-btn"><button id ="minus" type="button" class="btn btn-default btn-add">－</button>  <d id = "sum" size="2" value ="1" >1</d> <span class="input-group-btn"><button id = "plus" type="button" class="btn btn-default btn-add">＋</button>
      </div>
      <%end%>
  </div>
</div>

      <% end %>
  <% if @current_user.present? %>
     <% if @product.available == true %>
      <div id = "command-btn"class="ui two buttons">
      <a id="add_cart"  class="small ui bottom attached red button">
        <i class="chevron circle right icon"></i>
        加入購物車
      </a>
        <a id="buy_btn"  class="small ui bottom attached blue button">
        <i class="chevron circle right icon"></i>
        直接購買
      </a></div>
      <% else %>
      <div id = "command-btn">
      <div class="ui grey inverted stacked segment" style="text-align:center;">
  <label>此商品目前無法購買，如有意願請至留言版留言</label>
</div>
</div>
<%end%>
<%else%>
<div class="ui grey inverted stacked segment" style="text-align:center;">
  <label>請先登入會員</label>
</div>
<%end%>
    <div></div>
    <div class="ui top attached tabular menu">
  <a class="item active" data-tab="first">商品敘述</a>
  <a class="item" data-tab="second">商品留言</a>
  </div>
  <div class="ui bottom attached tab segment active" data-tab="first">
    <%= @product.content.html_safe %>
  </div>
  <div class="ui bottom attached tab segment" data-tab="second">
  <!--留言-->
  <% if @messages.size > 0 %>
  <div class="comment">
    <% @messages.each do |r| %>
    <div class="ui graybg segment">
      <a class="author"><%if r.account.role == 1 %>管理員<%= r.account_name %><%else%><%= r.account_name %><%end%></a>
      
        <div class="date"><%= r.created_at.strftime("%Y-%m-%d") %></div>
      
      <div class="text">
        <%= r.content %>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
  <br></br>
  <div class="divider"></div>
<div class="form-check">
  <%= form_for @message ,:html =>{:class => "ui reply form"}, :url => new_product_message_path, method: :post do |f| %>
    <div class="field">
      <textarea id="content" name = "content"></textarea>
    </div>
    <div id="reply-btn" class="ui primary labeled icon button reply-btn">
      <i class="icon edit"></i> 留言
    </div>
<% end %>
</div>
  <!--留言-->
  </div>
  </div>
  <div class="eight wide column">
    <div class="item">
    <% begin %>
      <img class="ui centered middle image" id = "productimage" src="<%= asset_path @product.productimages.first.phourl %>">
      <% rescue %>
      <img class="ui centered middle image" id = "productimage" src="<%= asset_path '100px.png' %>">
      <%end%>
    </div>
    <br></br>
     <% i = 1 %>
     <div class="ui grid">
     <% @product.productimages.each do |photo| %>
     
      <div class="four wide column"><div class="ui card"  style='height: 90px; width: 90px; object-fit: contain' >
      <%begin %>
      <img class="ui tiny image" id="<%= asset_path photo.phourl %>"  style="display:block; margin:auto;" src="<%= asset_path photo.phourl %>" onclick="changephoto(this.id)"></img>
      <% rescue %>
      <img class="ui tiny image" id="<%= asset_path '100px.png' %>"  style="display:block; margin:auto;" src="<%= asset_path '100px.png' %>" onclick="changephoto(this.id)">
      <%end%>
      </div>
       <% i +=1 %></div>
     <% end %>
     </div>
    
  </div>
</div>
<div class="ui grid">
  <div class="sixteen wide column"></div>
</div>
<div class="ui bottom attached button">GermanySky 德心應手</div>

<div class="ui small modal product-register" style="padding-top:0px;">
  <i class="close icon"></i>
  <div id="edit_from" style="padding:10px;">
  </div>
</div>

<script type="text/javascript">
$('.menu .item')
  .tab()
;
var on =false;
function optionclick(price,surplus,id) {
  product_id = document.getElementById('optionprice').value;
  $("#selectsum").empty();
   if (on == false){
   $("#selectsum").on("click",".btn-add",function(){ 
    var sum = Number(document.getElementById("sum").innerHTML);
    var surplus = document.getElementById("optionsurplus").value;
    if (sum+1 > surplus)
      {alert("不得大於庫存量");}
    else
    {document.getElementById("sum").innerHTML = sum +1;}
  });
  $("#selectsum").on("click",".btn-minus",function(){ 
  var sum = Number(document.getElementById("sum").innerHTML);
  if (sum == 1)
    {alert("無法低於1");}
  else
    {document.getElementById("sum").innerHTML = sum - 1;}
  });
  $("#selectsum").on("click",".registerbtn",function(){ 
    productregister(product_id,id);
  });
  on = true;
  }

  document.getElementById('optionprice').style.display = '';
  document.getElementById("optionsurplus").style.display = '';
  
  document.getElementById('optionprice').innerHTML = '售價：NT$'+price;
  document.getElementById("optionprice").value = price;
  document.getElementById('optionsurplus').innerHTML = '庫存：'+surplus;
  document.getElementById("optionsurplus").value = surplus;
  document.getElementById("option_id").value = id;
  if(surplus>0){
  $("#selectsum").append('選擇數量：<span class="input-group-btn"><button id ="minus" type="button" class="btn btn-default btn-minus">－</button>  <d id = "sum" size="2" value ="1">1</d>  <span class="input-group-btn"><button id = "plus" type="button" class="btn btn-default btn-add">＋</button>');
    document.getElementById("sum").innerHTML =1;
}
  else{
    $("#selectsum").append('選擇數量：此規格無庫存，請進行<a id ="product_register" href="javascript: product_register(); return false;" class = "registerbtn" >缺貨登記</a>');
  }
  document.getElementById('selectsum').style.display = '';
}
$(function(){
  $('.ui.sticky.control-menu')
  .sticky({
    offset            : 81,
    observeChanges    : true,
    context: '#content_part'
  });



// search functions
  var search_msg = $('#filter')
    .popup({
      inline   : true,
      hoverable: false,
      position : 'top center',
      delay: {
        show: 100,
        hide: 800
      },
      on: 'manual'
    })
  ;

  $("#search_go").click(function(){
    start_search();
  });

  $(document).on('keypress', function(e) {
    if(e.which == 13) {
      start_search();
    }
  });

  $( "#filter" ).focus(function() {
    search_msg.popup('hide');
  });

  function start_search(){
    var search_string = $("#filter").val();
    if(search_string == ""){
      search_msg.popup('toggle');
    }else{
      var target_url = "";
      if(window.location.href == "http://"+location.host+"/products"){
        target_url = window.location.href+"?filter="+search_string;
      }else if(window.location.href.indexOf('filter') > -1){
        target_url = "http://"+location.host+"/products?filter="+search_string;
      }else{
        target_url = window.location.href+"&filter="+search_string;
      }
      window.location.replace(target_url);
    }
  }
// search functions

  $('#products_table').tablesort();

function ValidateSurplus(e, point)
{
    var surplus = document.getElementById("optionsurplus").value;
    if (!/^\d+$/.test(point))
    {
        $(e).val(/^\d+/.exec($(e).val('1')));
        return false;
    }
    if(Number(point)>surplus)
    {
       $(e).val('1');
       {alert("不得大於庫存量");}
    }
    return false;
}


$("#plus").click(function(){
var sum = Number(document.getElementById("sum").innerHTML);

var surplus = document.getElementById("optionsurplus").value;

if (sum+1 > surplus)
  {alert("不得大於庫存量");}
else
{document.getElementById("sum").innerHTML = sum +1;}
  });

$("#minus").click(function(){
  var sum = Number(document.getElementById("sum").innerHTML);
  if (sum == 1)
    {alert("無法低於1");}
  else
{document.getElementById("sum").innerHTML = sum - 1;}
  });


});
function changephoto(click_id) {
  
　document.getElementById("productimage").src= click_id;
}

function productregister(product_id,option_id)
{
    $('.ui.dimmer.main').dimmer('show');
    $.get( "/products/register?product_id="+product_id+"&product_option_id="+option_id, function(html) {
      $("#edit_from").empty();
      $("#edit_from").append(html);
      $('.ui.dimmer.main').dimmer('hide');

      $('.ui.modal.product-register').modal({
        observeChanges: true
      }).modal('refresh').modal('show');

    }).fail(function() {
      $('.ui.dimmer.main').dimmer('hide');
      alert( "error" );
    });
}

$("#add_cart").click(function(){
    var product_id = document.getElementById("product_id").value;
    var option_id = document.getElementById("option_id").value;
    if (option_id =="")
      alert("請先選擇規格");
    else
    {
    var sum = Number(document.getElementById("sum").innerHTML);
    var surplus = document.getElementById("optionsurplus").value;
    if (sum > surplus)
    {alert("不得大於庫存量");}
    else
    {
    var request = "/products/add_to_shoppingcart";
    var aj = $.ajax({
          url: request,
          type: 'post',
          data:{
             product_id: product_id,
             option_id: option_id,
             sum: sum,
           },
          dataType: 'text'
        }).success(function (upload_result) {
          if(upload_result == "success" ){
          alert( "已加入購物車" );
        }else{alert(upload_result);}
          
        }).fail(function (e) {
            alert( "尚未登入" );
        });
      }
    }
  });
$("#buy_btn").click(function(){
    var product_id = document.getElementById("product_id").value;
    var option_id = document.getElementById("option_id").value;
    if (option_id =="")
      alert("請先選擇規格");
    else
    {
    var sum = Number(document.getElementById("sum").innerHTML);
    var surplus = document.getElementById("optionsurplus").value;
    if (sum > surplus)
    {alert("不得大於庫存量");}
    else
    {
    var request = "/products/add_to_shoppingcart";
    var aj = $.ajax({
          url: request,
          type: 'post',
          data:{
             product_id: product_id,
             option_id: option_id,
             sum: sum,
           },
          dataType: 'text'
        }).success(function (upload_result) {
          if(upload_result == "success" ){
          alert( "已加入購物車" );
        }else{alert(upload_result);}
          
        }).fail(function (e) {
            alert( "尚未登入" );
        });
      }
    }
  });
$('.form-check form').on('click','.reply-btn',function(){
    var product_id = document.getElementById("product_id").value;
    var replycontent = document.getElementById("content").value;
    var request = "/product_messages";

      var aj = $.ajax({
          url: request,
          type: 'post',
          data:{
             product_id: product_id,
             replycontent: replycontent
           },
          dataType: 'json'
        }).success(function(upload_result) {
          if(upload_result == "success" ){
            window.location.reload();
          }
        }).fail(function(data) {
       window.location.reload();
        });
    return false; // prevents normal behaviour
  });
</script>
