
    <div class="global-wrapper clearfix" id="global-wrapper">
        <%= render "common/theboxheader" %>

        <div class="container">
            <header class="page-header" style="padding:0">
                <ol class="breadcrumb page-breadcrumb">
                    <li><a href="#">首頁</a>
                    </li>
                    <% if @product.type_one.present? %>
                    <li><a href="#"><%=@product.type_one.name%></a>
                    </li>
                    <% end %>
                     <% if @product.type_two.present? %>
                    <li><a href="#"><%=@product.type_two.name%></a>
                    </li>
                    <% end %>
                     <% if @product.type_three.present? %>
                    <li><a href="#"><%=@product.type_three.name%></a>
                    </li>
                    <% end %>
                    <li class="active"><%= @product.name %></li>
                </ol>
            </header>
            <div class="row row-col-border" data-gutter="60">
                <div class="col-md-3">
                    <h4 class="widget-title-sm">熱門推薦</h4>
                    <ul class="product-list">
                        <% @new_products.each do |p|%>
                        <% surplus = 0%>
                        <% if p.product_options.size > 1 %>
                            <% price = [] %>
                            <% p.product_options.each do |o| %>
                                <% surplus += o.surplus %>
                                <% price << o.price %>
                            <%end%>
                        <% else %>
                            <% price = p.product_options.first.price %>
                            <% surplus  = p.product_options.first.surplus %>
                        <% end %>
                        <li>
                            <div class="product product-sm-left ">
                                <ul class="product-labels"></ul>
                                <div class="product-img-wrap">
                                    <img class="product-img" src="<%= asset_path p.productimages.first.phourl %>" alt="Image Alternative text" title="Image Title" />
                                </div>
                                <a class="product-link" href="/products/<%= p.id %>"></a>
                                <div class="product-caption">
                                    <ul class="product-caption-rating">

                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                    </ul>
                                    <h5 class="product-caption-title"><%= p.name %></h5>

                    
                  
                                    <div class="product-caption-price"><span class="product-caption-price-new">
                                        <% if p.product_options.size>1 %>
                                            NT ＄ <%= price.min %>~<%=price.max %>
                                        <% else %>
                                            NT ＄ <%= price %>
                                        <% end %>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <%end%>
                    </ul>
                    <div class="gap gap-small"></div>
                    <h4 class="widget-title-sm">Recommended to You</h4>
                    <ul class="product-list">
                        <% @new_products.each do |p|%>
                        <% surplus = 0%>
                        <% if p.product_options.size > 1 %>
                            <% price = [] %>
                            <% p.product_options.each do |o| %>
                                <% surplus += o.surplus %>
                                <% price << o.price %>
                            <%end%>
                        <% else %>
                            <% price = p.product_options.first.price %>
                            <% surplus  = p.product_options.first.surplus %>
                        <% end %>
                        <li>
                            <div class="product product-sm-left ">
                                <ul class="product-labels"></ul>
                                <div class="product-img-wrap">
                                    <img class="product-img" src="<%= asset_path p.productimages.first.phourl %>" alt="Image Alternative text" title="Image Title" />
                                </div>
                                <a class="product-link" href="/products/<%= p.id %>"></a>
                                <div class="product-caption">
                                    <ul class="product-caption-rating">

                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                    </ul>
                                    <h5 class="product-caption-title"><%= p.name %></h5>

                    
                  
                                    <div class="product-caption-price"><span class="product-caption-price-new">
                                        <% if p.product_options.size>1 %>
                                            NT ＄ <%= price.min %>~<%=price.max %>
                                        <% else %>
                                            NT ＄ <%= price %>
                                        <% end %>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <%end%>
                    </ul>
                    <%= render "common/leftsalebanner" %>
                </div>
                <div class="col-md-9">
                    <div class="col-md-7">
                        <div class="product-page-product-wrap jqzoom-stage">
                            <div class="clearfix">
                                <a href="<%= asset_path '800x800.png' %>" id="jqzoom" data-rel="gal-1">
                                    <img class="ui fluid image" src="<%= asset_path @product.productimages.first.phourl %>" alt="<%= @product.name %>" title="<%= @product.name %>" />
                                </a>
                            </div>
                        </div>
                        <ul class="jqzoom-list">
                            <% @product.productimages.each do |photo| %>
                            <li>
                                <a class="zoomThumbActive" href="javascript:void(0)" data-rel="{gallery:'gal-1', smallimage: '<%= asset_path '500x500.png' %>', largeimage: '<%= asset_path '800x800.png' %>'}">
                                    <img class="ui fluid image" src="<%= asset_path photo.phourl %>" alt="Image Alternative text" title="Image Title" />
                                </a>
                            </li>
                            <% end %>
                        </ul>
                    </div>
                    <div class="col-md-5">
                        <ul class="product-page-product-rating">
                            <h1><%= @product.name %></h1>
                <form class="form-horizontal" style="padding:0">
                 <div class="ui segments" style="padding:0">
  <div class="ui segment">
    <p>簡介：<p class="product-page-desc-lg"><%= @product.briefdescription %></p></p>
  </div>
  <% if @product.brand.present?%>
    <div class="ui segment">
    <p>品牌：<%= @product.brand.name %></p>
  </div>
  <%end%>
  <div class="ui segment">
    <p>單件可得點數：<%= @product.point %></p>
  </div>
    <% if @product.product_options.size > 1 %>
    <div class="ui segment">
    <input type="hidden" id="option_id" value="">
    選擇規格：
    <% @product.product_options.each do |o| %>
    <a  class="ui blue basic button to_position" tabindex="0" style="margin-left:10px;" onClick="optionclick('<%=o.price%>','<%=o.surplus%>','<%=o.id%>')">
          <div class="visible content"><%= o.option1 %></div>
        </a>
    <% end %>
    </div>
  
  <div class="ui segment">
    <div style="display:none" id="optionprice" value="<%=@product.price%>">售價：NT$<%= @product.price %></div>
  </div>
  <div class="ui segment">
    <div style="display:none" id="optionsurplus" value="<%=@product.surplus %>">庫存：<%= @product.surplus %></div>
  </div>
  <div class="ui segment">
    <div style="display:none" id="selectsum">
      選擇數量：
       <button id ="minus" type="button" class="btn btn-default btn-add">－</button>  <d id = "sum" size="2" value ="1">1</d>  
       <button id = "plus" type="button" class="btn btn-default btn-add">＋</button>
      </div>
  </div>
</div>
    <% else %>
    <input type="hidden" id="option_id" value="<%= @product.product_options.first.id %>">
    <input type="hidden" id="optionsurplus" value="<%= @product.product_options.first.surplus %>">

  <div class="ui segment">
    <p>售價：NT$<%= @product.product_options.first.price %></p>
  </div>
  <div class="ui segment">
    <p>庫存：<%= @product.product_options.first.surplus %></p>
  </div>
  <div class="ui segment">
  <% if @product.product_options.first.surplus == 0%>
  <p>選擇數量：無庫存，請進行<a id ="product_register" href="javascript: return false;" onclick="productregister(<%=@product.id%>,<%=@product.product_options.first.id%>);" class = "registerbtn" >缺貨登記</a></p>
  <%else%>
        <div id="selectsum">
      選擇數量：
       <span class="input-group-btn"><button id ="minus" type="button" class="btn btn-default btn-add">－</button>  <d id = "sum" size="2" value ="1" >1</d> <span class="input-group-btn"><button id = "plus" type="button" class="btn btn-default btn-add">＋</button>
      </div>
      <%end%>
  </div>
</div>

      <% end %>
                    <% if @current_user.present? %>
     <% if @product.available == true %>
      <div id = "command-btn"class="ui two buttons">
      <a id="add_cart"  class="small ui bottom attached green button">
        <i class="chevron circle right icon"></i>
        加入購物車
      </a>
        <a id="buy_btn"  class="small ui bottom attached red button">
        <i class="chevron circle right icon"></i>
        直接購買
      </a></div>
      <% else %>
      <div id = "command-btn">
      <div class="ui grey inverted stacked segment" style="text-align:center;">
      <label>此商品目前無法購買，如有意願請至留言版留言</label>
      </div>
      </div>
      <%end%>
  <%else%>
    <li><a class="btn btn-lg red-btn-primary" href="#"><i class="fa fa-shopping-cart"></i>請先登入會員</a>
                                </li>
  <%end%>
                </form>
                            
                        </ul>
                    </div>
                    <div class="gap"></div>
                    <div class="tabbable product-tabs">

                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active"><a href="#tab-1" data-toggle="tab">商品敘述</a>
                            </li>
                            <li><a href="#tab-2" data-toggle="tab">商品留言</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab-1">
                                <%= @product.content.html_safe %>
                            </div>
                            <div class="tab-pane fade" id="tab-2">
                                <!--留言-->
                                <h2>商品留言</h2>
            <% if @messages.size > 0 %>
                <div class="comment" style="padding:0">
                <% @messages.each do |r| %>
                <div class="ui graybg segment">
                    <a class="author">
                    <%if r.account.role == 1 %>
                        管理員<%= r.account_name %>：
                    <%else%>
                        <%= r.account_name %>：
                    <%end%>
                    </a>
                <div class="text"><%= r.content %></div>
            <div class="date"><%= r.created_at.strftime("%Y-%m-%d") %></div>
            <% if r.reply != nil %>
            <a class="author">
            回覆：
            </a>
            <div class="text"><%= r.reply %></div>
            <div class="date"><%= r.updated_at.strftime("%Y-%m-%d") %></div>
            <%end%>
                </div>
            <% end %>
                </div>
            <% end %>
            <br></br>
            <div class="divider"></div>
            <div class="form-check">
            <%= form_for @message ,:html =>{:class => "ui reply form"}, :url => new_product_message_path, method: :post do |f| %>
            <div class="field">
                <textarea id="content" name = "content" rows= '4'></textarea>
            </div>
            <div id="reply-btn" class="ui primary labeled icon button reply-btn">
                <i class="icon edit"></i> 留言
            </div>
            <% end %>
            </div>
            <!-- 留言done -->
                            </div>
                        </div>
                    </div>
                    <div class="gap"></div>
                    <h3 class="widget-title">你可能喜歡..</h3>
                    <div class="row row-sm-gap" data-gutter="10">
                    <% @new_products.each do |p|%>
                        <% surplus = 0%>
                        <% if p.product_options.size > 1 %>
                            <% price = [] %>
                            <% p.product_options.each do |o| %>
                                <% surplus += o.surplus %>
                                <% price << o.price %>
                            <%end%>
                        <% else %>
                            <% price = p.product_options.first.price %>
                            <% surplus  = p.product_options.first.surplus %>
                        <% end %>
                        <div class="col-md-3">
                            <div class="product product-sm-left ">
                                <ul class="product-labels"></ul>
                                <div class="product-img-wrap">
                                    <img class="product-img" src="<%= asset_path p.productimages.first.phourl %>" alt="Image Alternative text" title="Image Title" />
                                </div>
                                <a class="product-link" href="/product/<%= p.id %>"></a>
                                <div class="product-caption">
                                    <ul class="product-caption-rating">
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                    </ul>
                                    <h5 class="product-caption-title"><%= p.name %></h5>
                                    <div class="product-caption-price"><span class="product-caption-price-new"><% if p.product_options.size>1 %>
                                            NT ＄ <%= price.min %>~<%=price.max %>
                                        <% else %>
                                            NT ＄ <%= price %>
                                        <% end %></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% end %>
                        
                        
                    </div>
                    <div class="row row-sm-gap" data-gutter="10">
                        <% @new_products.each do |p|%>
                        <% surplus = 0%>
                        <% if p.product_options.size > 1 %>
                            <% price = [] %>
                            <% p.product_options.each do |o| %>
                                <% surplus += o.surplus %>
                                <% price << o.price %>
                            <%end%>
                        <% else %>
                            <% price = p.product_options.first.price %>
                            <% surplus  = p.product_options.first.surplus %>
                        <% end %>
                        <div class="col-md-3">
                            <div class="product product-sm-left ">
                                <ul class="product-labels"></ul>
                                <div class="product-img-wrap">
                                    <img class="product-img" src="<%= asset_path p.productimages.first.phourl %>" alt="Image Alternative text" title="Image Title" />
                                </div>
                                <a class="product-link" href="/product/<%= p.id %>"></a>
                                <div class="product-caption">
                                    <ul class="product-caption-rating">
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                    </ul>
                                    <h5 class="product-caption-title"><%= p.name %></h5>
                                    <div class="product-caption-price"><span class="product-caption-price-new"><% if p.product_options.size>1 %>
                                            NT ＄ <%= price.min %>~<%=price.max %>
                                        <% else %>
                                            NT ＄ <%= price %>
                                        <% end %></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <div class="gap"></div>
       
        <%= render "common/footerbar" %>
    </div>

