
    <div class="global-wrapper clearfix" id="global-wrapper">
        <%= render "common/theboxheader" %>

        <div class="container">
<input type="hidden" id="product_id" value="<%=@product.id%>">
<input type="hidden" id="option_size" value="<%=@product.product_options.size%>">
            <header class="page-header" style="padding:0">
                <ol class="breadcrumb page-breadcrumb">
                    <li><a href="#">首頁</a>
                    </li>
                    <% if @product.type_one.present? %>
                    <li><a href="#"><%=@product.type_one.name%></a>
                    </li>
                    <% end %>
                     <% if @product.type_two.present? %>
                    <li><a href="#"><%=@product.type_two.name%></a>
                    </li>
                    <% end %>
                     <% if @product.type_three.present? %>
                    <li><a href="#"><%=@product.type_three.name%></a>
                    </li>
                    <% end %>
                    <li class="active"><%= @product.name %></li>
                </ol>
            </header>
            <div class="row row-col-border" data-gutter="60">
                <div class="col-md-3">
                    <h4 class="widget-title-sm">熱門推薦</h4>
                    <ul class="product-list">
                        <% @new_products.each do |p|%>
                        <% surplus = 0%>
                        <% if p.product_options.size > 1 %>
                            <% price = [] %>
                            <% p.product_options.each do |o| %>
                                <% surplus += o.surplus %>
                                <% price << o.price %>
                            <%end%>
                        <% else %>
                            <% price = p.product_options.first.price %>
                            <% surplus  = p.product_options.first.surplus %>
                        <% end %>
                        <li>
                            <div class="product product-sm-left ">
                                <ul class="product-labels"></ul>
                                <div class="product-img-wrap">
                                    <img class="product-img" src="<%= asset_path p.productimages.first.phourl %>" alt="Image Alternative text" title="Image Title" />
                                </div>
                                <a class="product-link" href="/products/<%= p.id %>"></a>
                                <div class="product-caption">
                                    <ul class="product-caption-rating">

                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                    </ul>
                                    <h5 class="product-caption-title"><%= p.name %></h5>

                    
                  
                                    <div class="product-caption-price"><span class="product-caption-price-new">
                                        <% if p.product_options.size>1 %>
                                            NT ＄ <%= price.min %>~<%=price.max %>
                                        <% else %>
                                            NT ＄ <%= price %>
                                        <% end %>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <%end%>
                    </ul>
                    <div class="gap gap-small"></div>
                    <h4 class="widget-title-sm">Recommended to You</h4>
                    <ul class="product-list">
                        <% @new_products.each do |p|%>
                        <% surplus = 0%>
                        <% if p.product_options.size > 1 %>
                            <% price = [] %>
                            <% p.product_options.each do |o| %>
                                <% surplus += o.surplus %>
                                <% price << o.price %>
                            <%end%>
                        <% else %>
                            <% price = p.product_options.first.price %>
                            <% surplus  = p.product_options.first.surplus %>
                        <% end %>
                        <li>
                            <div class="product product-sm-left ">
                                <ul class="product-labels"></ul>
                                <div class="product-img-wrap">
                                    <img class="product-img" src="<%= asset_path p.productimages.first.phourl %>" alt="Image Alternative text" title="Image Title" />
                                </div>
                                <a class="product-link" href="/products/<%= p.id %>"></a>
                                <div class="product-caption">
                                    <ul class="product-caption-rating">

                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                    </ul>
                                    <h5 class="product-caption-title"><%= p.name %></h5>

                    
                  
                                    <div class="product-caption-price"><span class="product-caption-price-new">
                                        <% if p.product_options.size>1 %>
                                            NT ＄ <%= price.min %>~<%=price.max %>
                                        <% else %>
                                            NT ＄ <%= price %>
                                        <% end %>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <%end%>
                    </ul>
                    <%= render "common/leftsalebanner" %>
                </div>
                <div class="col-md-9">
                    <div class="col-md-7">
                        <div class="product-page-product-wrap jqzoom-stage">
                            <div class="clearfix">
                                <a href="<%= asset_path '800x800.png' %>" id="jqzoom" data-rel="gal-1">
                                    <img class="ui fluid image" src="<%= asset_path @product.productimages.first.phourl %>" alt="<%= @product.name %>" title="<%= @product.name %>" />
                                </a>
                            </div>
                        </div>
                        <ul class="jqzoom-list">
                            <% @product.productimages.each do |photo| %>
                            <li>
                                <a class="zoomThumbActive" href="javascript:void(0)" data-rel="{gallery:'gal-1', smallimage: '<%= asset_path '500x500.png' %>', largeimage: '<%= asset_path '800x800.png' %>'}">
                                    <img class="ui fluid image" src="<%= asset_path photo.phourl %>" alt="Image Alternative text" title="Image Title" />
                                </a>
                            </li>
                            <% end %>
                        </ul>
                    </div>
                    <div class="col-md-5">
                        <ul class="product-page-product-rating">
                            <h1><%= @product.name %></h1>
                <form class="form-horizontal" style="padding:0">
                 <div class="ui segments" style="padding:0">
  <div class="ui segment">
    <p>簡介：<p class="product-page-desc-lg"><%= @product.briefdescription %></p></p>
  </div>
  <% if @product.brand.present?%>
    <div class="ui segment">
    <p>品牌：<%= @product.brand.name %></p>
  </div>
  <%end%>
  <div class="ui segment">
    <p>單件可得點數：<%= @product.point %></p>
  </div>
    <% if @product.product_options.size > 1 %>
    <div class="ui segment">
    <input type="hidden" id="option_id" value="">
    選擇規格：
    <% @product.product_options.each do |o| %>
    <a  class="ui blue basic button to_position" tabindex="0" style="margin-left:10px;" onClick="optionclick('<%=o.price%>','<%=o.surplus%>','<%=o.id%>')">
          <div class="visible content"><%= o.option1 %></div>
        </a>
    <% end %>
    </div>
  
  <div class="ui segment">
    <div style="display:none" id="optionprice" value="<%=@product.price%>">售價：NT$<%= @product.price %></div>
  </div>
  <div class="ui segment">
    <div style="display:none" id="optionsurplus" value="<%=@product.surplus %>">庫存：<%= @product.surplus %></div>
  </div>
  <div class="ui segment">
    <div style="display:none" id="selectsum">
      選擇數量：
       <button id ="minus" type="button" class="btn btn-default btn-add">－</button>  <d id = "sum" size="2" value ="1">1</d>  
       <button id = "plus" type="button" class="btn btn-default btn-add">＋</button>
      </div>
  </div>
</div>
    <% else %>
    <input type="hidden" id="option_id" value="<%= @product.product_options.first.id %>">
    <input type="hidden" id="optionsurplus" value="<%= @product.product_options.first.surplus %>">

  <div class="ui segment">
    <p>售價：NT$<%= @product.product_options.first.price %></p>
  </div>
  <div class="ui segment">
    <p>庫存：<%= @product.product_options.first.surplus %></p>
  </div>
  <div class="ui segment">
  <% if @product.product_options.first.surplus == 0%>
  <p>選擇數量：無庫存，請進行<a id ="product_register"  onclick="productregister(<%=@product.id%>,<%=@product.product_options.first.id%>);" class = "registerbtn" >缺貨登記</a></p>
  <%else%>
        <div id="selectsum">
      選擇數量：
      <div id ="minus" type="button" class="btn btn-default">－</div>  <d id = "sum" size="2" value ="1" >1</d> <div id = "plus" type="button" class="btn btn-default">＋</div>
      </div>
      <%end%>
  </div>
</div>

      <% end %>
                    <% if @current_user.present? %>
     <% if @product.available == true %>
      <div id = "command-btn"class="ui two buttons">
      <a id="add_cart"  class="small ui bottom attached green button">
        <i class="chevron circle right icon"></i>
        加入購物車
      </a>
        <a id="buy_btn"  class="small ui bottom attached red button">
        <i class="chevron circle right icon"></i>
        直接購買
      </a></div>
      <% else %>
      <div id = "command-btn">
      <div class="ui grey inverted stacked segment" style="text-align:center;">
      <label>此商品目前無法購買，如有意願請至留言版留言</label>
      </div>
      </div>
      <%end%>
  <%else%>
    <li><a class="btn btn-lg red-btn-primary" href="#"><i class="fa fa-shopping-cart"></i>請先登入會員</a>
                                </li>
  <%end%>
                </form>
                            
                        </ul>
                    </div>
                    <div class="gap"></div>
                    <div class="tabbable product-tabs">

                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active"><a href="#tab-1" data-toggle="tab">商品敘述</a>
                            </li>
                            <li><a href="#tab-2" data-toggle="tab">商品留言</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab-1">
                                <%= @product.content.html_safe %>
                            </div>
                            <div class="tab-pane fade" id="tab-2">
                                <!--留言-->
                                <h2>商品留言</h2>
            <% if @messages.size > 0 %>
                <div class="comment" style="padding:0">
                <% @messages.each do |r| %>
                <div class="ui graybg segment">
                    <a class="author">
                    <%if r.account.role == 1 %>
                        管理員<%= r.account_name %>：
                    <%else%>
                        <%= r.account_name %>：
                    <%end%>
                    </a>
                <div class="text"><%= r.content %></div>
            <div class="date"><%= r.created_at.strftime("%Y-%m-%d") %></div>
            <% if r.reply != nil %>
            <a class="author">
            回覆：
            </a>
            <div class="text"><%= r.reply %></div>
            <div class="date"><%= r.updated_at.strftime("%Y-%m-%d") %></div>
            <%end%>
                </div>
            <% end %>
                </div>
            <% end %>
        
    
            <div class="form-check">
            <%= form_for @message ,:html =>{:class => "ui reply form"}, :url => new_product_message_path, method: :post do |f| %>
            <div class="field">
                <textarea id="content" name = "content" rows= '4'></textarea>
            </div>
            <% if @current_user.present? %>
            <div id="reply-btn" class="ui primary labeled icon button reply-btn">
                <i class="icon edit"></i> 留言
            </div>
            <%else%>
            <a class="btn btn-lg red-btn-primary" href="/consoles/login"><i class="fa fa-shopping-cart"></i>請先登入會員</a>
            <% end %>
            <% end %>
            </div>
            <!-- 留言done -->
                            </div>
                        </div>
                    </div>
                    <div class="gap"></div>
                    <h3 class="widget-title">你可能喜歡..</h3>
                    <div class="row row-sm-gap" data-gutter="10">
                    <% @new_products.each do |p|%>
                        <% surplus = 0%>
                        <% if p.product_options.size > 1 %>
                            <% price = [] %>
                            <% p.product_options.each do |o| %>
                                <% surplus += o.surplus %>
                                <% price << o.price %>
                            <%end%>
                        <% else %>
                            <% price = p.product_options.first.price %>
                            <% surplus  = p.product_options.first.surplus %>
                        <% end %>
                        <div class="col-md-3">
                            <div class="product product-sm-left ">
                                <ul class="product-labels"></ul>
                                <div class="product-img-wrap">
                                    <img class="product-img" src="<%= asset_path p.productimages.first.phourl %>" alt="Image Alternative text" title="Image Title" />
                                </div>
                                <a class="product-link" href="/product/<%= p.id %>"></a>
                                <div class="product-caption">
                                    <ul class="product-caption-rating">
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                    </ul>
                                    <h5 class="product-caption-title"><%= p.name %></h5>
                                    <div class="product-caption-price"><span class="product-caption-price-new"><% if p.product_options.size>1 %>
                                            NT ＄ <%= price.min %>~<%=price.max %>
                                        <% else %>
                                            NT ＄ <%= price %>
                                        <% end %></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% end %>
                        
                        
                    </div>
                    <div class="row row-sm-gap" data-gutter="10">
                        <% @new_products.each do |p|%>
                        <% surplus = 0%>
                        <% if p.product_options.size > 1 %>
                            <% price = [] %>
                            <% p.product_options.each do |o| %>
                                <% surplus += o.surplus %>
                                <% price << o.price %>
                            <%end%>
                        <% else %>
                            <% price = p.product_options.first.price %>
                            <% surplus  = p.product_options.first.surplus %>
                        <% end %>
                        <div class="col-md-3">
                            <div class="product product-sm-left ">
                                <ul class="product-labels"></ul>
                                <div class="product-img-wrap">
                                    <img class="product-img" src="<%= asset_path p.productimages.first.phourl %>" alt="Image Alternative text" title="Image Title" />
                                </div>
                                <a class="product-link" href="/product/<%= p.id %>"></a>
                                <div class="product-caption">
                                    <ul class="product-caption-rating">
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                    </ul>
                                    <h5 class="product-caption-title"><%= p.name %></h5>
                                    <div class="product-caption-price"><span class="product-caption-price-new"><% if p.product_options.size>1 %>
                                            NT ＄ <%= price.min %>~<%=price.max %>
                                        <% else %>
                                            NT ＄ <%= price %>
                                        <% end %></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <div class="gap"></div>
       
        <%= render "common/footerbar" %>
    </div>
<div class="ui small modal product-register" style="padding-top:0px;">
  <i class="close icon"></i>
  <div id="edit_from" style="padding:10px;">
  </div>
</div>
 <style type="text/css">
.box1{                           
 position:absolute;    
 bottom: 0px;              
}
.box2{                            
 height: 480px;               
 position: relative;
}
</style>
<script type="text/javascript">

var on =false;
function optionclick(price,surplus,id) {
  product_id = document.getElementById('product_id').value;
  $("#selectsum").empty();
   if (on == false){
   $("#selectsum").on("click",".btn-add",function(){ 
    var sum = Number(document.getElementById("sum").innerHTML);
    var surplus = document.getElementById("optionsurplus").value;
    if (sum+1 > surplus)
      {alert("不得大於庫存量");}
    else
    {document.getElementById("sum").innerHTML = sum +1;}
  });
  $("#selectsum").on("click",".btn-minus",function(){ 
  var sum = Number(document.getElementById("sum").innerHTML);
  if (sum == 1)
    {alert("無法低於1");}
  else
    {document.getElementById("sum").innerHTML = sum - 1;}
  });
  $("#selectsum").on("click",".registerbtn",function(){ 
    productregister(product_id,id);
  });
  on = true;
  }

  document.getElementById('optionprice').style.display = '';
  document.getElementById("optionsurplus").style.display = '';
  
  document.getElementById('optionprice').innerHTML = '售價：NT$'+price;
  document.getElementById("optionprice").value = price;
  document.getElementById('optionsurplus').innerHTML = '庫存：'+surplus;
  document.getElementById("optionsurplus").value = surplus;
  document.getElementById("option_id").value = id;
  if(surplus>0){
  $("#selectsum").append('選擇數量：<button id ="minus" type="button" class="btn btn-default btn-minus">－</button>  <d id = "sum" size="2" value ="1">1</d><button id = "plus" type="button" class="btn btn-default btn-add">＋</button>');
    document.getElementById("sum").innerHTML =1;
}
  else{
    $("#selectsum").append('選擇數量：此規格無庫存，請進行<a id ="product_register" href="javascript: product_register(); return false;" class = "registerbtn" >缺貨登記</a>');
  }
  document.getElementById('selectsum').style.display = '';
}
$(function(){


function ValidateSurplus(e, point)
{
    var surplus = document.getElementById("optionsurplus").value;
    if (!/^\d+$/.test(point))
    {
        $(e).val(/^\d+/.exec($(e).val('1')));
        return false;
    }
    if(Number(point)>surplus)
    {
       $(e).val('1');
       {alert("不得大於庫存量");}
    }
    return false;
}


$("#plus").click(function(){
var sum = Number(document.getElementById("sum").innerHTML);

var surplus = document.getElementById("optionsurplus").value;

if (sum+1 > surplus)
  {alert("不得大於庫存量");}
else
{document.getElementById("sum").innerHTML = sum +1;}
  });

$("#minus").click(function(){
  var sum = Number(document.getElementById("sum").innerHTML);
  if (sum == 1)
    {alert("無法低於1");}
  else
{document.getElementById("sum").innerHTML = sum - 1;}
  });


});
function changephoto(click_id) {
  
　document.getElementById("productimage").src= click_id;
}

function productregister(product_id,option_id)
{
    $('.ui.dimmer.main').dimmer('show');
    $.get( "/products/register?product_id="+product_id+"&product_option_id="+option_id, function(html) {
      $("#edit_from").empty();
      $("#edit_from").append(html);
      $('.ui.dimmer.main').dimmer('hide');

      $('.ui.modal.product-register').modal({
        observeChanges: true
      }).modal('refresh').modal('show');

    }).fail(function() {
      $('.ui.dimmer.main').dimmer('hide');
      alert( "error" );
    });
}

$("#add_cart").click(function(){
    var product_id = document.getElementById("product_id").value;
    var option_id = document.getElementById("option_id").value;
    if (option_id =="")
      alert("請先選擇規格");
    else
    {
    var sum = Number(document.getElementById("sum").innerHTML);
    var surplus = document.getElementById("optionsurplus").value;
    if (sum > surplus)
    {alert("不得大於庫存量");}
    else
    {
    var request = "/products/add_to_shoppingcart";
    var aj = $.ajax({
          url: request,
          type: 'post',
          data:{
             product_id: product_id,
             option_id: option_id,
             sum: sum,
           },
          dataType: 'text'
        }).success(function (upload_result) {
          if(upload_result == "success" ){
          alert( "已加入購物車" );
        }else{alert(upload_result);}
          
        }).fail(function (e) {
            alert( "尚未登入" );
        });
      }
    }
  });
$("#buy_btn").click(function(){
    var product_id = document.getElementById("product_id").value;
    var option_id = document.getElementById("option_id").value;
    if (option_id =="")
      alert("請先選擇規格");
    else
    {
    var sum = Number(document.getElementById("sum").innerHTML);
    var surplus = document.getElementById("optionsurplus").value;
    if (sum > surplus)
    {alert("不得大於庫存量");}
    else
    {
    var request = "/products/add_to_shoppingcart";
    var aj = $.ajax({
          url: request,
          type: 'post',
          data:{
             product_id: product_id,
             option_id: option_id,
             sum: sum,
           },
          dataType: 'text'
        }).success(function (upload_result) {
          if(upload_result == "success" ){
          window.location.replace("http://"+location.host+"/products/shoppingcart");
        }else{alert(upload_result);}
          
        }).fail(function (e) {
            alert( "尚未登入" );
        });
      }
    }
  });
$('.form-check form').on('click','.reply-btn',function(){
    var product_id = document.getElementById("product_id").value;
    var replycontent = document.getElementById("content").value;
    var request = "/product_messages";

      var aj = $.ajax({
          url: request,
          type: 'post',
          data:{
             product_id: product_id,
             replycontent: replycontent
           },
          dataType: 'json'
        }).success(function(upload_result) {
          if(upload_result == "success" ){
            window.location.reload();
          }
        }).fail(function(data) {
       window.location.reload();
        });
    return false; // prevents normal behaviour
  });
</script>
<script type="text/javascript">
  $(function(){
    // 先取得必要的元素並用 jQuery 包裝
    // 再來取得 $block 的高度及設定動畫時間
    var $block = $('#abgneBlock'),
      $slides = $('ul.list', $block),
      _width = $block.width(),
      $li = $('li', $slides),
      _animateSpeed = 600, 
      // 加入計時器, 輪播時間及控制開關
      timer, _showSpeed = 2500, _stop = false;

    // 產生 li 選項
    var _str = '';
    for(var i=0, j=$li.length;i<j;i++){
      // 每一個 li 都有自己的 className = playerControl_號碼
      _str += '<li class="playerControl_' + (i+1) + '"></li>';
    }

    // 產生 ul 並把 li 選項加到其中
    var $playerControl = $('<ul class="playerControl"></ul>').html(_str).appendTo($slides.parent()).css('left', function(){
      // 把 .playerControl 移到置中的位置
      // return (_width - $(this).width()) / 2;
      return
    });
    
    // 幫 li 加上 click 事件
    var $playerControlLi = $playerControl.find('li').click(function(){
      var $this = $(this);
      $this.addClass('current').siblings('.current').removeClass('current');

      clearTimeout(timer);
      // 移動位置到相對應的號碼
      $slides.stop().animate({
        left: _width * $this.index() * -1
      }, _animateSpeed, function(){
        // 當廣告移動到正確位置後, 依判斷來啟動計時器
        if(!_stop) timer = setTimeout(move, _showSpeed);
      });

      return false;
    }).eq(0).click().end();

    // 如果滑鼠移入 $block 時
    $block.hover(function(){
      // 關閉開關及計時器
      _stop = true;
      clearTimeout(timer);
    }, function(){
      // 如果滑鼠移出 $block 時
      // 開啟開關及計時器
      _stop = false;
      timer = setTimeout(move, _showSpeed);
    });
    
    // 計時器使用
    function move(){
      var _index = $('.current').index();
      $playerControlLi.eq((_index + 1) % $playerControlLi.length).click();
    }
  });
</script>