        <div class="navbar-before mobile-hidden">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p class="navbar-before-sign">Everything You Need is Germanysky</p>
                    </div>
                    <div class="col-md-6">
                    <ul class="nav navbar-nav navbar-right navbar-right-no-mar">
                        <li><a href="/consoles/aboutus">關於我們</a>
                        </li>
                        <li><a href="#">部落格</a>
                        </li>
                        <li><a href="/messages/new">留言版</a>
                        </li>
                        <li><a href="#">購物須知</a>
                        </li>
                    </ul>
                </div>
                </div>
            </div>
        </div>

        
        
        <nav class="navbar navbar-inverse navbar-main yamm">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#main-nav-collapse" area_expanded="false"><span class="sr-only">Main Menu</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img src="<%= asset_path 'logo-w.png' %>" alt="Image Alternative text" title="Image Title" />
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="main-nav-collapse">
                    
                    <form class="navbar-form navbar-left navbar-main-search navbar-main-search-category" role="search">
                <select class="navbar-main-search-category-select">
                    <option>所有分類</option>
                     <% @type_ones.each do |t| %>
             <option><%=t.name %></option>
              <% if t.type_twos.size>0 %>
                <% t.type_twos.each do |two| %>
                <option>&nbsp;&nbsp;&nbsp;<%= two.name %></option>
                <% end %>
              <%end%>
            <% end %>
                </select>
                <div class="form-group">
                    <input class="form-control" type="text" size="80" placeholder="全站商品搜尋" />
                </div>
                <a class="fa fa-search navbar-main-search-submit" href="#"></a>
            </form>
                    <ul class="nav navbar-nav navbar-right">
                    <% if @current_user.present? %>
                        <li><a href="" data-effect="mfp-move-from-top" class="popup-text"><%= @current_user.name %>您好</a>
                        </li>
                        <li><a href="/consoles/logout" >登出</a>
                        </li>
                    <% else %>
                        <li><a href="/consoles/login" >登入/註冊</a>
                        </li>
                    <% end %>
                        
                        <% if @current_user.present? && @current_user.role!=1%>
                <li class="dropdown"><a href="/products/shoppingcart"><span >購物車</span>
                
                <i class="fa fa-shopping-cart"></i><% if @barcarts.size > 0 %><% @barcarts.size %><% else %> 0 <%end%>件商品</a>
                <% if @barcarts.size > 0 %>
                    <ul class="dropdown-menu dropdown-menu-shipping-cart">
                        <%@cartprice=0%>
                            <%@barcarts.each do |b| %>
                        <li>
                            <a class="dropdown-menu-shipping-cart-img" href="#">
                                <img src="<%= asset_path '100px.png' %>" alt="Image Alternative text" title="Image Title" />
                            </a>
                            <div class="dropdown-menu-shipping-cart-inner">
                                <p class="dropdown-menu-shipping-cart-price">數量：<%=b.sum %> $<%=b.product_option.price*b.sum%></p>
                                <p class="dropdown-menu-shipping-cart-item"><a href="#"><%=b.product.name%></a>
                                </p>
                            </div>
                        </li>
                               <%@cartprice += b.product_option.price*b.sum%>
                               <%end%>
                        <li>
                            <p class="dropdown-menu-shipping-cart-total">Total: $<%=@cartprice%></p>
                            <button class="dropdown-menu-shipping-cart-checkout btn btn-primary">結帳</button>
                        </li>
                    </ul>
                <%else%>
                    <ul class="dropdown-menu dropdown-menu-shipping-cart">
                            
                            <li>
                                <p class="dropdown-menu-shipping-cart-total">Total: $0</p>
                                <button class="dropdown-menu-shipping-cart-checkout btn btn-primary">立即購物</button>
                            </li>
                        </ul>
                <%end%>
                </li>
                <%end%>
                    </ul>
                </div>
            </div>
        </nav>
    <% if @current_user != nil && @current_user.role == 1 %>
        <nav class="navbar-defaulta navbar-main-white yamm" style="padding:0">
        <div class="container">
            <div class="collapse navbar-collapse navbar-collapse-no-pad" id="main-nav-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown"><a href="/newsboards"><span ></span>公佈欄設定</a>
                    </li>
                    <li class="dropdown"><a href="#"><span ></span>商品管理</a>
                    </li>
                    <li class="dropdown"><a href="#"><span ></span>分類管理</a>
                    </li>
                    <li class="dropdown"><a href="#"><span ></span>付款運送</a>
                    </li>
                    <li class="dropdown"><a href="#"><span ></span>訂單管理</a>
                    </li>
                    <li class="dropdown"><a href="#"><span ></span>使用者管理</a>
                    </li>
                    <li class="dropdown"><a href="#"><span ></span>電子報發送</a>
                    </li>
                    <li class="dropdown"><a href="#"><span ></span>系統設定</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <% else %>
    <nav class="navbar-defaulta navbar-main-white yamm" style="padding:0">
        <div class="container">
            <div class="collapse navbar-collapse navbar-collapse-no-pad" id="main-nav-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown"><a href="/products"><span ></span><b>商品展示</b><i class="drop-caret" data-toggle="dropdown"></i></a>
                        <ul class="dropdown-menu dropdown-menu-category">
                           
                        <% @type_ones.each do |t| %>
                            <li><a href="/products?type=<%=t.id%>"><i class="fa fa-tags dropdown-menu-category-icon"></i><%=t.name %></a>
                                <div class="dropdown-menu-category-section">
                                    <div class="dropdown-menu-category-section-inner">
                                        <div class="dropdown-menu-category-section-content">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h5 class="dropdown-menu-category-title"><%=t.name %></h5>
                                                    <ul class="dropdown-menu-category-list">
                                                    <% if t.type_twos.size>0 %>
                                                    <% t.type_twos.each do |two| %>
                                                        <li><a href="/products?type2=<%=two.id%>"><%= two.name %></a>
                                                            <p><%= two.description %></p>
                                                        </li>
                                                        <%end%>
                                                        <%end%>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <%end%>
                        </ul>
                    </li>

                    <li class="dropdown"><a href="/newsboards"><span ></span><b>最新消息</b></a>
                    </li>
                    <li class="dropdown"><a href="#"><span ></span>促銷活動</a>
                    </li>
                    <li class="dropdown"><a href="/consoles/aboutus"><span ></span>關於我們</a>
                    </li>
                    <li class="dropdown"><a href="#"><span ></span>購物流程</a>
                    </li>
                    <li class="dropdown"><a href="#"><span ></span>注意事項</a>
                    </li>
                    <li class="dropdown"><a href="#"><span ></span>留言版</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <% end %>