<!DOCTYPE html>
<html>
  <style>
  </style>
  <head>
    <title>Germanysky</title>
      <%= Gon::Base.render_data %>
      <%= include_gon(:init => true) %>
      <%= stylesheet_link_tag   "application", :media => "all"%>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
<!--     <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta name="keywords" content="Template, html, premium, themeforest" />
    <meta name="description" content="TheBox - premium e-commerce template">
    <meta name="author" content="Tsoy">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  </head>
  <body>
 <%= yield %>
  </body>
</html>
