<!DOCTYPE html>
<html xmlns:og='http://ogp.me/ns#'>
  <style>
  </style>
  <head>
    <title>H Color</title>
      <%= Gon::Base.render_data %>
      <%= include_gon(:init => true) %>
      <%= stylesheet_link_tag   "application", :media => "all"%>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
      <meta property="og:description" content="Hcolor BEAUTYSALON"></meta>
      <meta property="og:url" content="http://45.33.24.241/hcolors"></meta>
      <meta property="og:image" content="<%= asset_path 'link.png' %>"></meta>
  </head>
  <body>
 <%= yield %>
  </body>
</html>
