<!DOCTYPE html>
<html xmlns:og='http://ogp.me/ns#'>
  <style>
  </style>
  <head>
    <title>設計師｜預約｜作品｜優惠｜空間</title>
      <%= Gon::Base.render_data %>
      <%= include_gon(:init => true) %>
      <%= stylesheet_link_tag   "application", :media => "all"%>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
      
  </head>
  <body>
 <%= yield %>
  </body>
</html>
