<%= form_for(@account) do |f| %>
<div class="ui stackable one column centered grid">
  <div class="fourteen wide column">
    <div class="ui large form" style="text-align:left;">
      
      <div class="required field">
        <label>帳號 Account：</label>
        <%= f.text_field :account_name, placeholder: "請輸入帳號" %>
      </div>
      <div class="required field">
        <label>密碼 Password：</label>
        <%= f.password_field :password, placeholder: "請輸入密碼" %>
      </div>
      <div class="required field">
      <%= f.password_field :password_confirmation, placeholder: "請再次輸入密碼" %>
      </div>
      <div class="required field">
        <label>姓名 Name：</label>
        <%= f.text_field :name, placeholder: "請輸入姓名" %>
      </div>
      <div class="required field">
        <label>信箱 Email：</label>
        <%= f.text_field :email, placeholder: "請輸入信箱" %>
      </div>
      <div class="required field">
        <label>聯絡電話 Phone：</label>
        <%= f.text_field :phone1, placeholder: "請輸入電話" %>
      </div>
        <div class="required field">
        <label>收件地址 Address：</label>
        <%= f.text_field :address, placeholder: "請輸入地址" %>
      </div>
    </div>
    <br>
    <div>


    <div class="ui divider"></div>
    <button id="account_form_submit" class="ui teal basic button">
      <i class="write icon"></i>送出
    </button>

  </div>
</div>



<% end %>
<script type="text/javascript">
$(function(){
  $('select.dropdown')
    .dropdown()
  ;
  $('form').submit(function() {
    var valuesToSubmit = $(this).serialize();
    $("#account_form_submit").addClass("loading");
    console.log($(this).attr('action'));
    $.ajax({
        url: $(this).attr('action'), //sumbits it to the given url of the form
        type: 'POST',
        processData: false,
        contentType: false,
        data: new FormData(this)
    }).success(function(upload_result){
        console.log(upload_result);
        if(upload_result == "success" ){
          window.location.replace("http://"+location.host+"/console");
        }
    }).fail(function(e) {
        console.log(e);
    }).done(function(){
      $("#account_form_submit").removeClass("loading");
    });
    return false; // prevents normal behaviour
  });
});

function ValidateNumber(e, pnumber)
{
    if (!/^\d+$/.test(pnumber))
    {
        $(e).val(/^\d+/.exec($(e).val()));
    }
    return false;
}
</script>
